/* disable elastic scroll */
/*
html, body{ height: 100%; overflow: hidden; }
.mainContainer{
  position: absolute;
  top: 0;
  botto: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
*/
h1, h2{ color: #003d56; }

.well h3 {
  margin-top: 0;
}

li.active a {
  color: #111;
}

/** NG CLOAK */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*<div class='featured-event'>
                    <span>WorldSkills Sao Paulo 2015</span>
                    <div class='featured-event-image'>
                        <img src='http://lorempixel.com/250/160/city/' alt='Sao Paulo 2015' />
                        <span>17 possible connections&nbsp;<span class='glyphicon glyphicon-info-sign'></span>
                    </div>
                </div>*/


.sidebar{
	border-left: 1px solid #eee;
}

.sidebar-right{
	border-right: 1px solid #eee;
}

.featured-event{
	margin-bottom: 3em;
}


.badge.red{ background-color: #c9302c; color: #fff; }
.featured-event > div{
	font-size: 85%;
	margin-bottom: 4px;
	font-weight: bold;
}

.featured-event-image{
	height: auto;
	width: 100%;
	position: relative;
	z-index: 4;
}

.featured-event-image > span{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 5;
  border: 1px solid #fff;
  background-color: #fff;
  border: 2px;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 85%;
}

.video-intro{
	width: 560px;
	height: 315px;
	/*width="560" height="315"*/
}

.popular-connection{
	margin-bottom: 2em;
}

.popular-connection > div{
	font-size: 90%;
	margin-bottom: 4px;
	font-weight: bold;
	text-align: center;
}

.popular-connection-image{
	height: auto;
	width: 100%;
}

.popular-connection-image img{ 	margin-bottom: 0; }

.events{ clear: both; }

.cb{ clear: both; }

.pad-left{ margin-left: 1em; }

.event{
	margin-bottom: 3em;
	float: left;
	margin-right: 2em;
	border: 0;
}

/*.event:first-of-type{ margin-left:;}*/

.event > div{
	font-size: 85%;
	margin-bottom: 4px;
	font-weight: bold;
}

.event > div:first-child > a{
	font-size: 110%;
}

.event-image{
/*	height: auto;*/
	/*width: 100%;*/
	position: relative;
	z-index: 4;
}

.event-image > span{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 5;
  border: 1px solid #fff;
  background-color: #fff;
  border: 2px;
  font-weight: normal;
  border-radius: 3px;
  padding: 3px 6px;
  font-size: 85%;
}

.event-image img{ 	margin-bottom: 0; }

.event-attendance, .event-attendance a{
	margin-top: .5em;
	font-size: 85%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}





fieldset{ margin-bottom: 3em; }
legend{ color: #003d56; }
.contentRow{ padding-bottom: .5em; }
.contentRow > div:first-child{ text-align: right; font-weight: bold; color: #003d56; }
.contentRow > div:first-child.checkbox{ text-align: left; font-weight: normal; color: #000; }
/* copied FROM people */

a.eventLink > .thumbnail .caption{ font-size: 85%; font-weight: normal;}
a.contactLink > .thumbnail .caption{ font-size: 85%; font-weight: normal;}
a.eventLink:hover, a.contactLink:hover{ text-decoration: none; }
.fullWidth{ width: 100%; }

.label-small{
	font-size: 50%;
}

.dropdown-menu a.active{
	background-color: #337ab7;
	color: #fff;
	border-color: #337ab7;
}

.blue{ color: #337ab7; }

/** popover */
.popover-content{
	font-size: 85%;
}

.listImage{ max-height: 110px; }


.ch{ cursor: pointer; }

ul.sortableContainer.highlightBox{ min-height: 25px; border: 1px dashed #dfdfdf; border-radius: 5px; }

.searchContainer{ padding-right: 1em; width: 200px; position: relative; }
.searchControl{ font-size: 85%; height: 31px;  }
.searchIcon{
	position: absolute;
    right: 23px;
    top: 8px;
    color: #c0c0c0;
}

.idBadge{
	font-size: 50%;
	color: #dfdfdf;
}

.addForm label, .editForm label{ font-size: 85%; }


.angucomplete-description{ font-size: 85%; font-style: italic; }
/*.angucomplete-title{ font-size: 90%; font-weight: bold; }*/

hr.edit-divider{ margin-top: 0; margin-bottom: 10px; }

.aside{
	padding: 2em;
}

legend.aside{ padding: 0; font-size: 100%; margin-bottom: 1em; }

/*.ng-invalid, .ng-invalid-required{
	background-color: #a94442;
	color: #a94442;
}*/

.smallText{ font-size: 75%; }


.permissionList div{ margin-bottom: 1em; }
.permissionList div a{ font-weight: normal; }
.permissionList div.active a, li.permissionList a.active{ font-weight: bold; }
.catalogueGrid{ height: 500px; }
.statusRed{  background-color: #EEB4B4 !important;}
.statusYellow{ background-color: #FFF68F !important;}
.statusGreen{  background-color: #CDE472 !important;}

/*.statusRed{  color: #fff; background-color: #d9534f !important;}
.statusYellow{ color: #fff; background-color: #f0ad4e !important;}
.statusGreen{  color: #fff; background-color: #449d44 !important;}*/

.ui-grid-cell-contents{ font-size: 90%; }
.fullscreen{ width: 100% !important; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background-color: #fff; }
.btnFullscreen{ position: absolute; top: 5px; right: 5px; z-index: 10000; }

/*.editForm .nav > li > a{ padding: 10px; }*/
.editForm .nav-tabs > li > a { font-size: 100%; }


/** COLORING FOR TABLE CELLS **/
.table tbody tr.success > td{
  background-color: #dff0d8 !important;
}

.table tbody tr.error > td {
  background-color: #f2dede !important;
}

.table tbody tr.warning > td{
  background-color: #fcf8e3 !important;
}

.table tbody tr.info > td {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc !important;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc !important;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3 !important;
}

.angucomplete-dropdown{ max-height: 400px; overflow-y: auto; }

.il-public-items-category {
    page-break-after: always;
}

.il-public-items-table {
    font-size: 13px;
}

.il-public-items-table tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

@media print {

    .container {
        width: auto !important;
    }

    .il-public-items-table {
        font-size: 11px !important;
    }

    .il-public-items-table th,
    .il-public-items-table td {
        padding: 2px 5px !important;
    }

    footer,
    .il-public-items-back {
        display: none;
    }
}


@media (min-width: 1400px) {
  .catalogue-container {
    width: 1370px;
    margin-left: -115px;
  }
}

.disabled, .disabled a{
  background-color: #f3f3f3;
  color: #b6b6b6 !important;
}


/* public files */

.filelist{

}
.public-files, .public-files li{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.public-files li a{
  display: block;
  padding: 4px 0;
  word-wrap: break-word;
}

.public-files li a:hover{
  display: block;
  padding: 4px 0;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.upload-table {
  table-layout: fixed;
  word-wrap: break-word;
}


.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.b{
  font-weight:bold;
}

table.vmiddle > tbody > tr > td {
    vertical-align: middle;
}
.tab-content {
    padding-top: 15px;
}

th, td {
    &.actions {
        text-align: right;
    }
}

.panel-body ul {
    padding-left: 15px;
}

.badge.smallText {
    font-size: 75%;
    padding-top: 4px;
    padding-bottom: 1px;
}

.addForm.ml-3 label {
    font-weight: normal;
}

th.select, td.select {
    min-width: 60px;
    text-align: center;
    label {
        margin-bottom: 0;
    }
}

.panel-heading-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-with-actions {
    td:last-child {
        display: flex;
        align-items: center;
        border-left: 0;
        a:first-child {
            margin-left: 8px;
        }
    }
    th:last-child {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}

$spacer-3: 15px;
.mt-3 {margin-top:     $spacer-3 !important;}

.panel-validation {
    margin-top: 50px;
  }
  
  .panel-validation table tr td {
    vertical-align: middle;
  }
  
  .panel-validation table tr th {
    vertical-align: middle;
  }
  
  .panel-validation table tr th:last-child {
    text-align: center;
  }
  
  .panel-validation table tr td.button {
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
  }
  
  .panel-validation table tr td.button a {
    color: #000000;
  }
  
  .panel-validation-view {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 0;
  }
  
  .panel-validation-view .panel-heading {
    padding: 0;
    border-bottom: 0;
  }
  
  .panel-validation-view .panel-body {
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .panel-validation-view .table-validation table {
    margin-bottom: 0;
  }
  
  .panel-validation-view .table-validation table th:last-child, .panel-validation-view .table-validation table td:last-child {
    text-align: center !important;
  }
  
  .panel-validation-view .table-validation table .col-5 {
    width: 5%;
  }
  
  .panel-validation-view .table-validation table .col-10 {
    width: 10%;
  }
  
  .panel-validation-view .table-validation table .col-15 {
    width: 15%;
  }
  
  .panel-validation-view .table-validation table .col-20 {
    width: 20%;
  }
  
  .panel-validation-view .table-validation table .col-25 {
    width: 25%;
  }
  
  .panel-validation-view .table-validation table td {
    padding: 15px 8px;
  }
  
  .panel-validation-view .table-validation .button {
    cursor: pointer;
  }
  
  .panel-validation-view .table-validation.bordered {
    border: solid 1px #ddd;
  }
  
  .panel-validation-view table.table-in-validation {
    margin: 0;
  }
  
  .panel-validation-view table.table-in-validation .col-5 {
    width: 5%;
  }
  
  .panel-validation-view table.table-in-validation .col-10 {
    width: 10%;
  }
  
  .panel-validation-view table.table-in-validation .col-15 {
    width: 15%;
  }
  
  .panel-validation-view table.table-in-validation .col-20 {
    width: 20%;
  }
  
  .panel-validation-view table.table-in-validation .col-30 {
    width: 30%;
  }
  
  .panel-validation-view table.table-in-validation .description {
    width: 30%;
  }
  
  .panel-validation-view table.table-in-validation td {
    background: white;
    padding: 10px;
    vertical-align: middle;
  }
  
  .panel-validation-view table.table-in-validation th {
    background-color: #f5f5f5;
  }
  
  .panel-validation-view table.table-in-validation tr.actuel td.change {
    font-weight: 600;
    background-color: #f5f5f5;
  }
  
  .panel-validation-view table.table-in-validation tr.actuel td:first-child {
    text-align: center;
    font-weight: 600;
  }
  
  .panel-validation-view table.table-in-validation tr.remplace td.change-warning {
    color: #f0ad4e;
    font-weight: 500;
    background-color: #f5f5f5;
  }
  
  .panel-validation-view table.table-in-validation tr.remplace td:first-child {
    text-align: center;
    border: none !important;
    color: #f0ad4e;
    font-weight: 500;
  }
  
  .panel-validation-view table.table-in-validation .image {
    position: relative;
  }
  
  .panel-validation-view table.table-in-validation .image img {
    width: 100%;
  }
  
  .panel-validation-view .table-container {
    padding: 15px;
  }
  
  .panel-validation-view .table-container .button-group {
    margin-top: 15px;
  }
  
  .panel-validation-view .table-container .button-group button {
    margin-left: 10px;
  }
  
  .modal-rejection .modal-body {
    padding: 20px;
    text-align: center;
  }
  
  .modal-rejection .modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .lightgallery-validation.lightgallery .hover-effect img.zoom {
    width: 20px !important;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
  }
  
  .lightgallery-validation.lightgallery:hover .hover-effect img.zoom {
    opacity: 1;
  }
  
  .lightgallery-validation.lightgallery .hover-effect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
  }
  
  .lightgallery-validation.lightgallery:hover .hover-effect {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 0.50s ease 0s;
    -o-transition: background-color 0.50s ease 0s;
    transition: background-color 0.50s ease 0s;
  }
  
  .lightgallery-validation.lightgallery:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  
  .lightgallery-validation.lightgallery img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    transition: -webkit-transform 0.15s ease 0s;
    -o-transition: transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  }

  .icon-circled {
    background: #7c9eb2;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    color: white;
  }
  