.item_description{ font-size: 13px; font-weight: bold; }


.sortableContainer .sortableContainer{ margin-bottom: 0; margin-top: 10px; }
.supplied-key{ font-size: 80%; color: #9c9c9c}
.supplied-val{ font-size: 80%; }
