
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dddddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    color: #7c9eb2;
    font-weight: normal;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    /*margin: 10px;*/
    margin: -1px 0px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #fff;
    border: 1px dashed #dddddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tree-node-content small{ padding-right: 4em; }

.tree-header{
    border: 0;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: .2em;
    border-radius: 0;
}

.tree-header small.areaHeader{ padding-right: 5em; }
.tree-header small.quantityHeader{ padding-right: 5em; width: 150px; }
.tree-header small.supplierHeader{ padding-right: 5em; }
.tree-header small.statusHeader{ padding-right: 5em; }
.tree-header small.actionsHeader{ padding-right: 3em; }
.tree-node-content .toggler{ margin-right: .4em;}

.tree-node small.skill-area{ padding-right: 3.5em; }
.tree-node small.quantity{ padding-right: 3.5em; width:150px; }
.tree-node small.status{ padding-right: 2.5em; }
.tree-node .actions{ padding-right: 3em; }

.rotate90{
    -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
        transform: rotate(180deg);
}
