<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">
  <p>
    <span translate>ARE_YOU_SURE_ADD</span> <b>{{data.itemset.title}}</b> <span translate>TO_THE_LIST</span>
  </p>
  <p>
    &nbsp;
  </p>
  <h5 translate>DESCRIPTION</h5>
  <p>
    {{data.itemset.description}}
  </p>
  <p>
    &nbsp;
  </p>
  <h5 translate>ITEMS</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th translate>TH_ID</th>
        <th translate>TH_DESCRIPTION</th>
        <th translate>TH_MAKE</th>
        <th translate>TH_MODEL</th>
        <th translate>TH_QTY</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data.itemset.originalObject.items track by item.id">
        <td>{{item.item.id}}</td>
        <td>{{item.item.description.text}}</td>
        <td>{{item.item.make}}</td>
        <td>{{item.item.model}}</td>
        <td>{{item.readable_quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
