<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">
  <p>
    Are you sure you want to add <b>{{data.itemset.title}}</b> to the list?
  </p>
  <p>
    &nbsp;
  </p>
  <h5>Description</h5>
  <p>
    {{data.itemset.description}}
  </p>
  <p>
    &nbsp;
  </p>
  <h5>Items</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Make</th>
        <th>Model</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data.itemset.originalObject.items track by item.id">
        <td>{{item.item.id}}</td>
        <td>{{item.item.description.text}}</td>
        <td>{{item.item.make}}</td>
        <td>{{item.item.model}}</td>
        <td>{{item.readable_quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
