<div class='aside'>
  <fieldset>
    <legend translate>add_new_item</legend>
    <alerts></alerts>
    <form name='addForm'>
      <div class="row">
        <div class="col col-sm-12 col-md-6">
          <div class='well'>
            <h5 translate>requested_item</h5>
            <div ng-if='canEditItemStatus'>
              <div class="form-group editForm has-feedback has-success">
                <label class='control-label' translate>status</label>
                <ui-select ng-model="item.status" theme="bootstrap">
                  <ui-select-match placeholder="{{ 'placeholder.select_status' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                  <ui-select-choices repeat="status in statuses | orderBy:'name.text'">
                    <div ng-bind-html="status.name.text"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <!-- catalogue view only -->
            <div ng-if="suppliedItem.force === true">
              <div class="form-group addForm">
                <label class='control-label' translate>list</label>
                <ui-select ng-model="newLinkedItem.list" theme="bootstrap" on-select="addLinkedItemListSelected($item, $model)" title="{{ 'title.choose_list' | translate }}">
                  <ui-select-match placeholder="{{ 'placeholder.choose_list' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                  <ui-select-choices repeat="list as list in (lists | customWSFilter: {objPath: 'name.text', 'query': $select.search}) track by $index">
                    <div ng-bind-html="list.name.text"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

              <div class="form-group addForm">
                <label class='control-label' translate>category</label>
                <!--<input type="text" class="input-sm form-control" placeholder="Installation type" ng-model='categoryId'>-->
                <ui-select ng-model="newLinkedItem.category" theme="bootstrap" title="{{ 'placeholder.choose_category' | translate }}">
                  <ui-select-match placeholder="{{ 'placeholder.choose_category' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                  <ui-select-choices repeat="cat as cat in (categories | customWSFilter: {objPath: 'name.text', 'query': $select.search}) track by $index">
                    <div ng-bind-html="cat.name.text"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div ng-if="(suppliedItem.force === true && !newLinkedItem.category.id)" class="alert alert-warning" translate>must_select_category</div>
            <!-- catalogue view only -->

            <div class="row">
              <div class="col-md-4">
                <div class="form-group addForm has-feedback"  ng-class="{'has-error': addForm.quantity.$dirty && addForm.quantity.$error.required, 'has-success': !addForm.quantity.$error.required}">
                  <label class='control-label' translate>quantity</label>
                  <input name="quantity" type="number" class="input-sm form-control" placeholder="{{ 'placeholder.quantity' | translate }}" ng-model='item.quantity' required="{{ 'required.quantity_is_missing' | translate }}" ng-required="true">
                  <span ng-if="!addForm.quantity.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  <span ng-if="addForm.quantity.$dirty && addForm.quantity.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group addForm has-feedback has-success">
                  <label class='control-label' translate>multiplier</label>
                  <!-- <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multiplier.name for multiplier in multipliers track by multiplier.id"></select>             -->
                  <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multi.id as ('constant.multipliers.' + multi.id.toLowerCase()) | translate for multi in multipliers"></select>

                </div>
              </div>
              <div class="col-md-4">
                <div ng-if="factorNeeded(item.multiplier)">
                  <div class="form-group addForm has-feedback"  ng-class="{'has-error': addForm.multiply_factor.$error.required, 'has-success': !addForm.multiply_factor.$error.required}">
                    <label class='control-label' translate>multiply_factor</label>
                    <input name='multiply_factor' type="number" class="input-sm form-control" placeholder="{{ 'placeholder.x_number' | translate }}" ng-model='item.multiply_factor' required="{{ 'required.multiply_factor_required' | translate }}" ng-required="true">
                    <span ng-if="!addForm.multiply_factor.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="addForm.multiply_factor.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group editForm has-feedback"  ng-class="{'has-error': editForm.additional_quantity.$error.required, 'has-success': !editForm.additional_quantity.$error.required}">
              <label class='control-label' translate>additional_quantity</label>
              <input name="quantity" type="number" class="input-sm form-control" placeholder="{{ 'placeholder.additional_quantity' | translate }}" ng-model='item.additional_quantity' required="{{ 'required.additional_quantity_is_missing' | translate }}" ng-required="false">
              <span ng-if="!editForm.additional_quantity.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span ng-if="editForm.additional_quantity.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="form-group editForm has-feedback" ng-class="{'has-error': editForm.unit.$dirty && editForm.unit.$error.required, 'has-success': !editForm.unit.$error.required}">
              <label class='control-label' translate>unit</label>
              <select name="unit" class="input-sm form-control" ng-model="item.unit">
                <option value=""></option>
                <option value="pcs" translate="{{UNITS['pcs']}}"></option>
                <option value="t" translate="{{UNITS['t']}}"></option>
                <option value="kg" translate="{{UNITS['kg']}}"></option>
                <option value="g" translate="{{UNITS['g']}}"></option>
                <option value="l" translate="{{UNITS['l']}}"></option>
                <option value="boxes" translate="{{UNITS['boxes']}}"></option>
                <option value="boots" translate="{{UNITS['boots']}}"></option>
                <option value="bottles" translate="{{UNITS['bottles']}}"></option>
                <option value="sheets" translate="{{UNITS['sheets']}}"></option>
                <option value="kits" translate="{{UNITS['kits']}}"></option>
                <option value="m" translate="{{UNITS['m']}}"></option>
                <option value="cm" translate="{{UNITS['cm']}}"></option>
                <option value="m2" translate="{{UNITS['m2']}}"></option>
                <option value="m3" translate="{{UNITS['m3']}}"></option>
              </select>
            </div>

              <div class="form-group addForm has-feedback" ng-class="{'has-error': addForm.supplier.$error.required, 'has-success': !addForm.supplier.$error.required}">
                <label class='control-label' translate>potential_supplier</label>
                <!-- <input name="supplier" type="text" class="input-sm form-control" placeholder="{{ 'placeholder.potential_supplier' | translate }}" ng-model='item.supplier' ng-trim="true"> -->
                <angucomplete-alt
                  id="id"
                  placeholder="{{ 'placeholder.potential_supplier' | translate }}"
                  pause="400"
                  selected-object="item.selectedSupplier"
                  remote-url="{{searchSupplierAPI}}"
                  remote-url-request-with-credentials="true"
                  remote-url-data-field="suppliers"
                  title-field="name"
                  minlength="1"
                  search-fields="name"
                  disable-input="disableInputSupplier"
                  focus-first="true"
                  input-changed="supplierChanged"
                  override-suggestions="true"
                  field-required="false"
                  text-searching="false"
                  text-no-results="{{ 'text_no_results.no_existing_suppliers_found' | translate }}"
                  initial-value="item.supplier"
                  input-class="input-sm form-control angucomplete-overflow"
                />
                <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> -->
              </div>
                <div class="form-group addForm has-feedback has-success">
                  <label class='control-label' translate>estimated_price</label>
                  <input name='price' type="number" class="input-sm form-control" ng-model="item.price" placeholder="{{ 'placeholder.estimated_price' | translate }}">
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                </div>
              <div class="form-group addForm has-feedback has-success">
                <label class='control-label' translate>skill_area</label>
                <!-- <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multiplier.name for multiplier in multipliers track by multiplier.id"></select>             -->
                <select class="form-control input-sm" ng-model="item.area.id" ng-options="area.id as area.name for area in skillAreas"></select>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              </div>
              <div class="form-group addForm has-feedback has-success">
                <label class='control-label' translate>tier</label>
                <select class="form-control input-sm" ng-model="item.tier_id" ng-options="tier.id as tier.name.text for tier in tiers">
                  <option></option>
                </select>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              </div>
              <div data-nodrag class="checkbox addForm form-group has-feedback has-success">
                <label>
                  <input type="checkbox" ng-model="item.secret"> <span translate>secret_item</span>
                </label>
              </div>
              <div data-nodrag class="checkbox addForm form-group has-feedback has-success">
                <label>
                  <input type="checkbox" ng-model="item.vat_refund"> <span translate>vat_refundable</span>
                </label>
              </div>

          </div> <!-- well -->
        </div>
        <div class="col col-sm-12 col-md-6">
          <div class="form-group addForm" ng-if="item.supplied_item">
            <div class="well">
              <h5 translate>supplied_item</h5>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_description</div>
                <div class="col col-xs col-xs-8">{{ item.supplied_item.description.text }}</div>
              </div>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_manufacturer</div>
                <div class="col col-xs col-xs-8">{{item.supplied_item.manufacturer || '-'}}</div>
              </div>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_model</div>
                <div class="col col-xs col-xs-8">{{item.supplied_item.model || '-'}}</div>
              </div>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_size</div>
                <div class="col col-xs col-xs-8">{{item.supplied_item.size || '-'}}</div>
              </div>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_part_num</div>
                <div class="col col-xs col-xs-8">{{item.supplied_item.part_number || '-'}}</div>
              </div>
              <div class="row">
                <div class="col col-xs col-xs-4" translate>th_supplier</div>
                <div class="col col-xs col-xs-8">{{ item.supplied_item.supplier.name || '-' }}</div>
              </div>
              <br>
              <div class="form-group">
                <a data-nodrag ng-if="event.userCanCreate" class='btn btn-sm btn-primary' ng-click="editSuppliedItem()" translate>edit_supplied_item</a>
                <a data-nodrag class='btn btn-sm btn-info' ng-click="switchSuppliedItem(item)" translate>switch_supplied_item</a>
              </div>
              <div ng-if="item.supplied_item.multiple_linked_lists" class="alert alert-warning" data-nodrag><span translate>item_attached_to_multiple_skills</span></div>
            </div>
          </div>
        </div>
      </div>
      <button ng-disabled="addForm.$error.required  || (suppliedItem.force === true && !newLinkedItem.category.id)" ng-click="addItem();" class='btn btn-sm btn-success' translate>button_add_item</button>
      <button ng-click="cancel();" class='btn btn-sm btn-warning' translate>button_cancel</button>
    </form>
  </fieldset>
</div>
