<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">

  <p ng-if="data.items" translate>sure_combine_items</p>
  <div ng-if="data.linkedItems" class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<strong translate>important!</strong> <span translate>item_attached_to_skill</span></div>
  <p>
    &nbsp;
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th translate>th_keep</th>
      <th translate>th_id</th>
      <th translate>th_description</th>
      <th translate>th_manufacturer</th>
      <th translate>th_model</th>
      <th ng-if="data.linkedItems" translate>th_linked</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data.items track by $index">
      <td><button class="btn btn-xs" ng-click="data.selectMaster(item); data.masterItem = item;"
      ng-class="{'btn-success': item == data.masterItem, 'btn-default': item != data.masterItem}">
        <span ng-if="item == data.masterItem" class="glyphicon glyphicon-check"></span>
        <span ng-if="item != data.masterItem" class="glyphicon glyphicon-unchecked"></span>
      </button></td>
      <td>{{item.id}}</td>
      <td>{{item.description.text}}</td>
      <td>{{item.manufacturer}}</td>
      <td>{{item.model}}</td>
      <td ng-if="data.linkedItems">
        <span ng-if="item.linkedItems" translate>yes</span>
        <span ng-if="!item.linkedItems" translate>NO</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button ng-if="data.items" ng-disabled="!data.masterItem" class="btn btn-danger" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
