<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">

  <div ng-if="data.items.length == 0" class="alert alert-info">This item is not yet used in any skills.</div>

  <table class="table table-striped" ng-if="data.items.length > 0">
    <thead>
    <tr>
      <th>Requested</th>
      <th>Skill</th>
      <th>ID</th>
      <th>Category</th>
      <th>Qty</th>
      <th>Supplier (potential)</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data.items track by item.id">
      <td>{{item.description.text}} <span class="label label-info">{{item.description.lang_code}}</span></td>
      <td>{{item.category.list.skill.name.text}}</td>
      <td>{{item.id}}</td>
      <td>{{item.category.category.name.text}}</td>
      <td>{{item.readable_quantity}}</td>
      <td>{{item.supplier}}</td>
      <td>{{item.status.name.text}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
</div>
