<div class="modal-header">
  <h3 class="modal-title pull-left">{{data.title}}</h3>
  <span class="pull-right"><button ng-click="data.newLinkedItem(data.suppliedItem, data.items)" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new linked item</button></span>
  <br class="clearfix">
</div>
<div class="modal-body">
  <alerts></alerts>
  <div ng-if="data.items.length == 0" class="alert alert-info">This item is not yet used in any skills.</div>

  <table class="table table-striped" ng-if="data.items.length > 0">
    <thead>
    <tr>
      <th>ID</th>
      <th>Requested</th>
      <th>Skill</th>
      <th>Category</th>
      <th>Qty</th>
      <th>Supplier (potential)</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data.items track by item.id"
    ng-class="{'success': item.new || item.updated}">
      <td>{{item.id}}
        <span ng-if="item.new" class="label label-success">new</span>
        <span ng-if="item.updated" class="label label-success">updated</span>
      </td>
      <td>{{item.description.text}}&nbsp;<span class="label label-info">{{item.description.lang_code}}</span></td>
      <td>{{item.category.list.skill.name.text}}</td>
      <td>{{item.category.category.name.text}}</td>
      <td>{{item.readable_quantity}}</td>
      <td>{{item.supplier}}</td>
      <td>{{item.status.name.text}}</td>
      <td>
        <div style="width: 55px;">
          <button ng-click="data.editRequestedItem(item)" style="margin-right: .2em" class="pull-right btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit"></i></button>
          <button ng-click="data.unlinkRequestedItem(item, data.items, $index)" style="margin-right: .2em" class="pull-right btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
</div>
