<div class='aside'>
  <fieldset>
    <legend ng-if="!item.id">Add new item</legend>
    <legend ng-if="item.id">Editing item</legend>

    <form class="editForm" name='editForm'>
        <uib-tabset active="supplied01">
          <uib-tab index="0" heading="General">
            <div class='well'>
              <fieldset><legend class="aside">Item information published in the IL list</legend>
                <div class="row">
                  <div class="col col-xs-12 form-group has-feedback" ng-class="{'has-error': editForm.description.$error.required, 'has-success': !editForm.description.$error.required}">
                    <label class='control-label'>Description</label>
                    <input type="text" name="description" class="input-sm form-control" ng-required="true" placeholder="Description" ng-model='item.description.text'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.manufacturer.$error.required, 'has-success': !editForm.manufacturer.$error.required}">
                    <label class='control-label'>Manufacturer</label>
                    <input type="text" name="manufacturer" class="input-sm form-control" ng-required="true" placeholder="Manufacturer" ng-model='item.make'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.model.$error.required, 'has-success': !editForm.model.$error.required}">
                    <label class='control-label'>Model</label>
                    <input type="text" name="model" class="input-sm form-control" ng-required="true" placeholder="Model" ng-model='item.model'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.size.$error.required, 'has-success': !editForm.size.$error.required}">
                    <label class='control-label'>Size</label>
                    <input type="text" name="size" class="input-sm form-control" ng-required="true" placeholder="Size" ng-model='item.size'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.part_no.$error.required, 'has-success': !editForm.part_no.$error.required}">
                    <label class='control-label'>Part number</label>
                    <input type="text" name="part_no" class="input-sm form-control" ng-required="true" placeholder="Part number" ng-model='item.part_no'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="1" heading="Host">
            <div class='well'>
              <fieldset><legend class="aside">Supply / Host Information</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.supplier.$dirty && editForm.supplier.$error.required, 'has-success': !editForm.supplier.$error.required}">
                    <label class='control-label'>Supplier</label>
                    <angucomplete-alt
                      id="id"
                      placeholder="Potential supplier"
                      pause="400"
                      selected-object="item.supplier"
                      remote-url="{{searchSupplierAPI}}"
                      remote-url-request-with-credentials="true"
                      remote-url-data-field="suppliers"
                      title-field="name"
                      minlength="1"
                      search-fields="name"
                      disable-input="disableInputSupplier"
                      focus-first="true"
                      override-suggestions="true"
                      field-required="false"
                      text-searching="false"
                      text-no-results="No existing suppliers found."
                      initial-value="item.supplier"
                      input-class="input-sm form-control"/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.supply_type.$dirty && editForm.supply_type.$error.required, 'has-success': !editForm.supply_type.$error.required}">
                    <label class='control-label'>Supply type</label>
                    <select name="supply_type" class="input-sm form-control" ng-model="item.supply_type">
                        <option value="-"></option>
                        <option value="sponsor_loan">Sponsor Loan</option>
                        <option value="sponsor_supply">Sponsor Supply</option>
                        <option value="loan_lease_hire">Loan / Lease / Hire</option>
                        <option value="purchase">Purchase</option>
                        <option value="to_purchase">To Purchase</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.unit_cost.$dirty && editForm.unit_cost.$error.required, 'has-success': !editForm.unit_cost.$error.required}">
                    <label class='control-label'>Unit cost</label>
                    <input type="text" name="unit_cost" class="input-sm form-control" placeholder="Unit cost" ng-model='item.unit_cost'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.unit.$dirty && editForm.unit.$error.required, 'has-success': !editForm.unit.$error.required}">
                    <label class='control-label'>Unit</label>
                    <select name="unit" class="input-sm form-control" ng-model="item.unit">
                        <option value="-"></option>
                        <option value="sponsor_loan">Sponsor Loan</option>
                        <option value="sponsor_supply">Sponsor Supply</option>
                        <option value="loan_lease_hire">Loan / Lease / Hire</option>
                        <option value="purchase">Purchase</option>
                        <option value="to_purchase">To Purchase</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="2" heading="Logistics">
            <div class='well'>
              <fieldset>
                <legend class="aside">Logistics Information</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_date.$dirty && editForm.delivery_date.$error.required, 'has-success': !editForm.delivery_date.$error.required}">
                    <label class='control-label'>Delivery date</label>

                    <select name="delivery_date" class="input-sm form-control" ng-model='item.delivery_date'>
                        <option value="C-09">C-09</option>
                        <option value="C-08">C-08</option>
                        <option value="C-07">C-07</option>
                        <option value="C-06">C-06</option>
                        <option value="C-05">C-05</option>
                        <option value="C-04">C-04</option>
                        <option value="C-03">C-03</option>
                        <option value="C-02">C-02</option>
                        <option value="C-01">C-01</option>
                    </select>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_time.$dirty && editForm.delivery_time.$error.required, 'has-success': !editForm.delivery_time.$error.required}">
                    <label class='control-label'>Delivery time</label>
                    <select name="delivery_time" class="input-sm form-control" ng-model='item.delivery_time'>
                        <option value="-"></option>
                        <option value="C-09">C-09</option>
                        <option value="C-08">C-08</option>
                        <option value="C-07">C-07</option>
                        <option value="C-06">C-06</option>
                        <option value="C-05">C-05</option>
                        <option value="C-04">C-04</option>
                        <option value="C-03">C-03</option>
                        <option value="C-02">C-02</option>
                        <option value="C-01">C-01</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.category.$dirty && editForm.category.$error.required, 'has-success': !editForm.category.$error.required}">
                    <label class='control-label'>Category</label>
                    <select name="category" class="input-sm form-control" ng-model='item.category'>
                        <option value="-"></option>
                        <option value="42_1">1. Catering equipment - Consumable</option>
                        <option value="42_2">2. Catering equipment - Commodity</option>
                        <option value="42_3">3. IT Hardware</option>
                        <option value="42_4">4. IT Software</option>
                        <option value="42_5">5. Beauty needs - Consumable</option>
                        <option value="42_6">6. Beauty needs - Commodity</option>
                        <option value="42_7">7. Builders - Consumable</option>
                        <option value="42_8">8. Builders – Commodity mechanical</option>
                        <option value="42_9">9. Builders – Commodity electrical</option>
                        <option value="42_10">10. Electrical equipment - Consumable</option>
                        <option value="42_11">11. Electrical equipment  - Commodity</option>
                        <option value="42_12">12. Automobile / Metal - Consumable</option>
                        <option value="42_13">13. Automobile / Metal - Commodity</option>
                        <option value="42_14">14. Landscape Gardening / Decoration - Consumable</option>
                        <option value="42_15">15. Landscape Gardening / Decoration – Commodity</option>
                        <option value="42_16">16. Office Equipment</option>
                        <!-- 						<option value='-'></option>
                                                <option value='1'>Abrasives</option>
                                                <option value='2'>Air / Gas</option>
                                                <option value='3'>Beauty / Healthcare</option>
                                                <option value='4'>Build / Services</option>
                                                <option value='6'>Conduit / Trunking</option>
                                                <option value='7'>Copper Tubing</option>
                                                <option value='8'>Crockery / Utensils</option>
                                                <option value='9'>Drill Bits</option>
                                                <option value='11'>Electrical Accessories</option>
                                                <option value='12'>Electrical Components</option>
                                                <option value='13'>Extension Leads / Power Cables / Wire</option>
                                                <option value='14'>Fashion</option>
                                                <option value='15'>Fixings / Fixtures/ Fastenings / Adhesives / Sealants</option>
                                                <option value='16'>Food / Drink</option>
                                                <option value='17'>Furniture</option>
                                                <option value='18'>Flowers / Plants</option>
                                                <option value='19'>Gardening</option>
                                                <option value='20'>General DIY</option>
                                                <option value='21'>Hand Tools</option>
                                                <option value='23'>Housekeeping / Cleaning</option>
                                                <option value='24'>IT</option>
                                                <option value='25'>Ladders</option>
                                                <option value='26'>Lubricants / Oils</option>
                                                <option value='27'>Machine Tools</option>
                                                <option value='28'>Machinery</option>
                                                <option value='29'>Measuring / Calibration Tools</option>
                                                <option value='30'>Mechanical  </option>
                                                <option value='31'>Metals</option>
                                                <option value='32'>Miscellaneous</option>
                                                <option value='33'>Office / Stationery</option>
                                                <option value='34'>Plastics</option>
                                                <option value='35'>Plumbing &amp; Heating Valves, Taps, Fittings &amp; Accessories</option>
                                                <option value='36'>Power tools</option>
                                                <option value='37'>Safety / PPE</option>
                                                <option value='38'>Stone / Bricks / Blocks / Aggregates / Cement</option>
                                                <option value='39'>Tiles</option>
                                                <option value='40'>Timber / MDF</option>
                                                <option value='41'>Transformers</option>
                                                <option value='42'>Vices</option>
                                                <option value='43'>Workbenches</option>	 -->
                    </select>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.category_disposal.$dirty && editForm.category_disposal.$error.required, 'has-success': !editForm.category_disposal.$error.required}">
                    <label class='control-label'>Disposal category</label>
                    <select name="category_disposal" class="input-sm form-control" ng-model='item.category_disposal'>
                        <option value="-"></option>
                        <option value="Return_to_Sponsor">Return to Sponsor</option>
                        <option value="Return_to_Supplier">Return to Supplier</option>
                        <option value="Sale_at_venue">Sale at venue</option>
                        <option value="Post_event_sale">Post event sale</option>
                        <option value="Capital Fund">Capital Fund</option>
                        <option value="Dispose">Dispose</option>
                        <option value="Donate">Donate</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.lead_time.$dirty && editForm.lead_time.$error.required, 'has-success': !editForm.lead_time.$error.required}">
                    <label class='control-label'>Lead time</label>
                    <select name="lead_time" class="input-sm form-control" ng-model='item.lead_time'>
                        <option value=">10">&gt; 10 weeks</option>
                        <option value="8-10">8 - 10 weeks</option>
                        <option value="6-8">6 - 8 weeks</option>
                        <option value="4-6">4 - 6 weeks</option>
                        <option value="2-4">2 - 4 weeks</option>
                        <option value="<2">&lt; 2 weeks</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="3" heading="Installation">
            <div class='well'>
              <fieldset>
                <legend class="aside">Services / Utilities / Installation Requirements</legend>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.volts.$dirty && editForm.volts.$error.required, 'has-success': !editForm.volts.$error.required}">
                    <label class='control-label'>Electricity - Volts</label>
                    <input type="text" name="volts" class="input-sm form-control" placeholder="Electricity - Volts" ng-model='item.volts'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.amps.$dirty && editForm.amps.$error.required, 'has-success': !editForm.amps.$error.required}">
                    <label class='control-label'>Electricity - Amps</label>
                    <input type="text" name="amps" class="input-sm form-control" placeholder="Electricity - Amps" ng-model='item.amps'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.phase.$dirty && editForm.phase.$error.required, 'has-success': !editForm.phase.$error.required}">
                    <label class='control-label'>Electricity Phase</label>
                    <input type="text" name="phase" class="input-sm form-control" placeholder="Electricity Phase" ng-model='item.phase'>
                  </div>
                </div>

                <div>&nbsp;</div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.water_supply.$dirty && editForm.water_supply.$error.required, 'has-success': !editForm.water_supply.$error.required}">
                    <label class='control-label'>Water supply</label>
                    <input type="text" name="water_supply" class="input-sm form-control" placeholder="Water supply" ng-model='item.water_supply'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.water_drainage.$dirty && editForm.water_drainage.$error.required, 'has-success': !editForm.water_drainage.$error.required}">
                    <label class='control-label'>Water drainage</label>
                    <input type="text" name="water_drainage" class="input-sm form-control" placeholder="Water drainage" ng-model='item.water_drainage'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.compressed_air.$dirty && editForm.compressed_air.$error.required, 'has-success': !editForm.compressed_air.$error.required}">
                    <label class='control-label'>Compressed air</label>
                    <input type="checkbox" name="compressed_air" class="input-sm form-control" ng-model='item.compressed_air'/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.gas_requirements.$dirty && editForm.gas_requirements.$error.required, 'has-success': !editForm.gas_requirements.$error.required}">
                    <label class='control-label'>Ventilation / Fume extraction</label>
                    <input type="checkbox" name="ventilation_fume_extraction" class="input-sm form-control" ng-model='item.ventilation_fume_extraction'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.gas_requirements.$dirty && editForm.gas_requirements.$error.required, 'has-success': !editForm.gas_requirements.$error.required}">
                    <label class='control-label'>Gas requirements</label>
                    <input type="text" name="gas_requirements" class="input-sm form-control" placeholder="Gas requirements" ng-model='item.gas_requirements'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.anchor_base_requirements.$dirty && editForm.anchor_base_requirements.$error.required, 'has-success': !editForm.anchor_base_requirements.$error.required}">
                    <label class='control-label'>Anchor / Fixing / Base requirements</label>
                    <input type="text" name="anchor_base_requirements" class="input-sm form-control" placeholder="Anchor / Fixing / Base requirements" ng-model='item.anchor_base_requirements'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>


          <uib-tab index="4" heading="Files">
            <div class='well'>
              <fieldset>
                <legend class="aside">Files and Pictures</legend>
                <div class="alert alert-warning">File upload not implemented yet</div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="5" heading="Extra">
            <div class='well'>
              <fieldset>
                <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.extra_details.$dirty && editForm.extra_details.$error.required, 'has-success': !editForm.extra_details.$error.required}">
                  <label class='control-label'>Extra details / Comments</label>
                  <textarea rows="20" name="extra_details" class="input-sm form-control" placeholder="Extra details / Comments" ng-model='item.extra_details'></textarea>
                </div>
              </fieldset>
            </div>
          </uib-tab>

        </uib-tabset>

      <button ng-disabled="editForm.$error.required" ng-click="addItem();" class='btn btn-sm btn-success'>
        <span ng-if="item.id">Save item</span>
        <span ng-if="!item.id">Add item</span>
      </button>
      <button ng-click="cancel();" class='btn btn-sm btn-warning'>Cancel</button>
    </form>

  </fieldset>
</div>
