<div class='aside'>
  <fieldset>
    <legend ng-if="!item.id" translate>add_new_product</legend>
    <legend ng-if="item.id" translate>edit_product</legend>

    <alerts></alerts>
    <ws-spinner ng-if="loading.aside"></ws-spinner>

    <div class="alert alert-info"><span translate>supplied_multi_edit_description</span></div>
    <div ng-if="item.multiple_linked_lists" class="alert alert-warning"><span translate>item_attached_to_multiple_skills</span></div>

    <form class="editForm" name='editForm'>
        <uib-tabset active="supplied01">
          <uib-tab index="0" heading="{{'product_tab.general' | translate}}">
            <div class='well'>
              <fieldset><legend class="aside" translate>item_information_published</legend>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.manufacturer.$dirty && item.manufacturer, 'has-success': item.manufacturer}">
                    <label class='control-label' translate>th_manufacturer</label>
                    <input type="text" name="manufacturer" class="input-sm form-control" ng-required="false" placeholder="{{ 'placeholder.manufacturer' | translate }}" ng-model='item.manufacturer'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.model.$dirty && item.model, 'has-success': item.model}">
                    <label class='control-label' translate>th_model</label>
                    <input type="text" name="model" class="input-sm form-control" ng-required="false" placeholder="{{ 'placeholder.model' | translate }}" ng-model='item.model'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.size.$dirty && item.size, 'has-success': item.size}">
                    <label class='control-label' translate>th_size</label>
                    <input type="text" name="size" class="input-sm form-control" ng-required="false" placeholder="{{ 'placeholder.size' | translate }}" ng-model='item.size'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.part_number.$dirty && item.part_number, 'has-success': item.part_number}">
                    <label class='control-label' translate>th_part_num</label>
                    <input type="text" name="part_number" class="input-sm form-control" ng-required="false" placeholder="{{ 'placeholder.part_number' | translate }}" ng-model='item.part_number'>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback"
                    ng-class="{'has-warning': editForm.item_category.$dirty && item.item_category, 'has-success': item.item_category}">
                    <label class="control-label" translate>item_sub_category</label>
                    <ui-select ng-required="false" ng-model="item.item_category.id" theme="bootstrap">
                      <ui-select-match placeholder="{{ 'item_sub_category' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                      <ui-select-choices repeat="category.id as category in (categories | customWSFilter: {objPath: 'name.text', 'query': $select.search}) track by $index">
                        {{category.path}} {{category.name.text}}
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.priority.$dirty && item.priority, 'has-success': item.priority}">
                    <label class='control-label' translate>th_priority</label>
                    <ui-select ng-required="false" ng-model="item.priority" theme="bootstrap">
                      <ui-select-match placeholder="{{ 'th_priority' | translate }}">{{item.priority | translate}}</ui-select-match>
                      <ui-select-choices repeat="priority in priorities">
                        <div translate>{{priority}}</div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>

              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="1" heading="{{'product_tab.host' | translate}}">
            <div class='well'>
              <fieldset><legend class="aside" translate>supply_host_info</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.supplier.$dirty && item.supplier, 'has-success': item.supplier}">
                    <label class='control-label' translate>supplier</label>
                    <angucomplete-alt
                      id="id"
                      placeholder="{{ 'placeholder.supplier' | translate }}"
                      pause="400"
                      selected-object="item.selectedSupplier"
                      remote-url="{{searchSupplierAPI}}"
                      remote-url-request-with-credentials="true"
                      remote-url-data-field="suppliers"
                      title-field="name"
                      minlength="1"
                      search-fields="name"
                      disable-input="disableInputSupplier"
                      focus-first="true"
                      input-changed="supplierChanged"
                      override-suggestions="true"
                      field-required="false"
                      text-searching="false"
                      text-no-results="{{ 'text_no_results.no_existing_suppliers_found' | translate }}"
                      initial-value="item.supplier"
                      input-class="input-sm form-control angucomplete-overflow"/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.supply_type.$dirty && item.supply_type, 'has-success': item.supply_type}">
                    <label class='control-label' translate>supply_type</label>
                    <select name="supply_type" class="input-sm form-control" ng-model="item.supply_type">
                        <option value="-"></option>
                        <option value="sponsor_loan" translate>sponsor_loan</option>
                        <option value="sponsor_supply" translate>sponsor_supply</option>
                        <option value="loan_lease_hire" translate>loan_lease_hire</option>
                        <option value="purchase" translate>purchase</option>
                        <option value="to_purchase" translate>to_purchase</option>
                        <option value="borrow" translate>borrow</option>
                        <option value="inventory" translate>inventory</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.unit_cost.$dirty && item.unit_cost, 'has-success': item.unit_cost}">
                    <label class='control-label' translate>unit_cost</label>
                    <input type="number" name="unit_cost" class="input-sm form-control" placeholder="{{ 'placeholder.unit_cost' | translate }}" ng-model='item.unit_cost'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-warning': editForm.po_number.$dirty && item.po_number, 'has-success': item.po_number}">
                    <label class='control-label' translate>po_number</label>
                    <input name="po_number" class="input-sm form-control" placeholder="{{ 'placeholder.po_number' | translate }}" ng-model='item.po_number'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="2" heading="{{'product_tab.logistics' | translate}}">
            <div class='well'>
              <fieldset>
                <legend class="aside" translate>logistics_information</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6">
                    <p class='input-group'>
                      <input type="text" placeholder="{{ 'placeholder.delivery' | translate }}" class="form-control input-sm" uib-datepicker-popup="dd.MM.yyyy" ng-model="item.delivery" is-open="item.delivery_open" datepicker-options="dateOptions" />
                      <span class="input-group-btn">
              			  	<button type="button" class="btn btn-sm btn-default" ng-init="delivery_open = false" ng-click="item.delivery_open = !item.delivery_open"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
                    </p>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6">
                    <input type="time" placeholder="{{ 'placeholder.time' | translate }}" class="form-control input-sm" ng-model="item.delivery">
                  </div>
                  <!--<div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_date.$dirty && editForm.delivery_date.$error.required, 'has-success': !editForm.delivery_date.$error.required}">-->
                    <!--<label class='control-label'>Delivery date</label>-->

                    <!--<select name="delivery_date" class="input-sm form-control" ng-model='item.delivery_date'>-->
                        <!--<option value="C-09">C-09</option>-->
                        <!--<option value="C-08">C-08</option>-->
                        <!--<option value="C-07">C-07</option>-->
                        <!--<option value="C-06">C-06</option>-->
                        <!--<option value="C-05">C-05</option>-->
                        <!--<option value="C-04">C-04</option>-->
                        <!--<option value="C-03">C-03</option>-->
                        <!--<option value="C-02">C-02</option>-->
                        <!--<option value="C-01">C-01</option>-->
                    <!--</select>-->
                  <!--</div>-->

                  <!--<div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_time.$dirty && editForm.delivery_time.$error.required, 'has-success': !editForm.delivery_time.$error.required}">-->
                    <!--<label class='control-label'>Delivery time</label>-->
                    <!--<select name="delivery_time" class="input-sm form-control" ng-model='item.delivery_time'>-->
                        <!--<option value="-"></option>-->
                        <!--<option value="C-09">C-09</option>-->
                        <!--<option value="C-08">C-08</option>-->
                        <!--<option value="C-07">C-07</option>-->
                        <!--<option value="C-06">C-06</option>-->
                        <!--<option value="C-05">C-05</option>-->
                        <!--<option value="C-04">C-04</option>-->
                        <!--<option value="C-03">C-03</option>-->
                        <!--<option value="C-02">C-02</option>-->
                        <!--<option value="C-01">C-01</option>-->
                    <!--</select>-->
                  <!--</div>-->
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.disposal_category.$dirty && item.disposal_category, 'has-success': item.disposal_category}">
                    <label class='control-label' translate>disposal_category</label>
                    <select name="disposal_category" class="input-sm form-control" ng-model='item.disposal_category'>
                        <option value="-"></option>
                        <option value="Return_to_Sponsor" translate>cat_return_to_sponsor</option>
                        <option value="Return_to_Supplier" translate>cat_return_to_supplier</option>
                        <option value="Sale_at_venue" translate>cat_sale_at_venue</option>
                        <option value="Post_event_sale" translate>cat_post_event_sale</option>
                        <option value="Capital Fund" translate>cat_capital_fund</option>
                        <option value="Dispose" translate>cat_dispose</option>
                        <option value="Donate" translate>cat_donate</option>
                        <option value="Donate" translate>cat_retain</option>
                    </select>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.category.$dirty && item.category, 'has-success': item.category}">
                    <label class='control-label' translate>location</label>
                    <select name="location" class="input-sm form-control" ng-model='item.location'>
                      <option value="-"></option>
                      <option value="Warehouse" translate>loc_warehouse</option>
                      <option value="Venue" translate>loc_venue</option>
                      <option value="Other" translate>loc_other</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-warning': editForm.lead_time.$dirty && item.lead_time, 'has-success': item.lead_time}">
                    <label class='control-label' translate>lead_time</label>
                    <select name="lead_time" class="input-sm form-control" ng-model='item.lead_time'>
                        <option value="> 10 weeks"translate>lead_10_weeks</option>
                        <option value="8 - 10 weeks" translate>lead_8-10_weeks</option>
                        <option value="6 - 8 weeks" translate>lead_6-8_weeks</option>
                        <option value="4 - 6 weeks" translate>lead_4-6_weeks</option>
                        <option value="2 - 4 weeks" translate>lead_2-4_weeks</option>
                        <option value="< 2 weeks" translate>lead_2_weeks</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="3" heading="{{'product_tab.installation' | translate}}">
            <div class='well'>
              <fieldset>
                <legend class="aside" translate>services_utilities_installation</legend>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-warning': editForm.electricity.$dirty && item.electricity, 'has-success': item.electricity}">
                    <label class='control-label' translate>electricity</label>
                    <input type="checkbox" name="electricity" class="input-sm form-control" placeholder="{{ 'placeholder.electricity' | translate }}" ng-model='item.electricity'/>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.electricity_volts.$dirty && item.electricity_volts, 'has-success': item.electricity_volts}">
                    <label class='control-label' translate>req_electricity_v</label>
                    <input type="number" name="electricity_volts" class="input-sm form-control" placeholder="{{ 'placeholder.electricity_volts' | translate }}" ng-model='item.electricity_volts'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.electricity_amps.$dirty && item.electricity_amps, 'has-success': item.electricity_amps}">
                    <label class='control-label' translate>req_electricity_a</label>
                    <input type="number" name="electricity_amps" class="input-sm form-control" placeholder="{{ 'placeholder.electricity_amps' | translate }}" ng-model='item.electricity_amps'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-warning': editForm.electricity_phase.$dirty && item.electricity_phase, 'has-success': item.electricity_phase}">
                    <label class='control-label' translate>electricity_phase</label>
                    <input type="text" name="electricity_phase" class="input-sm form-control" placeholder="{{ 'placeholder.electricity_phase' | translate }}" ng-model='item.electricity_phase'>
                  </div>
                </div>

                <div>&nbsp;</div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.water_supply.$dirty && item.water_supply, 'has-success': item.water_supply}">
                    <label class='control-label' translate>water_supply</label>
                    <input type="checkbox" name="water_supply" class="input-sm form-control" placeholder="{{ 'placeholder.water_supply' | translate }}" ng-model='item.water_supply'/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.water_drainage.$dirty && item.water_drainage, 'has-success': item.water_drainage}">
                    <label class='control-label' translate>water_drainage</label>
                    <input type="checkbox" name="water_drainage" class="input-sm form-control" placeholder="{{ 'placeholder.water_drainage' | translate }}" ng-model='item.water_drainage'/>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.compressed_air.$dirty && item.compressed_air, 'has-success': item.compressed_air}">
                    <label class='control-label' translate>compressed_air</label>
                    <input type="checkbox" name="compressed_air" class="input-sm form-control" placeholder="{{ 'placeholder.compressed_air' | translate }}" ng-model='item.compressed_air'/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.gas_requirements.$dirty && item.gas_requirements, 'has-success': item.gas_requirements}">
                    <label class='control-label' translate>ventilation_fume_extraction</label>
                    <input type="checkbox" name="ventilation_fume_extraction" class="input-sm form-control" placeholder="{{ 'placeholder.ventilation_fume_extraction' | translate }}" ng-model='item.ventilation_fume_extraction'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.gas_requirements.$dirty && item.gas_requirements, 'has-success': item.gas_requirements}">
                    <label class='control-label' translate>gas_requirements</label>
                    <input type="text" name="gas_requirements" class="input-sm form-control" placeholder="{{ 'placeholder.gas_requirements' | translate }}" ng-model='item.gas_requirements'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-warning': editForm.anchor_fixing_base_requirements.$dirty && item.anchor_fixing_base_requirements, 'has-success': item.anchor_fixing_base_requirements}">
                    <label class='control-label' translate>anchor_fixing_base_requirements</label>
                    <input type="text" name="anchor_fixing_base_requirements" class="input-sm form-control" placeholder="{{ 'placeholder.anchor_fixing_base_requirements' | translate }}" ng-model='item.anchor_fixing_base_requirements'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>


          <uib-tab index="5" heading="{{'product_tab.extra' | translate}}">
            <div class='well'>
              <fieldset>
                <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-warning': editForm.extra_details.$dirty && item.extra_details, 'has-success': item.extra_details}">
                  <label class='control-label' translate>extra_details_comments</label>
                  <textarea rows="20" name="extra_details" class="input-sm form-control" placeholder="{{ 'placeholder.extra_details_comments' | translate }}" ng-model='item.extra_details'></textarea>
                </div>
              </fieldset>
            </div>
          </uib-tab>

        </uib-tabset>

      <button ng-disabled="editForm.$error.required" ng-click="saveItemDetailsMultiple();" ng-disabled="event.locked" class='btn btn-sm btn-success' translate>button_save_item</button>
      <button ng-click="cancel();" class='btn btn-sm btn-warning' translate>button_cancel</button>
    </form>

  </fieldset>
</div>
