<form name="editForm">
  <!--<div style="position: relative;">-->
    <!--<div class='form-group editForm' style="position: absolute; top: .5em; right: .5em;">-->
      <!--<a data-nodrag ng-disabled="editForm.$error.required" ng-click="saveItem(item, $index);" class='btn btn-sm btn-success'>Save changes</a>-->
      <!--<a data-nodrag ng-click="editItem(item, $index);" class='btn btn-sm btn-warning'>cancel</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class='well'>
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <div class="form-group editForm has-feedback" ng-class="{'has-error': editForm.description.$error.required, 'has-success': !editForm.description.$error.required}">
          <label class='control-label'>Description</label>
          <input name="description" type="text" class="input-sm form-control" placeholder="Description" ng-model='item.description.text' required="Description is missing" ng-required="true"  ng-trim="true">
          <span ng-if="!editForm.description.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-if="editForm.description.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6">
        <div class="form-group addForm has-feedback has-success">
          <label class='control-label'>Installation type</label>
          <div ng-show="item.parent_id != 0" class="alert alert-warning small">You cannot move child items independently, but you can move the parent, which will also move child items.</div>
          <div ng-show="item.parent_id == 0">
            <select class="form-control input-sm" ng-model="item.category" ng-options="category.id as category.category.name.text for category in categories"></select>
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col col-sm-12 col-md-4'>
        <div class="form-group editForm has-feedback"  ng-class="{'has-error': editForm.quantity.$error.required, 'has-success': !editForm.quantity.$error.required}">
          <label class='control-label'>Quantity</label>
          <input name="quantity" type="number" class="input-sm form-control" placeholder="Quantity" ng-model='item.quantity' required="Quantity is missing" ng-required="true">
          <span ng-if="!editForm.quantity.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-if="editForm.quantity.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div class='col col-sm-12 col-md-4'>
        <div class="form-group editForm has-feedback has-success">
          <label class='control-label'>Multiplier</label>
          <!-- <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multiplier.name for multiplier in multipliers track by multiplier.id"></select>             -->
          <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multi.id as multi.name for multi in multipliers"></select>
        </div>
      </div>
      <div class='col col-sm-12 col-md-4' ng-if="factorNeeded(item.multiplier)">
        <div class="form-group editForm has-feedback"  ng-class="{'has-error': editForm.multiply_factor.$error.required, 'has-success': !editForm.multiply_factor.$error.required}">
          <label class='control-label'>Multiply factor</label>
          <input name='multiply_factor' type="number" class="input-sm form-control" placeholder="X number" ng-model='item.multiply_factor' required="Multiply factor required" ng-required="true">
          <span ng-if="!editForm.multiply_factor.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-if="editForm.multiply_factor.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
    </div>


    <div class='row'>
      <div class='col col-xs-12 col-md-4'>
        <div class="form-group editForm has-feedback" ng-class="{'has-error': editForm.supplier.$error.required, 'has-success': !editForm.supplier.$error.required}">
          <label class='control-label'>Potential supplier</label>
          <!-- <input name="supplier" type="text" class="input-sm form-control" placeholder="Potential supplier" ng-model='item.supplier' ng-trim="true"> -->
          <angucomplete-alt
            id="id"
            placeholder="Potential supplier"
            pause="400"
            selected-object="item.selectedSupplier"
            remote-url="{{searchSupplierAPI}}"
            remote-url-request-with-credentials="true"
            remote-url-data-field="suppliers"
            title-field="name"
            minlength="1"
            search-fields="name"
            disable-input="disableInputSupplier"
            focus-first="true"
            input-changed="supplierChanged"
            override-suggestions="true"
            field-required="false"
            text-searching="false"
            text-no-results="No existing suppliers found."
            initial-value="item.supplier"
            input-class="input-sm form-control"/>
          <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> -->
        </div>
      </div>
      <div class='col col-xs-12 col-md-4 form-group'>
        <div class="form-group editForm has-feedback has-success">
          <label class='control-label'>Estimated price</label>
          <input name='price' type="number" class="input-sm form-control" ng-model="item.price" placeholder="Estimated price">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div class='col col-xs-12 col-md-4 form-group'>
        <div class="form-group addForm has-feedback has-success">
          <label class='control-label'>Skill Area</label>
          <!-- <select class="form-control input-sm" ng-model="item.multiplier" ng-options="multiplier.name for multiplier in multipliers track by multiplier.id"></select>             -->
          <select class="form-control input-sm" ng-model="item.area.id" ng-options="area.id as area.name for area in skillAreas"></select>
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-xs-12 col-md-4 form-group">
        <div class="form-group editForm has-feedback"  ng-class="{'has-error': editForm.additional_quantity.$error.required, 'has-success': !editForm.additional_quantity.$error.required}">
          <label class='control-label'>Additional quantity</label>
          <input name="quantity" type="number" class="input-sm form-control" placeholder="Additional quantity" ng-model='item.additional_quantity' required="Additional quantity is missing" ng-required="false">
          <span ng-if="!editForm.additional_quantity.$error.required" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-if="editForm.additional_quantity.$error.required" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col col-xs-12 col-md-4 form-group">
        <div data-nodrag class="checkbox editForm form-group has-feedback has-success" style="margin-top: -25px;">
          <label>
            <input type="checkbox" ng-model="item.vat_refund"> VAT Refundable
          </label>
        </div>
      </div>
      <div class="col col-xs-12 col-md-4 form-group"></div>
    </div>


  </div>

  <div class='form-group editForm'>
    <a data-nodrag ng-disabled="editForm.$error.required" ng-click="saveItem(item, $index);" class='btn btn-sm btn-success'>Save changes</a>
    <a data-nodrag ng-click="editItem(item, $index);" class='btn btn-sm btn-warning'>cancel</a>
  </div>
</form>
