<div class='aside'>
  <fieldset>
    <legend ng-if="!item.id" translate>ADD_NEW_ITEM</legend>
    <legend ng-if="item.id" translate>EDITING_ITEM</legend>

    <alerts></alerts>
    <ws-spinner ng-if="loading.aside"></ws-spinner>

    <form class="editForm" name='editForm'>
        <uib-tabset active="supplied01">
          <uib-tab index="0" heading="General">
            <div class='well'>
              <fieldset><legend class="aside" translate>ITEM_INFORMATION_PUBLISHED</legend>
                <div class="row">
                  <div class="col col-xs-12 form-group has-feedback" ng-class="{'has-error': editForm.description.$error.required, 'has-success': !editForm.description.$error.required}">
                    <label class='control-label' translate>TH_DESCRIPTION</label>
                    <input type="text" name="description" autofocus="autofocus" class="input-sm form-control" ng-required="true" placeholder="{{ 'PLACEHOLDER.DESCRIPTION' | translate }}" ng-model='item.description.text'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.manufacturer.$error.required, 'has-success': !editForm.manufacturer.$error.required}">
                    <label class='control-label' translate>TH_MANUFACTURER</label>
                    <input type="text" name="manufacturer" class="input-sm form-control" ng-required="false" placeholder="{{ 'PLACEHOLDER.MANUFACTURER' | translate }}" ng-model='item.manufacturer'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.model.$error.required, 'has-success': !editForm.model.$error.required}">
                    <label class='control-label' translate>TH_MODEL</label>
                    <input type="text" name="model" class="input-sm form-control" ng-required="false" placeholder="{{ 'PLACEHOLDER.MODEL' | translate }}" ng-model='item.model'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.size.$error.required, 'has-success': !editForm.size.$error.required}">
                    <label class='control-label' translate>TH_SIZE</label>
                    <input type="text" name="size" class="input-sm form-control" ng-required="false" placeholder="{{ 'PLACEHOLDER.SIZE' | translate }}" ng-model='item.size'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.part_number.$error.required, 'has-success': !editForm.part_number.$error.required}">
                    <label class='control-label' translate>TH_PART_NUM</label>
                    <input type="text" name="part_number" class="input-sm form-control" ng-required="false" placeholder="{{ 'PLACEHOLDER.PART_NUMBER' | translate }}" ng-model='item.part_number'>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback"
                    ng-class="{'has-error': editForm.item_category.$error.required, 'has-success': !editForm.item_category.$error.required}"
                  >
                    <label class="control-label" translate>ITEM_SUB_CATEGORY</label>
                    <ui-select ng-required="false" ng-model="item.item_category" theme="bootstrap">
                      <ui-select-match placeholder="{{ 'PLACEHOLDER.CHOOSE_ITEM_CATEGORY' | translate }}">{{item.item_category.name.text}}</ui-select-match>
                      <ui-select-choices repeat="category as category in (subCategories | customWSFilter: {objPath: 'name.text', 'query': $select.search}) track by $index">
                        <div ng-bind-html="category.name.text"></div>
                        <small>
                          {{category.description.text}}
                        </small>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.priority.$error.required, 'has-success': !editForm.priority.$error.required}">
                    <label class='control-label' translate>TH_PRIORITY</label>
                    <input type="text" name="priority" class="input-sm form-control" ng-required="false" placeholder="{{ 'PLACEHOLDER.PRIORITY' | translate }}" ng-model='item.priority'>
                  </div>
                </div>

              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="1" heading="Host">
            <div class='well'>
              <fieldset><legend class="aside" translate>SUPPLY_HOST_INFO</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.supplier.$dirty && editForm.supplier.$error.required, 'has-success': !editForm.supplier.$error.required}">
                    <label class='control-label' translate>SUPPLIER</label>
                    <angucomplete-alt
                      id="id"
                      placeholder="{{ 'PLACEHOLDER.SUPPLIER' | translate }}"
                      pause="400"
                      selected-object="item.selectedSupplier"
                      remote-url="{{searchSupplierAPI}}"
                      remote-url-request-with-credentials="true"
                      remote-url-data-field="suppliers"
                      title-field="name"
                      minlength="1"
                      search-fields="name"
                      disable-input="disableInputSupplier"
                      focus-first="true"
                      input-changed="supplierChanged"
                      override-suggestions="true"
                      field-required="false"
                      text-searching="false"
                      text-no-results="{{ 'TEXT_NO_RESULTS.NO_EXISTING_SUPPLIERS_FOUND' | translate }}"
                      initial-value="item.supplier"
                      input-class="input-sm form-control angucomplete-overflow"/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.supply_type.$dirty && editForm.supply_type.$error.required, 'has-success': !editForm.supply_type.$error.required}">
                    <label class='control-label' translate>SUPPLY_TYPE</label>
                    <select name="supply_type" class="input-sm form-control" ng-model="item.supply_type">
                        <option value="-"></option>
                        <option value="sponsor_loan" translate>SPONSOR_LOAN</option>
                        <option value="sponsor_supply" translate>SPONSOR_SUPPLY</option>
                        <option value="loan_lease_hire" translate>LOAN_LEASE_HIRE</option>
                        <option value="purchase" translate>PURCHASE</option>
                        <option value="to_purchase" translate>TO_PURCHASE</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.unit_cost.$dirty && editForm.unit_cost.$error.required, 'has-success': !editForm.unit_cost.$error.required}">
                    <label class='control-label' translate>UNIT_COST</label>
                    <input type="number" name="unit_cost" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.UNIT_COST' | translate }}" ng-model='item.unit_cost'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.unit.$dirty && editForm.unit.$error.required, 'has-success': !editForm.unit.$error.required}">
                    <label class='control-label' translate>UNIT</label>
                    <select name="unit" class="input-sm form-control" ng-model="item.unit">
                        <option value="-"></option>
                        <option value="pcs" translate>UNIT_PIECES</option>
                        <option value="kg" translate>UNIT_KILOGRAMS</option>
                        <option value="g" translate>UNIT_GRAMS</option>
                        <option value="l" translate>UNIT_LITRES</option>
                        <option value="other" translate>UNIT_OTHER</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.po_number.$dirty && editForm.po_number.$error.required, 'has-success': !editForm.po_number.$error.required}">
                    <label class='control-label' translate>PO_NUMBER</label>
                    <input name="po_number" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.PO_NUMBER' | translate }}" ng-model='item.po_number'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="2" heading="Logistics">
            <div class='well'>
              <fieldset>
                <legend class="aside" translate>LOGISTICS_INFORMATION</legend>
                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6">
                    <p class='input-group'>
                      <input type="text" placeholder="{{ 'PLACEHOLDER.DELIVERY' | translate }}" class="form-control input-sm" uib-datepicker-popup="dd.MM.yyyy" ng-model="item.delivery" is-open="item.delivery_open" datepicker-options="dateOptions" close-text="{{ 'CLOSE_TEXT.CLOSE' | translate }}" />
                      <span class="input-group-btn">
              			  	<button type="button" class="btn btn-sm btn-default" ng-init="delivery_open = false" ng-click="item.delivery_open = !item.delivery_open"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
                    </p>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6">
                    <input type="time" placeholder="{{ 'PLACEHOLDER.TIME' | translate }}" class="form-control input-sm" ng-model="item.delivery">
                  </div>
                  <!--<div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_date.$dirty && editForm.delivery_date.$error.required, 'has-success': !editForm.delivery_date.$error.required}">-->
                    <!--<label class='control-label'>Delivery date</label>-->

                    <!--<select name="delivery_date" class="input-sm form-control" ng-model='item.delivery_date'>-->
                        <!--<option value="C-09">C-09</option>-->
                        <!--<option value="C-08">C-08</option>-->
                        <!--<option value="C-07">C-07</option>-->
                        <!--<option value="C-06">C-06</option>-->
                        <!--<option value="C-05">C-05</option>-->
                        <!--<option value="C-04">C-04</option>-->
                        <!--<option value="C-03">C-03</option>-->
                        <!--<option value="C-02">C-02</option>-->
                        <!--<option value="C-01">C-01</option>-->
                    <!--</select>-->
                  <!--</div>-->

                  <!--<div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.delivery_time.$dirty && editForm.delivery_time.$error.required, 'has-success': !editForm.delivery_time.$error.required}">-->
                    <!--<label class='control-label'>Delivery time</label>-->
                    <!--<select name="delivery_time" class="input-sm form-control" ng-model='item.delivery_time'>-->
                        <!--<option value="-"></option>-->
                        <!--<option value="C-09">C-09</option>-->
                        <!--<option value="C-08">C-08</option>-->
                        <!--<option value="C-07">C-07</option>-->
                        <!--<option value="C-06">C-06</option>-->
                        <!--<option value="C-05">C-05</option>-->
                        <!--<option value="C-04">C-04</option>-->
                        <!--<option value="C-03">C-03</option>-->
                        <!--<option value="C-02">C-02</option>-->
                        <!--<option value="C-01">C-01</option>-->
                    <!--</select>-->
                  <!--</div>-->
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.category.$dirty && editForm.category.$error.required, 'has-success': !editForm.category.$error.required}">
                    <label class='control-label' translate>CATEGORY</label>
                    <select name="category" class="input-sm form-control" ng-model='item.category'>
                        <option value="-"></option>
                        <option value="1. Catering equipment - Consumable" translate>CAT_CATERING_EQUIPMENT_CONSUMABLE</option>
                        <option value="2. Catering equipment - Commodity" translate>CAT_CATERING_EQUIPMENT_COMMODITY</option>
                        <option value="3. IT Hardware" translate>CAT_IT_HARDWARE</option>
                        <option value="4. IT Software" translate>CAT_IT_SOFTWARE</option>
                        <option value="5. Beauty needs - Consumable" translate>CAT_BEAUTY_CONSUMABLE</option>
                        <option value="6. Beauty needs - Commodity" translate>CAT_BEAUTY_COMMODITY</option>
                        <option value="7. Builders - Consumable" translate>CAT_BUILDERS_CONSUMABLE</option>
                        <option value="8. Builders – Commodity mechanical" translate>CAT_BUILDERS_COMMODITY_MECHANICAL</option>
                        <option value="9. Builders – Commodity electrical" translate>CAT_BUILDERS_COMMODITY_ELECTRICAL</option>
                        <option value="10. Electrical equipment - Consumable" translate>CAT_ELECTRICAL_EQUIPMENT_CONSUMABLE</option>
                        <option value="11. Electrical equipment  - Commodity" translate>CAT_ELECTRICAL_EQUIPMENT_COMMODITY</option>
                        <option value="12. Automobile / Metal - Consumable" translate>CAT_AUTOMOBILE_METAL_CONSUMABLE</option>
                        <option value="13. Automobile / Metal - Commodity" translate>CAT_AUTOMOBILE_METAL_COMMODITY</option>
                        <option value="14. Landscape Gardening / Decoration - Consumable" translate>CAT_LANDSCAPE_GARDENING_CONSUMABLE</option>
                        <option value="15. Landscape Gardening / Decoration – Commodity" translate>CAT_LANDSCAPE_GARDENING_COMMODITY</option>
                        <option value="16. Office Equipment" translate>CAT_OFFICE_EQUIPMENT</option>
                        <!-- 						<option value='-'></option>
                                                <option value='1'>Abrasives</option>
                                                <option value='2'>Air / Gas</option>
                                                <option value='3'>Beauty / Healthcare</option>
                                                <option value='4'>Build / Services</option>
                                                <option value='6'>Conduit / Trunking</option>
                                                <option value='7'>Copper Tubing</option>
                                                <option value='8'>Crockery / Utensils</option>
                                                <option value='9'>Drill Bits</option>
                                                <option value='11'>Electrical Accessories</option>
                                                <option value='12'>Electrical Components</option>
                                                <option value='13'>Extension Leads / Power Cables / Wire</option>
                                                <option value='14'>Fashion</option>
                                                <option value='15'>Fixings / Fixtures/ Fastenings / Adhesives / Sealants</option>
                                                <option value='16'>Food / Drink</option>
                                                <option value='17'>Furniture</option>
                                                <option value='18'>Flowers / Plants</option>
                                                <option value='19'>Gardening</option>
                                                <option value='20'>General DIY</option>
                                                <option value='21'>Hand Tools</option>
                                                <option value='23'>Housekeeping / Cleaning</option>
                                                <option value='24'>IT</option>
                                                <option value='25'>Ladders</option>
                                                <option value='26'>Lubricants / Oils</option>
                                                <option value='27'>Machine Tools</option>
                                                <option value='28'>Machinery</option>
                                                <option value='29'>Measuring / Calibration Tools</option>
                                                <option value='30'>Mechanical  </option>
                                                <option value='31'>Metals</option>
                                                <option value='32'>Miscellaneous</option>
                                                <option value='33'>Office / Stationery</option>
                                                <option value='34'>Plastics</option>
                                                <option value='35'>Plumbing &amp; Heating Valves, Taps, Fittings &amp; Accessories</option>
                                                <option value='36'>Power tools</option>
                                                <option value='37'>Safety / PPE</option>
                                                <option value='38'>Stone / Bricks / Blocks / Aggregates / Cement</option>
                                                <option value='39'>Tiles</option>
                                                <option value='40'>Timber / MDF</option>
                                                <option value='41'>Transformers</option>
                                                <option value='42'>Vices</option>
                                                <option value='43'>Workbenches</option>	 -->
                    </select>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.disposal_category.$dirty && editForm.disposal_category.$error.required, 'has-success': !editForm.disposal_category.$error.required}">
                    <label class='control-label' translate>DISPOSAL_CATEGORY</label>
                    <select name="disposal_category" class="input-sm form-control" ng-model='item.disposal_category'>
                        <option value="-"></option>
                        <option value="Return_to_Sponsor" translate>CAT_RETURN_TO_SPONSOR</option>
                        <option value="Return_to_Supplier" translate>CAT_RETURN_TO_SUPPLIER</option>
                        <option value="Sale_at_venue" translate>CAT_SALE_AT_VENUE</option>
                        <option value="Post_event_sale" translate>CAT_POST_EVENT_SALE</option>
                        <option value="Capital Fund" translate>CAT_CAPITAL_FUND</option>
                        <option value="Dispose" translate>CAT_DISPOSE</option>
                        <option value="Donate" translate>CAT_DONATE</option>
                        <option value="Donate" translate>CAT_RETAIN</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.category.$dirty && editForm.category.$error.required, 'has-success': !editForm.category.$error.required}">
                    <label class='control-label' translate>LOCATION</label>
                    <select name="location" class="input-sm form-control" ng-model='item.location'>
                      <option value="-"></option>
                      <option value="Warehouse" translate>LOC_WAREHOUSE</option>
                      <option value="Venue" translate>LOC_VENUE</option>
                      <option value="Other" translate>LOC_OTHER</option>
                    </select>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.disposal_category.$dirty && editForm.disposal_category.$error.required, 'has-success': !editForm.disposal_category.$error.required}">
                    <label class='control-label'>HS Code</label>
                    <input type="text" name="hs_code" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.HS_CODE' | translate }}" ng-model='item.hs_code'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.lead_time.$dirty && editForm.lead_time.$error.required, 'has-success': !editForm.lead_time.$error.required}">
                    <label class='control-label' translate>LEAD_TIME</label>
                    <select name="lead_time" class="input-sm form-control" ng-model='item.lead_time'>
                        <option value="> 10 weeks"translate>LEAD_10_WEEKS</option>
                        <option value="8 - 10 weeks" translate>LEAD_8-10_WEEKS</option>
                        <option value="6 - 8 weeks" translate>LEAD_6-8_WEEKS</option>
                        <option value="4 - 6 weeks" translate>LEAD_4-6_WEEKS</option>
                        <option value="2 - 4 weeks" translate>LEAD_2-4_WEEKS</option>
                        <option value="< 2 weeks" translate>LEAD_2_WEEKS</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="3" heading="Installation">
            <div class='well'>
              <fieldset>
                <legend class="aside" translate>SERVICES_UTILITIES_INSTALLATION</legend>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.electricity_volts.$dirty && editForm.electricity_volts.$error.required, 'has-success': !editForm.electricity_volts.$error.required}">
                    <label class='control-label' translate>REQ_ELECTRICITY_V</label>
                    <input type="text" name="electricity_volts" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.ELECTRICITY_VOLTS' | translate }}" ng-model='item.electricity_volts'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.electricity_amps.$dirty && editForm.electricity_amps.$error.required, 'has-success': !editForm.electricity_amps.$error.required}">
                    <label class='control-label' translate>REQ_ELECTRICITY_A</label>
                    <input type="text" name="electricity_amps" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.ELECTRICITY_AMPS' | translate }}" ng-model='item.electricity_amps'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.electricity_phase.$dirty && editForm.electricity_phase.$error.required, 'has-success': !editForm.electricity_phase.$error.required}">
                    <label class='control-label' translate>ELECTRICITY_PHASE</label>
                    <input type="text" name="electricity_phase" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.ELECTRICITY_PHASE' | translate }}" ng-model='item.electricity_phase'>
                  </div>
                </div>

                <div>&nbsp;</div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.water_supply.$dirty && editForm.water_supply.$error.required, 'has-success': !editForm.water_supply.$error.required}">
                    <label class='control-label' translate>WATER_SUPPLY</label>
                    <input type="text" name="water_supply" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.WATER_SUPPLY' | translate }}" ng-model='item.water_supply'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.water_drainage.$dirty && editForm.water_drainage.$error.required, 'has-success': !editForm.water_drainage.$error.required}">
                    <label class='control-label' translate>WATER_DRAINAGE</label>
                    <input type="text" name="water_drainage" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.WATER_DRAINAGE' | translate }}" ng-model='item.water_drainage'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.compressed_air.$dirty && editForm.compressed_air.$error.required, 'has-success': !editForm.compressed_air.$error.required}">
                    <label class='control-label' translate>COMPRESSED_AIR</label>
                    <input type="checkbox" name="compressed_air" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.COMPRESSED_AIR' | translate }}" ng-model='item.compressed_air'/>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.gas_requirements.$dirty && editForm.gas_requirements.$error.required, 'has-success': !editForm.gas_requirements.$error.required}">
                    <label class='control-label' translate>VENTILATION_FUME_EXTRACTION</label>
                    <input type="checkbox" name="ventilation_fume_extraction" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.VENTILATION_FUME_EXTRACTION' | translate }}" ng-model='item.ventilation_fume_extraction'>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.gas_requirements.$dirty && editForm.gas_requirements.$error.required, 'has-success': !editForm.gas_requirements.$error.required}">
                    <label class='control-label' translate>GAS_REQUIREMENTS</label>
                    <input type="text" name="gas_requirements" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.GAS_REQUIREMENTS' | translate }}" ng-model='item.gas_requirements'>
                  </div>

                  <div class="form-group col col-xs-12 col-sm-6 has-feedback" ng-class="{'has-error': editForm.anchor_fixing_base_requirements.$dirty && editForm.anchor_fixing_base_requirements.$error.required, 'has-success': !editForm.anchor_fixing_base_requirements.$error.required}">
                    <label class='control-label' translate>ANCHOR_FIXING_BASE_REQUIREMENTS</label>
                    <input type="text" name="anchor_fixing_base_requirements" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.ANCHOR_FIXING_BASE_REQUIREMENTS' | translate }}" ng-model='item.anchor_fixing_base_requirements'>
                  </div>
                </div>
              </fieldset>
            </div>
          </uib-tab>


          <uib-tab index="4" heading="Files">
            <div class='well'>
              <fieldset>
                <legend class="aside" translate>FILES_AND_PICTURES</legend>

                <div ng-show="item.files.length > 0">
                  <table class="table">
                    <thead>
                    <tr>
                      <th width="50%" translate>TH_NAME</th>
                      <th>Size</th>
                      <th style="text-align: right;" translate>TH_ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="file in item.files">
                        <td>{{file.filename_original}}</td>
                        <td>{{file.size}}</td>
                        <td style="text-align: right;">
                          <button type="button" class="btn btn-danger btn-xs" ng-click="removeFile(file, $index)">
                            <span class="glyphicon glyphicon-trash"></span> <span translate>BUTTON_REMOVE</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-controller="FileCtrl" ng-file-drop="" uploader="uploader" filters="">

                  <!-- drop zone -->
                  <style>
                    .my-drop-zone { border: dotted 3px lightgray; }
                    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
                    .another-file-over-class { border: dotted 3px green; }
                  </style>
                  <div ng-show="uploader.isHTML5">
                    <div nv-file-drop="" uploader="uploader">
                      <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" translate>
                        DROP_FILES_HERE_TO_UPLOAD
                      </div>
                    </div>
                  </div>
                  <!-- drop zone -->
                <input ng-show="!uploader.isHTML5" type="file" nv-file-select="" uploader="uploader" multiple  />

                  <!-- queue -->
                  <div class="well" style='background-color: #fff;' ng-show="uploader.queue.length > 0">
                    <h4><span translate>UPLOAD_QUEUE</span>&nbsp;<small><span translate>QUEUE_LENGTH:</span> {{ uploader.queue.length }}</small></h4>

                    <table class="table upload-table">
                      <thead>
                      <tr >
                        <th translate>TH_NAME</th>
                        <th ng-show="uploader.isHTML5" translate>TH_SIZE</th>
                        <th ng-show="uploader.isHTML5" translate>TH_PROGRESS</th>
                        <th translate>TH_ACTIONS</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="item in uploader.queue">
                        <td>
                          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>&nbsp;<strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} <span translate>MB</span></td>
                        <td ng-show="uploader.isHTML5">
                          <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                          </div>
                        </td>
                        <td nowrap>
                          <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                            <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                          <!--</button>-->
                          <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                          <!--</button>-->
                          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> <span translate>BUTTON_REMOVE</span>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- queue -->

                  <!-- progress -->
                   <div ng-show="uploader.queue.length > 0">
                        <div>
                            <span translate>QUEUE_PROGRESS:</span>
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> <span translate>BUTTON_UPLOAD_ALL</span>
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> <span translate>BUTTON_CANCEL_ALL</span>
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> <span translate>BUTTON_REMOVE_ALL</span>
                        </button>
                    </div>

                  <!-- progress -->


              </fieldset>
            </div>
          </uib-tab>

          <uib-tab index="5" heading="Extra">
            <div class='well'>
              <fieldset>
                <div class="form-group col col-xs-12 has-feedback" ng-class="{'has-error': editForm.extra_details.$dirty && editForm.extra_details.$error.required, 'has-success': !editForm.extra_details.$error.required}">
                  <label class='control-label' translate>EXTRA_DETAILS_COMMENTS</label>
                  <textarea rows="20" name="extra_details" class="input-sm form-control" placeholder="{{ 'PLACEHOLDER.EXTRA_DETAILS_COMMENTS' | translate }}" ng-model='item.extra_details'></textarea>
                </div>
              </fieldset>
            </div>
          </uib-tab>

        </uib-tabset>

      <button ng-disabled="editForm.$error.required" ng-if="!item.id" ng-click="addItemDetails();" class='btn btn-sm btn-success' translate>BUTTON_ADD_ITEM</button>

      <div ng-if="item.id">
        <label style="font-weight: normal;">
          <input type="checkbox" ng-model="item.updateRequested"> <span translate>COPY_DESCRIPTION_TO_REQUESTED_ITEM_S</span>
          <span>&nbsp;<i class="glyphicon glyphicon-question-sign" uib-tooltip="{{ 'UIB_TOOLTIP.WARNING_UPDATE_DESCRIPTION' | translate }}" tooltip-placement="top" tooltip-trigger="mouseenter"></i></span>
        </label>
      </div>
      <button ng-disabled="editForm.$error.required" ng-if="item.id" ng-click="saveItemDetails();" class='btn btn-sm btn-success' translate>BUTTON_SAVE_ITEM</button>
      <button ng-click="cancel();" class='btn btn-sm btn-warning' translate>BUTTON_CANCEL</button>
    </form>

  </fieldset>
</div>
