<div class="container">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>statuses</li>
</ol>

<div class="row">
<div class="col-md-offset-2 col-md-8">

<p class="pull-right">
  <button class="btn btn-sm btn-success" ng-click="create()"><span translate>add_status</span></button>
</p>

<h1 class="h2 align-top" translate>statuses</h1>

<ws-spinner ng-show="!auth.accessToken" class='bigSpinner'></ws-spinner>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false" translate>no_access_role</div>

<div class="table-responsive" ng-show="auth.accessToken">
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="25%" />
            <col width="25%" />
            <col width="20%" />
            <col width="20%" />
        </colgroup>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Color</th>
                <th>Allow Editing</th>
                <th>Show in Public</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="status in statuses track by status.id">
                <td>{{status.id}}</td>
                <td>
                    <a href ng-click="edit(status)">{{status.name.text}}</a>
                </td>
                <td>
                    <span class="label" ng-style="{'background-color': status.color_code}">{{status.color_code}}</span>
                </td>
                <td>{{status.allow_editing}}</td>
                <td>{{status.show_in_public_view}}</td>
            </tr>
            <tr ng-show="statuses.length == 0">
                <td colspan="5">No Statuses found.</td>
            </tr>
        </tbody>
    </table>
</div>

<br/>

</div>
</div>

</div>
