<div class="container">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>History</li>
</ol>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false" translate>no_access_role</div>

<div ng-repeat="revision in revisions">
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <span class="text-muted">{{revision.created | amDateFormat:'DD.MM.YYYY HH:mm'}}</span>
    </div>
    <div class="col-md-10">
      <div ng-include="'views/revision-diff.html'"></div>
    </div>
  </div>
</div>

<ws-spinner ng-show="loading" class='bigSpinner'></ws-spinner>

<br/>

<p><button class="btn btn-primary" ng-click="loadNextRevisions()">Load more...</button></p>

<br/>

</div>
