<div id='userActions'>
<p class="pull-right">
    <!-- <button class="btn btn-info" ui-sref="home"><span ng-cloak translate>Action button if needed?</span></button> -->
</p>
</div>
<ws-spinner class='bigSpinner' ng-show="loading.sets"></ws-spinner>
<hr class='cb' />
<div class='row'>
	<div class="col-sm-4 col-md-3 sidebar-right">
    <div class="list-group">
      <div ng-show="sets.length < 1" translate>
        NO_SETS_DEFINED
      </div>
      <a ng-show="sets.length > 0" ui-sref-active ui-sref="event.sets.edit({eventId: selectedEvent.id, setId: set.id})" class="list-group-item" ng-repeat="set in sets track by set.id">
        {{set.name}}
        <span class="badge">{{set.items.length}}</span>
      </a>
    </div>


    <button class='btn btn-sm btn-success' ng-click="addNewSet();">
      <i class="glyphicon glyphicon-plus"></i>&nbsp;<span translate>BUTTON_ADD_NEW_SET</span>
    </button>
  </div>

  <div class="col-sm-8 col-md-9" ui-view=""></div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
