<ws-spinner ng-show="!auth.accessToken" class='bigSpinner'></ws-spinner>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false" translate>NO_ACCESS_ROLE</div>

<div ng-repeat="revision in revisions">
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <span class="text-muted">{{revision.created | amDateFormat:'MM.DD.YYYY HH:mm'}}</span>
    </div>
    <div class="col-md-10">
      {{revision.person.first_name}} {{revision.person.last_name}}
      <span ng-switch on="revision.type">
          <span ng-switch-when="create">
            <span class="text-muted">created</span>
            <span ng-if="revision.model == 'supplied_item'"><span class="text-muted">supplied item</span> {{revision.supplied_item.description.text}}</span>
            <span ng-if="revision.model == 'requested_item'"><span class="text-muted">requested item</span> {{revision.requested_item.description.text}}</span>
          </span>
          <span ng-switch-when="update">
            <span class="text-muted">updated</span>
            <span ng-if="revision.model == 'supplied_item'">
              <span class="text-muted">supplied item</span> {{revision.supplied_item.description.text}}
              <span ng-if="revision.supplied_item_previous.description.text != revision.supplied_item.description.text"><br><span class="text-muted">Changed Description from {{revision.supplied_item_previous.description.text}} to</span> {{revision.supplied_item.description.text}}</span>
              <span ng-if="revision.supplied_item_previous.manufacturer != revision.supplied_item.manufacturer"><br><span class="text-muted">Changed Manufacturer from {{revision.supplied_item_previous.manufacturer}} to</span> {{revision.supplied_item.manufacturer}}</span>
              <span ng-if="revision.supplied_item_previous.model != revision.supplied_item.model"><br><span class="text-muted">Changed Model from {{revision.supplied_item_previous.model}} to</span> {{revision.supplied_item.model}}</span>
              <span ng-if="revision.supplied_item_previous.part_number != revision.supplied_item.part_number"><br><span class="text-muted">Changed Part Number from {{revision.supplied_item_previous.part_number}} to</span> {{revision.supplied_item.part_number}}</span>
            </span>
            <span ng-if="revision.model == 'requested_item'"><span class="text-muted">requested item</span> {{revision.requested_item_previous.description.text}} to {{revision.requested_item.description.text}}</span>
          </span>
          <span ng-switch-when="delete">
            <span class="text-muted">deleted</span>
            <span ng-if="revision.model == 'supplied_item'"><span class="text-muted">supplied item</span> {{revision.supplied_item_previous.description.text}}</span>
            <span ng-if="revision.model == 'requested_item'"><span class="text-muted">requested item</span> {{revision.requested_item_previous.description.text}}</span>
          </span>
      </span>
    </div>
  </div>
</div>

<br/>
