
<hr/>

<ws-spinner ng-if="loading.init" class="bigSpinner"></ws-spinner>

<div class="row" ng-show="!loading.init">
  <div class="col-md-offset-2 col-md-8">

    <h3 translate>SKILL_NUMBERS</h3>

    <p class="text-muted" translate>SKILL_NUMBER_EMPTY_HINT</p>

    <hr/>

    <div class="row">
        <label class="col-sm-6" translate>SKILL</label>
        <label class="col-sm-2" translate>TH_COMPETITORS</label>
        <label class="col-sm-2" translate>TH_EXPERTS</label>
        <label class="col-sm-2" translate>TH_INTERPRETERS</label>
    </div>

    <br/>

    <form class="form-horizontal" name="form" novalidate ng-submit="save()">
        <fieldset>
            <div ng-repeat="skill in skills track by skill.id" class="form-group form-group-sm">
              <div class="col-sm-6">
                  {{ skill.name.text }}
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_competitors" placeholder="{{ 'TH_COMPETITORS' | translate }}">
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_experts" placeholder="{{ 'TH_EXPERTS' | translate }}">
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_interpreters" placeholder="{{ 'TH_INTERPRETERS' | translate }}">
              </div>
            </div>
            <hr/>
            <div class="form-group">
              <div class="col-sm-offset-6 col-sm-6">
                <button type="submit" class="btn btn-success"><span translate>SKILL_NUMBERS_SAVE</span><ws-text-spinner ng-show="loading.saveSkillNumbers" class="ng-hide"></ws-text-spinner></button>
                <a ui-sref="event.overview({eventId: selectedEvent.id})" class="btn btn-default" translate>CANCEL</a>
              </div>
            </div>
        </fieldset>
    </form>

  </div>
</div>
