<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>skill_participants_override</li>
</ol>

<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <h1 class="h2" translate>skill_participants_override</h1>

    <p class="text-muted" translate>skill_participants_override_empty_hint</p>

    <hr/>

    <div class="row">
        <label class="col-sm-6" translate>skill</label>
        <label class="col-sm-2" translate>th_competitors</label>
        <label class="col-sm-2" translate>th_experts</label>
        <label class="col-sm-2" translate>th_interpreters</label>
    </div>

    <br/>

    <ws-spinner ng-if="loading.participants" class="bigSpinner"></ws-spinner>

    <form class="form-horizontal" name="form" novalidate ng-submit="save()" ng-show="!loading.participants">
        <fieldset>
            <div ng-repeat="skill in skills track by skill.id" class="form-group form-group-sm">
              <div class="col-sm-6">
                  {{skill.skill_number}} {{ skill.name.text }}
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_competitors" placeholder="{{ 'th_competitors' | translate }}">
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_experts" placeholder="{{ 'th_experts' | translate }}">
              </div>
              <div class="col-sm-2">
                <input class="form-control input-sm" ng-model="skill.numbers.num_interpreters" placeholder="{{ 'th_interpreters' | translate }}">
              </div>
            </div>
            <hr/>
            <div class="form-group">
              <div class="col-sm-offset-6 col-sm-6">
                <button type="submit" class="btn btn-success"><span translate>skill_participants_override_save</span><ws-text-spinner ng-show="loading.saveSkillParticipantsOverride" class="ng-hide"></ws-text-spinner></button>
                <a ui-sref="event({eventId: event.id})" class="btn btn-default" translate>cancel</a>
              </div>
            </div>
        </fieldset>
    </form>

  </div>
</div>
