<div class="container">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>History</li>
</ol>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false" translate>no_access_role</div>

<div ng-repeat="revision in revisions">
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <span class="text-muted">{{revision.created | amDateFormat:'DD.MM.YYYY HH:mm'}}</span>
    </div>
    <div class="col-md-10">
      {{revision.person.first_name}} {{revision.person.last_name}}
      <span ng-switch on="revision.type">
          <span ng-switch-when="create">
            <span class="text-muted">created</span>
            <span ng-if="revision.model == 'supplied_item'"><span class="text-muted">supplied item</span> {{revision.supplied_item.id}} {{revision.supplied_item.description.text}}</span>
            <span ng-if="revision.model == 'requested_item'"><span class="text-muted">requested item</span> {{revision.requested_item.id}} {{revision.requested_item.description.text}}</span>
          </span>
          <span ng-switch-when="update">
            <span class="text-muted">updated</span>
            <span ng-if="revision.model == 'supplied_item'">
              <span class="text-muted">supplied item</span> {{revision.supplied_item.id}} {{revision.supplied_item.description.text}}
              <span ng-if="revision.supplied_item_previous.description.text != revision.supplied_item.description.text"><br><span class="text-muted">Changed Description from {{revision.supplied_item_previous.description.text || 'None'}} to</span> {{revision.supplied_item.description.text || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.manufacturer != revision.supplied_item.manufacturer"><br><span class="text-muted">Changed Manufacturer from {{revision.supplied_item_previous.manufacturer || 'None'}} to</span> {{revision.supplied_item.manufacturer || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.model != revision.supplied_item.model"><br><span class="text-muted">Changed Model from {{revision.supplied_item_previous.model || 'None'}} to</span> {{revision.supplied_item.model || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.size != revision.supplied_item.size"><br><span class="text-muted">Changed Size from {{revision.supplied_item_previous.size || 'None'}} to</span> {{revision.supplied_item.size || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.supplier.id != revision.supplied_item.supplier.id"><br><span class="text-muted">Changed Supplier from {{revision.supplied_item_previous.supplier.name || 'None'}} to</span> {{revision.supplied_item.supplier.name || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.part_number != revision.supplied_item.part_number"><br><span class="text-muted">Changed Part Number from {{revision.supplied_item_previous.part_number || 'None'}} to</span> {{revision.supplied_item.part_number || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.supply_type != revision.supplied_item.supply_type"><br><span class="text-muted">Changed Supply Type from {{revision.supplied_item_previous.supply_type || 'None'}} to</span> {{revision.supplied_item.supply_type || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.unit_cost != revision.supplied_item.unit_cost"><br><span class="text-muted">Changed Unit Cost from {{revision.supplied_item_previous.unit_cost || 'None'}} to</span> {{revision.supplied_item.unit_cost || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.po_number != revision.supplied_item.po_number"><br><span class="text-muted">Changed PO Number from {{revision.supplied_item_previous.po_number || 'None'}} to</span> {{revision.supplied_item.po_number || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.delivery != revision.supplied_item.delivery"><br><span class="text-muted">Changed Delivery from {{revision.supplied_item_previous.delivery || 'None'}} to</span> {{revision.supplied_item.delivery || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.category != revision.supplied_item.category"><br><span class="text-muted">Changed Category from {{revision.supplied_item_previous.category || 'None'}} to</span> {{revision.supplied_item.category || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.disposal_category != revision.supplied_item.disposal_category"><br><span class="text-muted">Changed Disposal Category from {{revision.supplied_item_previous.disposal_category || 'None'}} to</span> {{revision.supplied_item.disposal_category || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.lead_time != revision.supplied_item.lead_time"><br><span class="text-muted">Changed Lead time from {{revision.supplied_item_previous.lead_time || 'None'}} to</span> {{revision.supplied_item.lead_time || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.location != revision.supplied_item.location"><br><span class="text-muted">Changed Location from {{revision.supplied_item_previous.location || 'None'}} to</span> {{revision.supplied_item.location || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.hs_code != revision.supplied_item.hs_code"><br><span class="text-muted">Changed HS Code from {{revision.supplied_item_previous.hs_code || 'None'}} to</span> {{revision.supplied_item.hs_code || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.electricity != revision.supplied_item.electricity"><br><span class="text-muted">Changed Electricity from {{revision.supplied_item_previous.electricity || 'None'}} to</span> {{revision.supplied_item.electricity || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.electricity_volts != revision.supplied_item.electricity_volts"><br><span class="text-muted">Changed Electricity Volts from {{revision.supplied_item_previous.electricity_volts || 'None'}} to</span> {{revision.supplied_item.electricity_volts || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.electricity_amps != revision.supplied_item.electricity_amps"><br><span class="text-muted">Changed Electricity Amps from {{revision.supplied_item_previous.electricity_amps || 'None'}} to</span> {{revision.supplied_item.electricity_amps || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.electricity_phase != revision.supplied_item.electricity_phase"><br><span class="text-muted">Changed Electricity Phase from {{revision.supplied_item_previous.electricity_phase || 'None'}} to</span> {{revision.supplied_item.electricity_phase || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.water_supply != revision.supplied_item.water_supply"><br><span class="text-muted">Changed Water Supply from {{revision.supplied_item_previous.water_supply || 'None'}} to</span> {{revision.supplied_item.water_supply || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.water_drainage != revision.supplied_item.water_drainage"><br><span class="text-muted">Changed Water Drainage from {{revision.supplied_item_previous.water_drainage || 'None'}} to</span> {{revision.supplied_item.water_drainage || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.compressed_air != revision.supplied_item.compressed_air"><br><span class="text-muted">Changed Compressed Air from {{revision.supplied_item_previous.compressed_air || 'None'}} to</span> {{revision.supplied_item.compressed_air || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.ventilation_fume_extraction != revision.supplied_item.ventilation_fume_extraction"><br><span class="text-muted">Changed Ventilation Fume Extraction from {{revision.supplied_item_previous.ventilation_fume_extraction || 'None'}} to</span> {{revision.supplied_item.ventilation_fume_extraction || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.gas_requirements != revision.supplied_item.gas_requirements"><br><span class="text-muted">Changed Gas Requirements from {{revision.supplied_item_previous.gas_requirements || 'None'}} to</span> {{revision.supplied_item.gas_requirements || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.anchor_fixing_base_requirements != revision.supplied_item.anchor_fixing_base_requirements"><br><span class="text-muted">Changed Anchor Fixing Base Requirements from {{revision.supplied_item_previous.anchor_fixing_base_requirements || 'None'}} to</span> {{revision.supplied_item.anchor_fixing_base_requirements || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.extra_details != revision.supplied_item.extra_details"><br><span class="text-muted">Changed Extra details from {{revision.supplied_item_previous.extra_details || 'None' || 'None'}} to</span> {{revision.supplied_item.extra_details || 'None'}}</span>
              <span ng-if="revision.supplied_item_previous.item_category.id != revision.supplied_item.item_category.id"><br><span class="text-muted">Changed Item Category from {{revision.supplied_item_previous.item_category.name.text || 'None'}} to</span> {{revision.supplied_item.item_category.name.text || 'None'}}</span>
            </span>
            <span ng-if="revision.model == 'requested_item'">
              <span class="text-muted">requested item</span> {{revision.requested_item.id}} {{revision.requested_item.supplied_item.description.text}}
              <span ng-if="revision.requested_item_previous.description.text != revision.requested_item.description.text"><br><span class="text-muted">Changed Description from {{revision.requested_item_previous.description.text || 'None'}} to</span> {{revision.requested_item.description.text || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.readable_quantity != revision.requested_item.readable_quantity"><br><span class="text-muted">Changed Quantity from {{revision.requested_item_previous.readable_quantity || 'None'}} to</span> {{revision.requested_item.readable_quantity || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.additional_quantity != revision.requested_item.additional_quantity"><br><span class="text-muted">Changed Additional Quantity from {{revision.requested_item_previous.additional_quantity || 'None'}} to</span> {{revision.requested_item.additional_quantity || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.unit != revision.requested_item.unit"><br><span class="text-muted">Changed Unit from {{revision.requested_item_previous.unit || 'None'}} to</span> {{revision.requested_item.unit || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.supplier.id != revision.requested_item.supplier.id"><br><span class="text-muted">Changed Supplier from {{revision.requested_item_previous.supplier.name || 'None'}} to</span> {{revision.requested_item.supplier.name || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.price != revision.requested_item.price"><br><span class="text-muted">Changed Price from {{revision.requested_item_previous.price || 'None'}} to</span> {{revision.requested_item.price || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.vat_refund != revision.requested_item.vat_refund"><br><span class="text-muted">Changed VAT refund from {{revision.requested_item_previous.vat_refund || 'None'}} to</span> {{revision.requested_item.vat_refund || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.supplied_item.id != revision.requested_item.supplied_item.id"><br><span class="text-muted">Changed Supplied Item from {{revision.requested_item_previous.supplied_item.description.text || 'None'}} to</span> {{revision.requested_item.supplied_item.description.text || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.status.id != revision.requested_item.status.id"><br><span class="text-muted">Changed Status from {{revision.requested_item_previous.status.name.text || 'None'}} to</span> {{revision.requested_item.status.name.text || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.area.id != revision.requested_item.area.id"><br><span class="text-muted">Changed Area from {{revision.requested_item_previous.area.name || 'None'}} to</span> {{revision.requested_item.area.name || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.secret != revision.requested_item.secret"><br><span class="text-muted">Changed Secret from {{revision.requested_item_previous.secret || 'None'}} to</span> {{revision.requested_item.secret || 'None'}}</span>
              <span ng-if="revision.requested_item_previous.category.id != revision.requested_item.category.id"><br><span class="text-muted">Changed Category from {{revision.requested_item_previous.category.name.text || 'None'}} to</span> {{revision.requested_item.category.name.text || 'None'}}</span>
            </span>
          </span>
          <span ng-switch-when="delete">
            <span class="text-muted">deleted</span>
            <span ng-if="revision.model == 'supplied_item'"><span class="text-muted">supplied item</span> {{revision.supplied_item_previous.description.text}}</span>
            <span ng-if="revision.model == 'requested_item'"><span class="text-muted">requested item</span> {{revision.requested_item_previous.description.text}}</span>
          </span>
      </span>
    </div>
  </div>
</div>

<ws-spinner ng-show="loading" class='bigSpinner'></ws-spinner>

<br/>

<p><button class="btn btn-primary" ng-click="loadNextRevisions()">Load more...</button></p>

<br/>

</div>
