<div class="container">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>EVENTS</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>Copy Event</li>
</ol>

<ws-spinner ng-show="!auth.accessToken" class='bigSpinner'></ws-spinner>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false" translate>NO_ACCESS_ROLE</div>

<div ng-show="auth.accessToken">

<h1 class="h2">{{ event.name.text || " "}}</h1>
<hr>

<h3 translate>Copy Event</h3>

<hr>

<div class="row">
  <div class="col-md-2 form-inline">
    <div class="form-group">
      <p class="form-control-static">1. Select Target Event</p>
    </div>
  </div>
  <div class="col-md-10">
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control" ng-model="targetEvent" ng-change="changeEvent()" ng-options="e.name.text for e in (events | filter:{id: '!' + event.id}) track by e.id">
            <option value=""></option>
        </select>
      </div>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2 form-inline">
    <div class="form-group">
      <p class="form-control-static">2. Check Status</p>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-5">
        <p><strong>{{ event.name.text || " "}}</strong></p>
      </div>
      <div class="col-md-7">
        <p><strong>{{ targetEvent.name.text || " "}}</strong></p>
      </div>
    </div>
    <div class="row" ng-repeat="status in statuses">
      <div class="col-md-5">
        <p><span class="label" ng-style="{'background-color': status.color_code}">{{status.name.text}}</span></p>
      </div>
      <div class="col-md-7">
        <p ng-repeat="targetStatus in filteredStatuses = (targetStatuses | filter:{name: {text: status.name.text}})">
          <span class="glyphicon glyphicon-ok text-success"></span> Matched by name, will be mapped: <span class="label" ng-style="{'background-color': targetStatus.color_code}">{{targetStatus.name.text}}</span>
        </p>
        <p ng-if="filteredStatuses.length === 0">
          <span class="glyphicon glyphicon-ban-circle text-danger"></span> No match found, will be created
        </p>
      </div>
    </div>
    <div class="row" ng-repeat="targetStatus in targetStatuses">
      <div class="col-md-5">
      </div>
      <div class="col-md-7">
        <span ng-repeat="status in filteredStatuses = (statuses | filter:{name: {text: targetStatus.name.text}})">
        </span>
        <p ng-if="filteredStatuses.length === 0">
          <span class="glyphicon glyphicon-info-sign text-primary"></span> Additional, unused status found: <span class="label" ng-style="{'background-color': targetStatus.color_code}">{{targetStatus.name.text}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2 form-inline">
    <div class="form-group">
      <p class="form-control-static">3. Check List Categories</p>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-5">
        <p><strong>{{ event.name.text || " "}}</strong></p>
      </div>
      <div class="col-md-7">
        <p><strong>{{ targetEvent.name.text || " "}}</strong></p>
      </div>
    </div>
    <div class="row" ng-repeat="listCategory in listCategories">
      <div class="col-md-5">
        <p>{{listCategory.name.text}}</p>
      </div>
      <div class="col-md-7">
        <p ng-repeat="targetListCategory in filteredListCategories = (targetListCategories | filter:{name: {text: listCategory.name.text}})">
          <span class="glyphicon glyphicon-ok text-success"></span> Matched by name, will be mapped: {{targetListCategory.name.text}}
        </p>
        <p ng-if="filteredListCategories.length === 0">
          <span class="glyphicon glyphicon-ban-circle text-danger"></span> No match found, will be created
        </p>
      </div>
    </div>
    <div class="row" ng-repeat="targetListCategory in targetListCategories">
      <div class="col-md-5">
      </div>
      <div class="col-md-7">
        <span ng-repeat="listCategory in filteredListCategories = (listCategories | filter:{name: {text: targetListCategory.name.text}})">
        </span>
        <p ng-if="filteredListCategories.length === 0">
          <span class="glyphicon glyphicon-info-sign text-primary"></span> Additional, unused list categories found: {{targetListCategory.name.text}}
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-2 form-inline">
    <div class="form-group">
      <p class="form-control-static">4. Check Lists</p>
      <p class="text-muted"><small>Make sure to copy the skills in the <a href="https://events.worldskills.org/" target="_blank">Events application</a> first!</small></p>
    </div>
  </div>
  <div class="col-md-10">

    <table class="table table-striped">
        <colgroup>
            <col width="3%" />
            <col width="37%" />
            <col width="60%" />
        </colgroup>
        <thead>
            <tr>
                <th class="select">
                  <input type="checkbox" ng-model="allChecked" ng-click="checkAll()">
                </th>
                <th>{{ event.name.text || " "}}</th>
                <th>{{ targetEvent.name.text || " "}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="3"></td></tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="list in lists | filter:{skill: {id: '!!'}}">
                <td class="select">
                  <input type="checkbox" ng-model="list.checked" />
                </td>
                <td>{{list.name.text}}</td>
                <td>
                  <span ng-if="list.checked">
                    <span ng-if="filteredLists.length > 1">
                      <span class="glyphicon glyphicon-warning-sign text-warning"></span> Multiple matches found! First one will be used:<br>
                    </span>
                    <span ng-repeat="targetList in filteredLists = (targetLists | filter:{skill: {base_id: list.skill.base_id}}:true)">
                      <span class="glyphicon glyphicon-ok text-success"></span> Matched by Base Skill, will be mapped: {{targetList.name.text}}<br>
                    </span>
                    <span ng-if="filteredLists.length === 0">
                      <span class="glyphicon glyphicon-ban-circle text-danger"></span> No match found, will be created<br>
                    </span>
                  </span>
                </td>
            </tr>
            <tr ng-repeat="list in lists | filter:{skill: null}">
              <td class="select">
                <input type="checkbox" ng-model="list.checked" />
              </td>
              <td>{{list.name.text}}</td>
              <td>
                <span ng-if="list.checked">
                  <span ng-if="filteredLists.length > 1">
                    <span class="glyphicon glyphicon-warning-sign text-warning"></span> Multiple matches found! First one will be used:<br>
                  </span>
                  <span ng-repeat="targetList in filteredLists = (targetLists | filter:{name: {text: list.name.text}})">
                    <span class="glyphicon glyphicon-ok text-success"></span> Matched by name, will be mapped: {{targetList.name.text}}<br>
                  </span>
                  <span ng-if="filteredLists.length === 0">
                    <span class="glyphicon glyphicon-ban-circle text-danger"></span> No match found, will be created<br>
                  </span>
                </span>
              </td>
            </tr>
            <tr>
              <td class="select">&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <div ng-repeat="targetList in targetLists">
                  <span ng-repeat="list in filteredSkillLists = (lists | filter:{skill: {base_id: list.skill.base_id}}:true)">
                  </span>
                  <span ng-repeat="list in filteredLists = (lists | filter:{name: {text: targetList.name.text}})">
                  </span>
                  <span ng-if="filteredSkillLists.length === 0 || filteredLists.length === 0">
                    <span class="glyphicon glyphicon-info-sign text-primary"></span> Additional, unused list found: {{targetList.name.text}}<br>
                  </span>
                </div>
              </td>
            </tr>
        </tbody>
    </table>

  </div>
</div>

<hr>


<div class="row">
  <div class="col-md-2 form-inline">
    <div class="form-group">
      <p class="form-control-static">5. Copy</p>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <p class="form-control-static">
        <button class="btn btn-success" type="submit">Copy selected lists from {{event.name.text}} to {{ targetEvent.name.text || "N/A" }}</button>
      </p>
    </div>
  </div>
</div>

<br/><br/><br/>
</div>

</div>
