<ws-spinner ng-show="loading.init" class-'bigSpinner'></ws-spinner>
{{loading}}
<div ng-show="!loading.init">
  <h4>Select a role to use the application as</h4>

  <ul class="nav nav-pills nav-stacked">
    <li class="" ng-repeat="position in activePositions">
      <a href="#" ng-class="{active: position.id == activePosition.id}" ng-click="setActivePosition(position, $event);">{{position.role}} <span ng-if="position.target">in {{position.target}} </span>at {{position.event.name.text}}</a>
    </li>
  </ul>
  <p>&nbsp;</p>
</div>
