<td>
  <input ng-if="item.canEdit || canEditItemStatus" type="checkbox" ng-model="item.selected" />
</td>
<td>
  {{item.id}}
</td>
<td>
  <span>
    {{'item_readable_quantity_' + item.multiplier.toLowerCase() | translate: {quantity: item.unit ? item.quantity + ' ' + item.unit : item.quantity, factor: item.multiply_factor} }}
  </span>
</td>
<td>
  <span ng-if="item.modificationSuggestions > 0" uib-tooltip="{{ 'edit_requests' | translate}} : {{item.modificationSuggestions}}" class="fa fa-pencil-alt fa-xs icon-circled"></span>
  <span ng-if="item.deletionSuggestions > 0" uib-tooltip="{{ 'deletion_requests' | translate}} : {{item.deletionSuggestions}}" class="fa fa-minus icon-circled"></span>
  <a href ng-if="item.canEdit" ng-click="editRequestedItem(item, $index);">
    {{item.supplied_item.description.text || "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}}
  </a>
  <span ng-if="!item.canEdit">
    {{item.supplied_item.description.text || "&nbsp;"}}
  </span>
</td>
<td>
  <span class='skill-area'>{{item.area.name}}</span>
</td>
<td>
  {{item.supplied_item.supplier.name}}
</td>
<td>
  <small ng-if='item.status && item.id != statusEditionItemId' class='status'>
    <span class='label' ng-style="{'background-color': item.status.color_code}" translate>{{item.status.name.text}}</span>
  </small>
  <small ng-if='item.id == statusEditionItemId' class="status pull-right form-group-sm">
    <ui-select ng-model="item.status" theme="bootstrap" on-select="saveStatus(item, itemIndex);" style="width: 100px">
      <ui-select-match placeholder="{{ 'placeholder.select_status' | translate }}">{{$select.selected.name.text}}</ui-select-match>
      <ui-select-choices repeat="status in statuses | orderBy:'name.text'">
        <div ng-bind-html="status.name.text"></div>
      </ui-select-choices>
    </ui-select>
  </small>
</td>
