<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>EVENTS</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>ITEM_CATEGORY_AND_SUBCATEGORY</li>
</ol>

<h2 translate>ITEM_CATEGORY_AND_SUBCATEGORY</h2>

<uib-tabset>
  <uib-tab index="0" heading="{{ 'ITEM_SUB_CATEGORY' | translate }}">
    <div class="actions">
      <div>
        <div class="pull-left">
          <button class="btn btn-sm btn-success" ng-click="openItemEditor({}, false)">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate>ADD_SUB_CATEGORY</span>
          </button>
        </div>
        <div class="pull-right searchContainer">
          <div class="form-group addForm">
              <div class="input-group">
                  <input type="text" class="form-control input-sm has-feedback" placeholder="{{ 'PLACEHOLDER.SEARCH' | translate }}" ng-model="searchText">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped vmiddle">
        <thead>
          <tr>
            <th ng-click="sortBy('name.text')">
              <span translate>TH_NAME</span>
              <i class="glyphicon" ng-class="{'glyphicon-chevron-down': sortReverse, 'glyphicon-chevron-up': !sortReverse}" ng-show="sortPropertyName === 'name.text'"></i>
            </th>
            <th ng-click="sortBy('parent.name.text')">
              <span translate>TH_ITEM_CATEGORY</span>
              <i class="glyphicon" ng-class="{'glyphicon-chevron-down': sortReverse, 'glyphicon-chevron-up': !sortReverse}" ng-show="sortPropertyName === 'parent.name.text'"></i>
            </th>
            <th class="actions" translate>TH_ACTIONS</th>
          </tr>
        </thead>
        <tfoot><tr ng-show="!loading.subCategories"><td colspan="4"></td></tr></tfoot>
        <tbody>
          <tr ng-repeat="item in data.subCategories | filter:searchText | orderBy:sortPropertyName:sortReverse">
            <td>{{item.name.text}}</td>
            <td>{{item.parent.name.text}}</td>
            <td class="actions">
              <a class="btn btn-danger btn-xs" ng-disabled="item.used" uib-tooltip="{{ 'UIB_TOOLTIP.SUBCATEGORY_CONTAINS_ITEMS' | translate}}" tooltip-enable="{{item.used}}" ng-click="removeItemCategory(item, false)"><span class="glyphicon glyphicon-remove"></span></a>
              <a class="btn btn-warning btn-xs" ng-click="openItemEditor(item, false, $index)"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
          </tr>
          <tr ng-show="!loading.subCategories && !data.subCategories.length">
            <td colspan="4" translate>NO_SUBCATEGORIES</td>
          </tr>
          <tr ng-show="loading.subCategories">
            <td colspan="4"><ws-spinner></ws-spinner></td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="{{ 'ITEM_CATEGORY' | translate }}">
    <div class="actions">
      <div>
        <div class="pull-left">
          <button class="btn btn-sm btn-success" ng-click="openItemEditor({}, true)">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate>ADD_CATEGORY</span>
          </button>
        </div>
        <div class="pull-right searchContainer">
          <div class="form-group addForm">
              <div class="input-group">
                  <input type="text" class="form-control input-sm has-feedback" placeholder="{{ 'PLACEHOLDER.SEARCH' | translate }}" ng-model="searchCategory">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-striped vmiddle">
        <thead>
          <tr>
            <th ng-click="sortBy('name.text')">
              <span translate>TH_NAME</span>
              <i class="glyphicon" ng-class="{'glyphicon-chevron-up': sortReverse, 'glyphicon-chevron-down': !sortReverse}" ng-show="sortPropertyName === 'name.text'"></i>
            </th>
            <th class="actions" translate ng-click="sortBy('name')">TH_ACTIONS</th>
          </tr>
        </thead>
        <tfoot><tr><td colspan="3"></td></tr></tfoot>
        <tbody ng-show="data.categories.length">
          <tr ng-repeat="item in data.categories | filter:searchCategory | orderBy:sortPropertyName:sortReverse">
            <td>{{item.name.text}}</td>
            <td class="actions">
                <a class="btn btn-danger btn-xs" ng-disabled="item.used" uib-tooltip="{{ 'UIB_TOOLTIP.CATEGORY_CONTAINS_SUBCATEGORY' | translate}}" tooltip-enable="{{item.used}}" ng-click="removeItemCategory(item, true)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-warning btn-xs" ng-click="openItemEditor(item, true, $index)"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="!data.categories.length">
          <tr>
            <td colspan="3" translate>NO_CATEGORIES</td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
</uib-tabset>

