<td class="text-right">
  <span>
    {{'ITEM_READABLE_QUANTITY_' + item.multiplier | translate: {quantity: item.unit ? item.quantity + ' ' + item.unit : item.quantity, factor: item.multiply_factor} }}
  </span>
</td>
<td>
  <span ng-if="item.modificationSuggestions > 0" uib-tooltip="{{ 'EDIT_REQUESTS' | translate}} : {{item.modificationSuggestions}}" class="fa fa-pencil-alt fa-xs icon-circled"></span>
  <span ng-if="item.deletionSuggestions > 0" uib-tooltip="{{ 'DELETION_REQUESTS' | translate}} : {{item.deletionSuggestions}}" class="fa fa-minus icon-circled"></span>
  <a href ng-if="item.canEdit" ng-click="editRequestedItem(item);">
    {{item.supplied_item.description.text}}
  </a>
  <span ng-if="!item.canEdit">
    {{item.supplied_item.description.text}}
  </span>
</td>
<td>
  <span class='skill-area'>{{item.area.name}}</span>
</td>
<td>
  <small ng-if='item.status && item.id != statusEditionItemId' class='status'>
    <span class='label' ng-style="{'background-color': item.status.color_code}" translate>{{item.status.name.text}}</span>
  </small>
  <small ng-if='item.id == statusEditionItemId' class="status pull-right form-group-sm">
    <ui-select ng-model="item.status" theme="bootstrap" on-select="saveStatus(item, itemIndex);" style="width: 100px">
      <ui-select-match placeholder="{{ 'PLACEHOLDER.SELECT_STATUS' | translate }}">{{$select.selected.name.text}}</ui-select-match>
      <ui-select-choices repeat="status in statuses | orderBy:'name.text'">
        <div ng-bind-html="status.name.text"></div>
      </ui-select-choices>
    </ui-select>
  </small>
</td>
<td>
  <span class='actions'>
    <span ng-if="canEditItemStatus && !item.canEdit">
        <a class="btn btn-warning btn-xs" ng-click="editItemStatus(item);" style="margin-right: 8px;" title="Edit item status"><span class="glyphicon glyphicon-edit"></span></a>
    </span>
    <div style='width: 32px;' ng-if="!item.canEdit">&nbsp;</div>
    <span ng-if="item.canEdit">
      <a class="btn btn-danger btn-xs" ng-click="removeItem(item, $index);" style="margin-right: 8px;" title="Delete item"><span class="glyphicon glyphicon-remove"></span></a>
    </span>
  </span>
</td>
