<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node">
    <div class="tree-node-content">
      <a class="btn btn-success btn-xs" ng-if="item.children.length > 0" data-nodrag ng-click="this.toggle()"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
      {{item.name.text}}
      <div class="pull-right">
        <a class="btn btn-success btn-xs" ng-click="openItemEditor({}, item)" uib-tooltip="{{ 'add_sub_category' | translate}}"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="btn btn-danger btn-xs" ng-disabled="item.children.length > 0" uib-tooltip="{{ 'uib_tooltip.category_contains_subcategory' | translate}}" tooltip-enable="{{item.children.length > 0}}" ng-click="removeItemCategory(item, $parentNodeScope.item)"><span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-warning btn-xs" ng-click="openItemEditor(item, null, $index)"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
  <ol ui-tree-nodes ng-model="item.children" ng-show="showItem(item, collapsed)">
    <li ng-repeat="item in item.children" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'"></li>
  </ol>
</script>  
<div class="container">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>item_category_and_subcategory</li>
</ol>

<div class="col-md-8 col-md-offset-2">

  <h2 translate>item_category_and_subcategory</h2>
  <div class="actions">
    <div>
      <div class="pull-left">
        <button class="btn btn-sm btn-success" ng-click="openItemEditor({}, null)" ng-disabled="event.locked">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate>add_category</span>
        </button>
      </div>
      <div class="pull-right searchContainer">
        <div class="form-group addForm">
            <div class="input-group">
                <input type="text" class="form-control input-sm has-feedback" placeholder="{{ 'placeholder.search' | translate }}" ng-model="searchCategory">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div ui-tree data-drag-enabled="false">
    <ol ui-tree-nodes ng-model="data.categories">
      <li ng-repeat="item in data.categories" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>

</div>
