<fieldset>
  <ws-spinner class='bigSpinner' ng-if='loading.init'></ws-spinner>
  <div ng-hide="loading.init">

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-if="canEditItemStatus" class="dropdown-header" translate>edit_selected_item_status</li>
        <li ng-if="canEditItemStatus" ng-repeat="status in statuses"><a href ng-click="editSelectedItemStatus(status)">{{status.name.text}}</a></li>
        <li ng-if="canEditItemStatus" role="separator" class="divider"></li>
        <li><a href ng-click="removeSelectedItems()"><span translate>remove_selected_items</span></a></li>
      </ul>
    </div>

    <span class='pull-right'>
      <button type="button" ng-click="addItem();" class="pull-right btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> <span translate>add_item</span>
      </button>

      <div class='searchContainer pull-right'>
        <input ng-model-options="{ debounce: 500 }" type="text" class="form-control searchControl" placeholder="{{ 'placeholder.search' | translate }}" ng-model="filterValue" ng-change="filter()">
        <span class='searchIcon glyphicon glyphicon-search' aria-hidden='true'></span>
      </div>
    </span>

    <div class='cb'></div>

    <br />

    <ws-spinner class='bigSpinner' ng-if='loading.addItem'></ws-spinner>

    <!-- notifications for no items -->
    <div class="row" ng-hide="loading.addItem">
      <div class="col-sm-12" ng-show="items.length == 0 && !loading.init">
        <div class='alert alert-warning'>
          <p ng-if="filterValue.length > 0">
            <span class='glyphicon glyphicon-info-sign'></span> <span translate>search_no_results</span><br />
            <a ng-click="clearSearchTerms();"><span translate>clear_search_terms</span></a>
          </p>
          <p ng-if="!filterValue || filterValue.length == 0"><span class='glyphicon glyphicon-info-sign'></span> <span translate>category_no_items</span></p>
        </div>
      </div>

      <!-- tree of items -->
      <div class="col-sm-12" ng-show="items.length > 0">
        <div class="table-responsive">
          <table class="table table-striped">
            <colgroup>
              <col width="1%" />
              <col width="4%" />
              <col width="20%" />
              <col width="25%" />
              <col width="20%" />
              <col width="10%" />
              <col width="10%" />
            </colgroup>
            <tr>
              <th>&nbsp;</th>
              <th translate>th_id</th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('readable_quantity');" translate>quantity</span>
                <span class="caret" ng-show="orderProperty === 'readable_quantity'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('description.text');" translate>product</span>
                <span class="caret" ng-show="orderProperty === 'description.text'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('area.name');" translate>skill_area</span>
                <span class="caret" ng-show="orderProperty === 'area.name'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('supplied_item.supplier.name');" translate>supplier</span>
                <span class="caret" ng-show="orderProperty === 'supplied_item.supplier.name'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('status.id');" translate>status</span>
                <span class="caret" ng-show="orderProperty === 'status.id'"></span>
              </th>
            </tr>
            <tr ng-repeat="item in items | orderBy:orderProperty:reverse track by $id(item)" ng-include="'views/item_render.html'"></tr>
          </table>
        </div>
      </div>
      <div style="top: 30px;" class="col-sm-12" ng-if="additionRecommendationsCount > 0">
        <span class="fa fa-plus icon-circled"></span>
        <span style="color: #7c9eb2;">{{'x_additions_for_category' | translate:{ count: additionRecommendationsCount } }}</span>
      </div>
      <div style="top: 60px;" class="col-sm-12" ng-if="canHandleRecommend">
        <a ui-sref="recommendations({eventId: event.id, list: list.id})" translate>handle_recommendations</a>
      </div>
    </div>
  </div>
</fieldset>
