<ws-spinner class="bigSpinner" ng-if="loading.overview"></ws-spinner>

<div ng-show="!loading.overview">

<fieldset>
<legend translate>overview</legend>

<p translate>to_edit_items</p>
<p>&nbsp;</p>
<div class='row'>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default' ng-show="list.skill">
			<div class='panel-heading' translate>skill_management</div>
			<div class='panel-body'>
				<table class='table table-striped'>
					<thead>
						<tr>
							<th translate>th_position</th>
							<th translate>th_name</th>
							<!--<th>Email</th>-->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pp in skillManagement track by $index">
							<td>{{pp.position.name.text}}</td>
							<td>{{pp.person.first_name}} {{pp.person.last_name}}</td>
							<!--<td>person_{{n}}@example.com</td>-->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>progress</div>
			<div class='panel-body'>
				<div class="progress">
				  <div
            ng-repeat="status in statusSummary"
						ng-style="{'background-color': status.status.color_code, 'border-bottom-color': status.status.color_code}"
            class="progress-bar" style="width: {{status.count / totalItems * 100}}%">
				    <span uib-tooltip="{{status.status.name.text}}" tooltip-placement="top" tooltip-trigger="mouseenter" class="">{{status.count}}</span>
				  </div>
				</div>
			</div>
		</div>

		<div class='panel panel-default'>
			<div class='panel-heading' translate>reports</div>
			<div class='panel-body'>
				<a ui-sref="publicItems({eventId: event_id, listId: listId})" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-th-list"></i> <span translate>button_report_print_view</span></a>
				<button type="button" ng-click="exportList();" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-download-alt"></i> <span translate>button_report_requested_items</span></button>
			</div>
		</div>
	</div>
</div>

</fieldset>

<div class="row" ng-show="canEditConfig && !list.skill">
	<div class="col-xs-12">
		<div class="pull-right">
			<button type="button" class="btn btn-sm btn-default" ng-click="renameList()"><i class="glyphicon glyphicon-pencil"></i> <span translate>button_rename_list</span></button>
		</div>
	</div>
</div>

</div>
