<ws-spinner ng-show="!auth.accessToken" class='bigSpinner'></ws-spinner>

<div class='alert alert-danger' ng-show="auth.accessToken != null && activeRole == false">
    You don't have the required access role to use this application.
</div>


<ws-spinner ng-if="loading.overview" class='bigSpinner'></ws-spinner>

<div class='row' ng-if="skills.length > 0">
	<div class='col col-xs-12 col-sm-9'>
		<div class='panel panel-default'>
			<div class='panel-heading'>Select a skill</div>
			<div class='panel-body'>			
				<div class="list-group">
				  <a ui-sref="skill.overview({skillId: skill.id})" class="list-group-item" ng-repeat="skill in skills track by skill.id">
				    <h5 class="list-group-item-heading">{{skill.name.text}} <span class="badge smallText">{{skill.skill_number}}</span></h5>
				    	<div class="progress list-group-item-text">
						  <div class="progress-bar progress-bar-success" style="width: 60%">
						    <span uib-tooltip="Supplied" tooltip-placement="top" tooltip-trigger="mouseenter" class="smallText">1932</span>
						  </div>
						  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
						    <span uib-tooltip="Confirmed" tooltip-placement="top" tooltip-trigger="mouseenter" class="smallText">123</span>
						  </div>
						  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 15%">
						    <span uib-tooltip="Waiting" tooltip-placement="top" tooltip-trigger="mouseenter" class="smallText">2</span>
						  </div>
						</div>
				    	<!-- <span class='label label-danger'>Requested: 1948</span> -->
				    	<!-- <span class='label label-warning'>Pending: 123</span> -->
				    	<!-- <span class='label label-success'>Confirmed: 0</span> -->
				  </a>
				</div>
			</div>			
		</div>
	</div>
	<div class='col col-xs-12 col-sm-3'>
		<div class='panel panel-default'>
			<div class='panel-heading'>Permissions</div>
			<div class='panel-body'>			
				<div ng-repeat="role in ilRoles track by role.id"><b>{{role.name}}</b>,<br /><small><i>{{role.ws_entity.name.text}}</i></small></div>
			</div>			
		</div>
	</div>
</div>

<!-- <div ng-show='auth.accessToken != null && activeRole !== false'>
    {{selectedSector}}
    {{skills}}
</div> -->