<h1>{{ skill.skill_number }} {{ skill.name.text }} <small>{{ skill.event.name.text }}</small></h1>

<hr/>

<ws-spinner class="bigSpinner" ng-if="loading"></ws-spinner>

<div ng-hide="loading">

    <div class="il-public-items-category">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title" translate>SKILL_INFORMATION</h2>
        </div>

        <div class="table-responsive">

          <table class="table table-condensed table-bordered il-public-items-table">
        <colgroup>
          <col width="25%" />
          <col width="75%" />
        </colgroup>
        <tbody>
          <tr ng-repeat="pp in skillManagement track by $index">
            <td class="text-right b">{{pp.position.name.text}}</td>
            <td>{{pp.person.first_name}} {{pp.person.last_name}}</td>
          </tr>
        <tr>
          <td class="text-right b" colspan="2">&nbsp;</td>
        </tr>
          <tr>
            <td class="text-right b" translate>TH_COMPETITORS</td>
            <td>{{participantNumbers.num_competitors}}</td>
          </tr>
          <tr>
            <td class="text-right b" translate>TH_EXPERTS</td>
            <td>{{participantNumbers.num_experts}}</td>
          </tr>
          <tr>
            <td class="text-right b" translate>TH_INTERPRETERS</td>
            <td>{{participantNumbers.num_interpreters}}</td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>

    <div ng-repeat="category in categories" class="il-public-items-category"  ng-if="category.items.length || canRecommend()" >

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-btn">
              <h2 class="panel-title">{{ category.category.name.text }}</h2>
              <button type="button" ng-if="canRecommend()" ng-click="openSuggestModalAside(category.id);" data-target="" class="btn btn-xs btn-primary">
                <span translate><i class="fas fa-plus-circle"></i><span translate>SUGGEST_ADDITION</span>
              </button>
            </div>

            <div class="table-responsive" ng-if="category.items.length" >
                <table class="table table-condensed table-bordered il-public-items-table table-with-actions">
                    <colgroup>
                        <col width="15%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col ng-if="canRecommend()" width="10%" />
                      </colgroup>
                    <thead>
                        <tr>
                            <th class="text-right" translate>TH_QUANTITY</th>
                            <th translate>TH_ITEM</th>
                            <th translate>TH_DETAILS</th>
                            <th translate>TH_LAST_MODIFIED</th>
                            <th class="status" translate>TH_STATUS</th>
                            <th class="canRecommend" ng-if="canRecommend()" translate>TH_ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in category.items" ng-class="{'child': !!item.parent_id}">
                          <td class="text-right">
                              <span>{{'ITEM_READABLE_QUANTITY_' + item.multiplier |
                                  translate: {quantity: item.unit ? item.quantity + ' ' + item.unit : item.quantity, factor: item.multiply_factor} }}</span>
                              <span ng-show="item.additional_quantity > 0"><br> + {{item.additional_quantity}} {{ item.unit }} <span translate>ADDITIONAL</span></span>
                          </td>
                          <td>
                              <span ng-show="!!item.parent_id">└&nbsp;</span>
                              <span ng-if="!item.status.show_details_in_public_view">{{ item.description.text }}</span>
                              <span ng-if="item.status.show_details_in_public_view">{{item.supplied_item.description.text}}</span>
                          </td>
                          <td>
                            <div ng-if="item.status.show_details_in_public_view">
                              <div class="row" ng-if="item.supplied_item.manufacturer">
                                <div class="col col-xs col-xs-4 supplied-key" translate>TH_MANUFACTURER</div>
                                <div class="col col-xs col-xs-8 supplied-val">{{item.supplied_item.manufacturer}}</div>
                              </div>
                              <div class="row" ng-if="item.supplied_item.model">
                                <div class="col col-xs col-xs-4 supplied-key" translate>TH_MODEL</div>
                                <div class="col col-xs col-xs-8 supplied-val">{{item.supplied_item.model}}</div>
                              </div>
                              <div class="row" ng-if="item.supplied_item.size">
                                <div class="col col-xs col-xs-4 supplied-key" translate>TH_SIZE</div>
                                <div class="col col-xs col-xs-8 supplied-val">{{item.supplied_item.size}}</div>
                              </div>
                              <div class="row" ng-if="item.supplied_item.part_number">
                                <div class="col col-xs col-xs-4 supplied-key" translate>TH_PART_NUM</div>
                                <div class="col col-xs col-xs-8 supplied-val">{{item.supplied_item.part_number}}</div>
                              </div>
                              <div class="row" ng-if="item.supplied_item.files.length > 0">
                                <div class="col col-xs col-xs-4 supplied-key" translate>TH_FILES</div>
                                <div class="col col-xs col-xs-8 supplied-val">
                                  <ul class="public-files">
                                    <li ng-repeat="file in item.supplied_item.files">
                                      <a target="_blank" href="{{UPLOADS_URL}}/{{file.download_path}}">{{file.filename_original}} ({{file.size | filesize}})</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <span ng-if="item.supplied_item.modified">
                              {{ 'DATE_TIME_AT' |
                                translate: {date: (item.supplied_item.modified | amDateFormat: 'LL'), time: (item.supplied_item.modified | amDateFormat: 'LT')} }}
                            </span>
                            <span ng-if="!item.supplied_item.modified">
                              {{ 'DATE_TIME_AT' |
                                translate: {date: (item.modified | amDateFormat: 'LL'), time: (item.modified | amDateFormat: 'LT')} }}
                            </span>
                          </td>
                          <td class="status">
                              <span class='label' ng-style="{'background-color': item.status.color_code}">{{item.status.name.text}}</span>                              
                          </td>
                          <td class="canRecommend" ng-if="canRecommend()">
                              <span ng-if="item.status.allow_editing">
                                <a class="pull-right btn btn-warning btn-xs" ng-click="openSuggestModalAside(parent, item)" style="margin-right:8px;"><span
                                  class="glyphicon glyphicon-edit"></span></a>
                                <a class="pull-right btn btn-danger btn-xs" ng-click="suggestDeletion(item)" style="margin-right:8px;"><span
                                class="glyphicon glyphicon-remove"></span></a>
                                <span>&nbsp;</span>
                              </span>
                          </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="!category.items.length">
                        <tr>
                            <td></td>
                            <td colspan="3" translate>NO_ITEMS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
