<ol class="breadcrumb">
    <li><a ui-sref="eventList">Events</a></li>
    <li class="active">{{event.name.text || " "}}</li>
</ol>

<h1>{{ event.name.text}}</h1>

<hr/>

<ws-spinner class="bigSpinner" ng-if="loading"></ws-spinner>

<div ng-hide="loading || error">
  
    <h2 style="margin-top: 0;" translate>INFRASTRUCTURE_LISTS</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <colgroup>
                <col width="5%" />
                <col width="35%" />
                <col width="55%" />
                <col width="5%" />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Items</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr ng-show="!loading"><td colspan="4"></td></tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="skill in skills track by skill.id">
                    <td>{{skill.id}}</td>
                    <td style="white-space: nowrap;">
                        <a ui-sref="publicItems({eventId: event.id, skillId: skill.id})">{{skill.skill_number}} {{skill.name.text}}</a>
                    </td>
                    <td>
                      <div class="progress" style="margin-bottom: 0;">
                        <div
                          ng-repeat="status in skill.status_summary.summaries"
                          ng-style="{'background-color': status.status.color_code, 'border-bottom-color': status.status.color_code}"
                          class="progress-bar"
                          style="width: {{status.count / totalCount(skill.status_summary.summaries) * 100}}%">
                          <span uib-tooltip="{{status.status.name.text}}" tooltip-placement="top" tooltip-trigger="mouseenter" class="">{{status.count}}</span>
                        </div>
                      </div>
                    </td>
                    <td style="white-space: nowrap;">
                      <a ui-sref="event.skill.overview({eventId: event.id, skillId: skill.id})" title="{{event.name}}" class="btn btn-xs btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;<span translate>Edit</span>
                      </a>
                    </td>
                </tr>
                <tr ng-show="!loading && skills.length == 0">
                    <td colspan="3">No lists found.</td>
                </tr>
                <tr ng-show="loading">
                    <td colspan="3"><ws-spinner></ws-spinner></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Statuses</h3>
                </div>
                <table class="table">
                        <tr class="dl-horizontal" ng-repeat="status in statuses">
                            <td style="padding-right: 10px;"><span class="label" ng-style="{'background-color': status.color_code}">{{status.name.text}}</span></td>
                            <td>{{status.description.text}}</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>
