<div class="visible-print-block">
  <img src="images/logo.png" alt="WorldSkills" width="100" height="68">
</div>

<ol class="breadcrumb">
    <li><a ui-sref="eventList">Events</a></li>
    <li><a ui-sref="publicItemsEvent({eventId: skill.event.id})">{{skill.event.name.text}}</a></li>
    <li class="active">{{skill.name.text}}</li>
</ol>

<h1>{{ skill.name.text }} <small>Skill {{ skill.skill_number }}, {{ skill.event.name.text }}</small></h1>

<hr/>

<ws-spinner class="bigSpinner" ng-if="loading"></ws-spinner>

<div ng-hide="loading || error">

    <div class="il-public-items-category">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title" translate>SKILL_INFORMATION</h2>
        </div>

        <div class="table-responsive">

          <table class="table table-condensed table-bordered il-public-items-table">
        <colgroup>
          <col width="25%" />
          <col width="75%" />
        </colgroup>
        <tbody>
          <tr ng-repeat="pp in skillManagement track by $index">
            <td class="text-right b">{{pp.position.name.text}}</td>
            <td>{{pp.person.first_name}} {{pp.person.last_name}}</td>
          </tr>
        <tr>
          <td class="text-right b" colspan="2">&nbsp;</td>
        </tr>
          <tr>
            <td class="text-right b" translate>TH_COMPETITORS</td>
            <td>{{participantNumbers.num_competitors}}</td>
          </tr>
          <tr>
            <td class="text-right b" translate>TH_EXPERTS</td>
            <td>{{participantNumbers.num_experts}}</td>
          </tr>
          <tr>
            <td class="text-right b" translate>TH_INTERPRETERS</td>
            <td>{{participantNumbers.num_interpreters}}</td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
    </div>

    <div ng-repeat="category in categories" class="il-public-items-category"  ng-if="category.items.length || canRecommend()" >

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-btn">
              <h2 class="panel-title">{{ category.category.name.text }}</h2>
              <button type="button" ng-if="canRecommend()" ng-click="openSuggestModalAside(category.id);" data-target="" class="btn btn-xs btn-primary">
                <span translate><i class="fas fa-plus-circle"></i><span translate>SUGGEST_ADDITION</span>
              </button>
            </div>

            <div class="table-responsive" ng-if="category.items.length" >
                <table class="table table-condensed table-bordered il-public-items-table table-with-actions">
                    <colgroup>
                        <col width="15%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col width="25%" />
                        <col ng-if="canRecommend()" width="10%" />
                      </colgroup>
                    <thead>
                        <tr>
                            <th ng-class="{dropup: !category.reverse}" class="text-right">
                              <span ng-click="sortBy(category, 'readable_quantity')" translate>TH_QUANTITY</span>
                              <span class="caret" ng-show="category.sort === 'readable_quantity'"></span>
                            </th>
                            <th ng-class="{dropup: !category.reverse}">
                              <span ng-click="sortBy(category, 'description.text')" translate>TH_ITEM</span>
                              <span class="caret" ng-show="category.sort === 'description.text'"></span>
                            </th>
                            <th translate>TH_DETAILS</th>
                            <th ng-class="{dropup: !category.reverse}">
                              <span ng-click="sortBy(category, 'area.name')" translate>SKILL_AREA</span>
                              <span class="caret" ng-show="category.sort === 'area.name'"></span>
                            </th>
                            <th ng-class="{dropup: !category.reverse}" class="status">
                              <span ng-click="sortBy(category, 'status.id')" translate>TH_STATUS</span>
                              <span class="caret" ng-show="category.sort === 'status.id'"></span>
                            </th>
                            <th class="canRecommend" ng-if="canRecommend()" translate>TH_ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in category.items | orderBy:category.sort:category.reverse track by item.id">
                          <td class="text-right">
                              <span ng-if="item.multiplier">{{'ITEM_READABLE_QUANTITY_' + item.multiplier | translate: {quantity: item.unit ? item.quantity + ' ' + item.unit : item.quantity, factor: item.multiply_factor} }}</span>
                              <span ng-if="item.additional_quantity > 0"><br> + {{item.additional_quantity}} {{ item.unit }} <span translate>ADDITIONAL</span></span>
                          </td>
                          <td>
                              <span ng-if="item.status.secret" translate>SECRET_ITEM</span>
                              <span ng-if="!item.status.show_in_public_view">{{ item.description.text }}</span>
                              <span ng-if="item.status.show_in_public_view">{{item.supplied_item.description.text}}</span>
                          </td>
                          <td class="break-all">
                            <div ng-if="item.status.show_in_public_view">
                              <div class="row" ng-if="item.supplier">
                                <span class="col-md-5 supplied-key" translate>TH_SUPPLIER_POTENTIAL</span>
                                <span class="col-md-7 supplied-val">{{ item.supplier.name }}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.manufacturer">
                                <span class="col-md-4 supplied-key" translate>TH_MANUFACTURER</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.manufacturer}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.model">
                                <span class="col-md-4 supplied-key" translate>TH_MODEL</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.model}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.size">
                                <span class="col-md-4 supplied-key" translate>TH_SIZE</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.size}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.part_number">
                                <span class="col-md-4 supplied-key" translate>TH_PART_NUM</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.part_number}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.supplier">
                                <span class="col-md-4 supplied-key" translate>TH_SUPPLIER</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.supplier.name}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.extra_details">
                                <span class="col-md-4 supplied-key" translate>TH_EXTRA_DETAILS</span>
                                <span class="col-md-8 supplied-val">{{item.supplied_item.extra_details}}</span>
                              </div>
                              <div class="row" ng-if="item.supplied_item.files.length > 0">
                                <span class="col-md-4 supplied-key" translate>TH_FILES</span>
                                <span class="col-md-8 supplied-val">
                                  <ul class="public-files">
                                    <li ng-repeat="file in item.supplied_item.files">
                                      <a target="_blank" href="{{UPLOADS_URL}}/{{file.file.download_path}}">{{file.file.filename_original}} ({{file.file.size | filesize}})</a>
                                    </li>
                                  </ul>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <span class="col-md-4 supplied-key" translate>TH_LAST_MODIFIED</span>
                              <span class="col-md-8 supplied-val">
                                <span ng-if="item.supplied_item.modified" ng-bind-html="'DATE_TIME_AT' | translate: {date: (item.supplied_item.modified | amDateFormat: 'DD.MM.YYYY'), time: (item.supplied_item.modified | amDateFormat: 'HH:mm')}"></span>
                                <span ng-if="!item.supplied_item.modified" ng-bind-html="'DATE_TIME_AT' | translate: {date: (item.modified | amDateFormat: 'DD.MM.YYYY'), time: (item.modified | amDateFormat: 'HH:mm')}"></span>
                              </span>
                            </div>
                          </td>
                          <td>
                              {{item.area.name}}
                          </td>
                          <td class="status">
                              <span class='label' ng-style="{'background-color': item.status.color_code}" title="{{item.status.description.text}}">{{item.status.name.text}}</span>
                          </td>
                          <td class="canRecommend" ng-if="canRecommend()">
                              <div ng-if="item.status.allow_editing && !item.status.secret">
                                <a class="btn btn-warning btn-xs" ng-click="openSuggestModalAside(parent, item)"><span
                                  class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger btn-xs" ng-click="suggestDeletion(item)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                              </div>
                          </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!category.items.length">
                        <tr>
                            <td></td>
                            <td colspan="3" translate>NO_ITEMS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Statuses</h3>
                </div>
                <table class="table">
                        <tr class="dl-horizontal" ng-repeat="status in statuses">
                            <td style="padding-right: 10px;"><span class="label" ng-style="{'background-color': status.color_code}">{{status.name.text}}</span></td>
                            <td>{{status.description.text}}</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>
