<div class="modal-header">
  <h3 class="modal-title pull-left">{{data.title}}</h3>
  <!-- <span class="pull-right"><button ng-click="data.newLinkedItem(data.suppliedItem, data.items)" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;<span translate>add_new_linked_item</span></button></span> -->
  <br class="clearfix">
</div>
<div class="modal-body">
  <alerts></alerts>
  <fieldset><legend>Requested Item</legend>
    <table class="table table-striped" ng-if="data.item.id">
      <thead>
        <tr>
          <th translate>Original</th>
          <th translate>Recommended
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
        ng-class="{'warning': data.item.category.id != data.item.requestedItem.category_id}"
        ng-if='data.item.category.id != data.item.requestedItem.category_id'>
          <td><b translate>Category</b><br>{{data.categoriesIndexed[data.item.requestedItem.category_id].name.text}}</td>
          <td><b translate>Category</b><br>{{data.item.category.name.text}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.readable_quantity != data.item.requestedItem.readable_quantity}">
          <td><b translate>Quantity</b><br>{{data.item.requestedItem.readable_quantity}}</td>
          <td><b translate>Quantity</b><br>{{data.item.readable_quantity}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.additional_quantity != data.item.requestedItem.additional_quantity}"
        ng-if='data.item.additional_quantity'>
          <td><b translate>Additional quantity</b><br>{{data.item.requestedItem.additional_quantity}}</td>
          <td><b translate>Additional quantity</b><br>{{data.item.additional_quantity}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.price != data.item.requestedItem.price}"
        ng-if='data.item.price'>
          <td><b translate>Estimated Price</b><br>{{data.item.requestedItem.price}}</td>
          <td><b translate>Estimated Price</b><br>{{data.item.price}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.unit != data.item.requestedItem.unit}"
        ng-if='data.item.unit'>
          <td><b translate>Unit</b><br>{{data.item.requestedItem.unit}}</td>
          <td><b translate>Unit</b><br>{{data.item.unit}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.area.id != data.item.requestedItem.area.id}"
        ng-if='data.item.area.id != data.item.requestedItem.area.id'>
          <td><b translate>skill_area</b><br>{{data.item.requestedItem.area.name}}</td>
          <td><b translate>skill_area</b><br>{{data.item.area.name}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.tier.id != data.item.requestedItem.tier_id}"
        ng-if='data.item.tier.id != data.item.requestedItem.tier_id'>
          <td><b translate>tier</b><br><span ng-repeat="tier in data.tiers" ng-if="tier.id == data.item.requestedItem.tier_id">{{tier.name.text}}</span></td>
          <td><b translate>tier</b><br>{{data.item.tier.name.text}}</td>
        </tr>
        <tr
        ng-class="{'warning': data.item.secret != data.item.requestedItem.secret}"
        ng-if='data.item.secret != data.item.requestedItem.secret'>
          <td><b translate>Secret</b><br>{{data.item.requestedItem.secret}}</td>
          <td><b translate>Secret</b><br>{{data.item.secret}}</td>
        </tr>
        <tr ng-if='data.item.comment && data.item.comment.length > 0'>
          <td colspan="2">
            <b translate>Comment:</b><br>
            {{data.item.comment}}
          </td>
        </tr>
      </tbody>
    </table>


    <div ng-if='data.item.suppliedItem.id || data.item.recommendedItemSupplied.id'>
      <fieldset><legend>Product</legend>

        <div>
          <span class="label label-warning" ng-show="data.item.wrongSuppliedItem" translate>wrong_product</span>
          <span class="label label-danger" ng-show="data.item.deletionSuggestion" translate>Deletion suggested</span>
        </div>

        <div class='alert alert-warning' ng-if="(data.item.recommendedItemSupplied.id && (data.item.suppliedItem.multiple_linked_lists === true || data.item.suppliedItem.multiple_linked_items === true || (!data.item.requestedItem && data.item.suppliedItem.linkedItems === true))) && !data.item.deletionSuggestion" >
          <p class="lead" translate ng-show="!data.split && data.item.suppliedItem.multiple_linked_lists">item_attached_to_multiple_skills</p>
          <p class="lead" translate ng-show="!data.split && (!data.item.requestedItem && data.item.suppliedItem.linkedItems === true)">item_attached_to_skill</p>
          <p class="lead" translate ng-show="!data.split && !data.item.suppliedItem.multiple_linked_lists && data.item.suppliedItem.multiple_linked_items">item_attached_to_multiple_items</p>
          <br>
          <button ng-click="data.split = !data.split" class='btn btn-xs btn-warning'>
            <span translate ng-show="!data.split">split_product</span>
            <span translate ng-show="data.split">dont_split_product</span>
          </button>
        </div>
        <table class="table table-striped" ng-if="data.item.id">
          <thead>
            <tr>
              <th translate>Original</th>
              <th translate>Recommended</th>
            </tr>
          </thead>
          <tbody>
            <tr
            ng-class="{'warning': data.item.recommendedItemSupplied.description.text && data.item.suppliedItem.description.text != data.item.recommendedItemSupplied.description.text}">
              <td><b translate>Description</b><br>{{data.item.suppliedItem.description.text}}</td>
              <td><b translate>Description</b><br>{{data.item.recommendedItemSupplied ? data.item.recommendedItemSupplied.description.text : data.item.suppliedItem.description.text}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.manufacturer != data.item.recommendedItemSupplied.manufacturer}"
            ng-if='data.item.recommendedItemSupplied.manufacturer != null'>
              <td><b translate>th_manufacturer</b><br>{{data.item.suppliedItem.manufacturer}}</td>
              <td><b translate>th_manufacturer</b><br>{{data.item.recommendedItemSupplied.manufacturer}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.model != data.item.recommendedItemSupplied.model}"
            ng-if='data.item.recommendedItemSupplied.model != null'>
              <td><b translate>Model</b><br>{{data.item.suppliedItem.model}}</td>
              <td><b translate>Model</b><br>{{data.item.recommendedItemSupplied.model}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.size != data.item.recommendedItemSupplied.size}"
            ng-if='data.item.recommendedItemSupplied.size != null'>
              <td><b translate>Size</b><br>{{data.item.suppliedItem.size}}</td>
              <td><b translate>Size</b><br>{{data.item.recommendedItemSupplied.size}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.part_number != data.item.recommendedItemSupplied.part_number}"
            ng-if='data.item.recommendedItemSupplied.part_number != null'>
              <td><b translate>Part number</b><br>{{data.item.suppliedItem.part_number}}</td>
              <td><b translate>Part number</b><br>{{data.item.recommendedItemSupplied.part_number}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.item_category.name.text != data.item.recommendedItemSupplied.item_category.name.text}"
            ng-if='data.item.recommendedItemSupplied.item_category.name != null'>
              <td><b translate>Sub category</b><br>{{data.item.suppliedItem.item_category.name.text}}</td>
              <td><b translate>Sub category</b><br>{{data.item.recommendedItemSupplied.item_category.name.text}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.priority != data.item.recommendedItemSupplied.priority}"
            ng-if='data.item.recommendedItemSupplied.priority != null'>
              <td><b translate>Priority</b><br>{{data.item.suppliedItem.priority}}</td>
              <td><b translate>Priority</b><br>{{data.item.recommendedItemSupplied.priority}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.recommendedItemSupplied.supplier.name && data.item.suppliedItem.supplier.name != data.item.recommendedItemSupplied.supplier.name}">
              <td><b translate>Supplier</b><br>{{data.item.suppliedItem.supplier.name}}</td>
              <td><b translate>Supplier</b><br>{{data.item.recommendedItemSupplied ? data.item.recommendedItemSupplied.supplier.name : data.item.suppliedItem.supplier.name}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.supply_type != data.item.recommendedItemSupplied.supply_type}"
            ng-if='data.item.recommendedItemSupplied.supply_type != null'>
              <td><b translate>Supply Type</b><br>{{data.item.suppliedItem.supply_type}}</td>
              <td><b translate>Supply Type</b><br>{{data.item.recommendedItemSupplied.supply_type}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.unit_cost != data.item.recommendedItemSupplied.unit_cost}"
            ng-if='data.item.recommendedItemSupplied.unit_cost != null'>
              <td><b translate>Unit Cost</b><br>{{data.item.suppliedItem.unit_cost}}</td>
              <td><b translate>Unit Cost</b><br>{{data.item.recommendedItemSupplied.unit_cost}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.po_number != data.item.recommendedItemSupplied.po_number}"
            ng-if='data.item.recommendedItemSupplied.po_number != null'>
              <td><b translate>PO Number</b><br>{{data.item.suppliedItem.po_number}}</td>
              <td><b translate>PO Number</b><br>{{data.item.recommendedItemSupplied.po_number}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.delivery != data.item.recommendedItemSupplied.delivery}"
            ng-if='data.item.recommendedItemSupplied.delivery != null'>
              <td><b translate>Delivery</b><br>{{data.item.suppliedItem.delivery | date:'medium'}}</td>
              <td><b translate>Delivery</b><br>{{data.item.recommendedItemSupplied.delivery | date:'medium'}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.disposal_category != data.item.recommendedItemSupplied.disposal_category}"
            ng-if='data.item.recommendedItemSupplied.disposal_category != null'>
              <td><b translate>Disposal Category</b><br>{{data.item.suppliedItem.disposal_category}}</td>
              <td><b translate>Disposal Category</b><br>{{data.item.recommendedItemSupplied.disposal_category}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.location != data.item.recommendedItemSupplied.location}"
            ng-if='data.item.recommendedItemSupplied.location != null'>
              <td><b translate>Location</b><br>{{data.item.suppliedItem.location}}</td>
              <td><b translate>Location</b><br>{{data.item.recommendedItemSupplied.location}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.lead_time != data.item.recommendedItemSupplied.lead_time}"
            ng-if='data.item.recommendedItemSupplied.lead_time != null'>
              <td><b translate>Lead Time</b><br>{{data.item.suppliedItem.lead_time}}</td>
              <td><b translate>Lead Time</b><br>{{data.item.recommendedItemSupplied.lead_time}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.electricity != data.item.recommendedItemSupplied.electricity}"
            ng-if='data.item.recommendedItemSupplied.electricity != null'>
              <td><b translate>Electricity</b><br>{{data.item.suppliedItem.electricity}}</td>
              <td><b translate>Electricity</b><br>{{data.item.recommendedItemSupplied.electricity}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.electricity_volts != data.item.recommendedItemSupplied.electricity_volts}"
            ng-if='data.item.recommendedItemSupplied.electricity_volts != null'>
              <td><b translate>Volts</b><br>{{data.item.suppliedItem.electricity_volts}}</td>
              <td><b translate>Volts</b><br>{{data.item.recommendedItemSupplied.electricity_volts}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.electricity_amps != data.item.recommendedItemSupplied.electricity_amps}"
            ng-if='data.item.recommendedItemSupplied.electricity_amps != null'>
              <td><b translate>Amps</b><br>{{data.item.suppliedItem.electricity_amps}}</td>
              <td><b translate>Amps</b><br>{{data.item.recommendedItemSupplied.electricity_amps}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.electricity_phase != data.item.recommendedItemSupplied.electricity_phase}"
            ng-if='data.item.recommendedItemSupplied.electricity_phase != null'>
              <td><b translate>Phase</b><br>{{data.item.suppliedItem.electricity_phase}}</td>
              <td><b translate>Phase</b><br>{{data.item.recommendedItemSupplied.electricity_phase}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.water_supply != data.item.recommendedItemSupplied.water_supply}"
            ng-if='data.item.recommendedItemSupplied.water_supply != null'>
              <td><b translate>Water Supply</b><br>{{data.item.suppliedItem.water_supply}}</td>
              <td><b translate>Water Supply</b><br>{{data.item.recommendedItemSupplied.water_supply}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.water_drainage != data.item.recommendedItemSupplied.water_drainage}"
            ng-if='data.item.recommendedItemSupplied.water_drainage != null'>
              <td><b translate>Water Drainage</b><br>{{data.item.suppliedItem.water_drainage}}</td>
              <td><b translate>Water Drainage</b><br>{{data.item.recommendedItemSupplied.water_drainage}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.compressed_air != data.item.recommendedItemSupplied.compressed_air}"
            ng-if='data.item.recommendedItemSupplied.compressed_air != null'>
              <td><b translate>Compressed Air</b><br>{{data.item.suppliedItem.compressed_air}}</td>
              <td><b translate>Compressed Air</b><br>{{data.item.recommendedItemSupplied.compressed_air}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.ventilation_fume_extraction != data.item.recommendedItemSupplied.ventilation_fume_extraction}"
            ng-if='data.item.recommendedItemSupplied.ventilation_fume_extraction != null'>
              <td><b translate>Ventilation / Fume Extraction</b><br>{{data.item.suppliedItem.ventilation_fume_extraction}}</td>
              <td><b translate>Ventilation / Fume Extraction</b><br>{{data.item.recommendedItemSupplied.ventilation_fume_extraction}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.gas_requirements != data.item.recommendedItemSupplied.gas_requirements}"
            ng-if='data.item.recommendedItemSupplied.gas_requirements != null'>
              <td><b translate>Gas Requirements</b><br>{{data.item.suppliedItem.gas_requirements}}</td>
              <td><b translate>Gas Requirements</b><br>{{data.item.recommendedItemSupplied.gas_requirements}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.anchor_fixing_base_requirements != data.item.recommendedItemSupplied.anchor_fixing_base_requirements}"
            ng-if='data.item.recommendedItemSupplied.anchor_fixing_base_requirements != null'>
              <td><b translate>Anchor Fixing / Base Requirements</b><br>{{data.item.suppliedItem.anchor_fixing_base_requirements}}</td>
              <td><b translate>Anchor Fixing / Base Requirements</b><br>{{data.item.recommendedItemSupplied.anchor_fixing_base_requirements}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.extra_details != data.item.recommendedItemSupplied.extra_details}"
            ng-if='data.item.recommendedItemSupplied.extra_details != null'>
              <td class="break-all"><b translate>Extra Details</b><br>{{data.item.suppliedItem.extra_details}}</td>
              <td class="break-all"><b translate>Extra Details</b><br>{{data.item.recommendedItemSupplied.extra_details}}</td>
            </tr>
            <tr
            ng-class="{'warning': data.item.suppliedItem.files.length != data.item.recommendedItemSupplied.recommended_files.length}"
            ng-if='data.item.recommendedItemSupplied.recommended_files.length > 0'>
              <td><b translate>Files</b><br>
                <ul>
                  <li ng-repeat="file in data.item.suppliedItem.files">
                    <a target="_blank" href="{{data.UPLOADS_URL}}/{{file.file.download_path}}">{{file.file.filename_original}} ({{file.file.size | filesize}})</a>
                  </li>
                </ul>
              </td>
              <td><b translate>Files</b><br>
                <ul>
                  <li ng-repeat="file in data.item.recommendedItemSupplied.recommended_files">
                    <a target="_blank" href="{{data.UPLOADS_URL}}/{{file.file.download_path}}">{{file.file.filename_original}} ({{file.file.size | filesize}})</a>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>
        <br>
        <br>
    </div>
    <div class='pull-right' ng-if="!data.item.deletionSuggestion && data.userCanAcceptReject">
      <button ng-click="data.modifyRecommendation(data.item)" ng-disabled="event.locked" class='btn btn-md btn-warning'>Modify Recommendation before accepting</button>
    </div>


    <!-- <div class='row'>
      <div class='col col-xs-12 col-sm-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Original</h3>
          </div>
          <div class="panel-body">
            Requested
          </div>
        </div>
      </div>
      <div class='col col-xs-12 col-sm-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recommended</h3>
          </div>
          <div class="panel-body">
            Recommendeded
          </div>
        </div>
      </div>
    </div> -->
  </fieldset>
</div>
<div class="modal-footer">
  <button ng-show="data.userCanAcceptReject" ng-click="data.acceptRecommendation(data.item, this, data.split)" ng-disabled="event.locked" class='btn btn-md btn-success'>{{data.accept}}</button>
  <button ng-show="data.userCanAcceptReject" ng-click="data.rejectRecommendation(data.item, this)" ng-disabled="event.locked" class='btn btn-md btn-danger'>{{data.reject}}</button>
  <button class="btn btn-primary" ng-click="cancel()">{{data.close}}</button>
</div>
