<div class="container">
    <div class="panel panel-validation-view" style="margin-top:20px;">
        <div class="table-responsive table-validation bordered">
            <table class="table table-condensed table-bordered il-public-items-table">
                <thead>
                    <tr>
                        <th class="col-15" translate>SKILL</th>
                        <th class="col-15" translate>TH_ITEM_SUBCATEGORY</th>
                        <th class="col-15" translate>TH_ITEM_APPLICANT</th>
                        <th class="col-20" translate>TH_ITEM_DATE_AND_TIME</th>
                        <th class="col-15" translate>PLACEHOLDER.QUANTITY</th>
                        <th class="col-15" translate>NAME</th>
                        <th class="col-5"><i class="fa fa-info-circle warning"></i></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="panel panel-validation-view" ng-repeat="item in recommendedItems">
        <div class="panel-heading">
            <div class="table-responsive table-validation">
                <table class="table table-condensed table-bordered il-public-items-table">
                    <tbody>
                        <tr>
                            <td class="col-15">
                                <span class="ng-binding">{{item.skill.name.text}}</span>
                            </td>
                            <td class="col-15">
                                <span ng-if="item.requestedItem" class="ng-binding ng-scope">{{item.requestedItem.supplied_item.item_category}}</span>
                            </td>
                            <td class="col-15">{{item.person.first_name}} {{item.person.last_name}}</td>
                            <td class="col-20">
                                <span class="ng-binding ng-scope" ng-if="item.recommendedAt">{{ 'DATE_TIME_AT' |
                                        translate: {date: (item.recommendedAt | amDateFormat: 'LL'), time: (item.recommendedAt | amDateFormat: 'LT')} }}</span>
                            </td>
                            <td class="col-15">{{item.quantity}}</td>
                            <td class="col-15">{{item.description.text}}</td>
                            <td class="button col-5" data-toggle="collapse" data-parent="#accordion" href="#validation{{item.id}}" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-chevron-down"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="validation{{item.id}}" class="panel-body collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="table-container table-responsive">
                <table class="table table-condensed table-bordered il-public-items-table table-in-validation">
                    <thead>
                        <tr>
                            <th class="col-10"></th>
                            <th class="col-15">Description</th>
                            <th class="col-10 text-right">Quantity</th>
                            <th class="col-15">Potential supplier</th>
                            <th class="col-10 text-center">Wrong supplied item</th>
                            <th class="col-20">Comment</th>
                            <th class="col-20 text-center">Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="actuel" ng-if="item.requestedItem">
                            <td>
                                <span ng-if="!item.deletionSuggestion" translate>TD_ITEM_CURRENT</span>
                                <span ng-if="item.deletionSuggestion" translate>TD_ITEM_DELETION</span>
                            </td>
                            <td ng-class="{'change': item.description.text != item.requestedItem.description.text}">
                                {{item.requestedItem.description.text}}
                            </td>
                            <td class="text-right" ng-class="{'change': item.quantity != item.requestedItem.quantity}">
                                {{item.requestedItem.quantity}}
                            </td>
                            <td ng-class="{'change': item.potentialSupplier != item.requestedItem.supplier}">
                                {{item.requestedItem.supplier}}
                            </td>
                            <td rowspan="2" class="text-center" translate>
                                {{item.wrongSuppliedItem}}
                            </td>
                            <td rowspan="2" class="description">
                                {{item.comment}}
                            </td>
                            <td rowspan="2" class="image text-center text-center">
                                <div class="aniimated-thumbnials lightgallery-validation lightgallery">
                                    <!--<a href="img/batteur.jpg">
                                        <img src="img/batteur.jpg" />
                                        <div class="hover-effect">
                                            <img src="./img/zoom.png" class="zoom" />
                                        </div>
                                    </a>-->
                                </div>
                            </td>
                        </tr>

                        <tr class="remplace" ng-if="!item.deletionSuggestion">
                            <td>
                                <span ng-if="item.requestedItem" translate>
                                    TD_ITEM_REPLACE_WITH
                                </span>
                                <span ng-if="!item.requestedItem" translate>
                                    TD_ITEM_ADDITION
                                </span>
                            </td>
                            <td ng-class="{'change-error': item.description.text != item.requestedItem.description.text}">
                                {{item.description.text}}
                            </td>
                            <td class="text-right" ng-class="{'change-warning': item.quantity != item.requestedItem.quantity}">
                                {{item.quantity}}
                            </td>
                            <td ng-class="{'change-warning': item.potentialSupplier != item.requestedItem.supplier}">
                                {{item.potentialSupplier}}
                            </td>
                            <td class="text-center" ng-if="!item.requestedItem" translate>
                                {{item.wrongSuppliedItem}}
                            </td>
                            <td rowspan="2" class="description" ng-if="!item.requestedItem">
                                {{item.comment}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="button-group">
                    <button type="button" ng-click="accept(item);" class="pull-right btn btn-sm btn-success">
                        <span>Accept</span>
                    </button>

                    <button type="button" class="pull-right btn btn-sm btn-danger" data-toggle="modal" data-target=".modal-rejection">
                        <span>Reject</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade modal-rejection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
            Do you want to reject this suggestion ?<br><br>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
        </div>
    </div>
</div>
