<div class="modal-header">
  <h3 class="modal-title" translate>recommendations_want_reject</h3>
</div>
<div class="modal-body">
  <textarea ng-model="rejectionReason" rows="10" name="extra_details" class="form-control" placeholder="{{ 'placeholder.extra_details_comments' | translate }}"></textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" ng-click="cancel()" translate>button_cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()" translate>button_submit</button>
</div>
