<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">
  <p ng-if="!data.linkedItems">Are you sure you want to remove these items?</p>
  <div ng-if="data.linkedItems" class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<strong>Important!</strong> Some of the items can't be deleted, as it they are already been assigned to a skill. Clicking on "delete" will only delete items that are not used in any skills.</div>
  <p>
    &nbsp;
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Status</th>
      <th ng-if="data.linkedItems">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data.items track by $index" ng-class="{'warning': item.linkedItems}">
      <td>{{item.id}}</td>
      <td>{{item.description.text}}</td>
      <td>{{item.manufacturer}}</td>
      <td>{{item.model}}</td>
      <td>{{item.supplied_item.status.name.text}}</td>
      <td ng-if="data.linkedItems">
        <span ng-if="!item.linkedItems">Yes</span>
        <span ng-if="item.linkedItems">No</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
