<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">
  <p>Are you sure you want to remove this item?</p>
  <div ng-if="data.item.linkedItems" class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<strong>Important!</strong> You can't delete this item, as it has already been assigned to a skill.</div>
  <p>
    &nbsp;
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{data.item.id}}</td>
      <td>{{data.item.description.text}}</td>
      <td>{{data.item.make}}</td>
      <td>{{data.item.model}}</td>
      <td>{{data.item.status.name.text}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
