<div class="container-fluid">

<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>events</a></li>
    <li><a ui-sref="event({eventId: event.id})">{{event.name.text}}</a></li>
    <li class="active" translate>requested_items</li>
</ol>

<h1 class="h2" ng-show="!hideFooter" class="ng-binding ng-scope" aria-hidden="false" translate>requested_items</h1>
<hr class="cb">
<div class="alert alert-info text-center" ng-if="loading.download">
  <span translate>downloading_file</span>
  <ws-spinner></ws-spinner>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class='control-label' translate>skill_sector</label>
        <ui-select ui-disable-choice="value.status == 'inactive'" ng-model="filters.sector" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_skill_sector' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_skill_sectors' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="sector in sectors | customWSFilter: {objPath: 'name.text', 'query': $select.search} | orderBy:'name.text'">
            <div ng-bind-html="sector.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class='control-label' translate>skill</label>
        <ui-select ui-disable-choice="value.status == 'inactive'" ng-model="filters.skill" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_skill' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_skill' | translate }}">{{$select.selected.skill_number}} {{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="skill in skills | customWSFilter: {objPath: 'name.text', 'query': $select.search}">
            <div>{{skill.skill_number}} {{skill.name.text}}</div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>th_item_category</label>
        <ui-select ng-model="filters.item_category.id" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_item_category' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_item_category' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="category.id as category in (itemCategories | customWSFilter: {objPath: 'name.text', 'query': $select.search}) track by $index">
            {{category.path}} {{category.name.text}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>tier</label>
        <ui-select ng-model="filters.tier" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_tier' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_tiers' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="tier in tiers | customWSFilter: {objPath: 'name.text', 'query': $select.search} | orderBy:'name.text'">
            <div ng-bind-html="tier.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>description</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            ng-model="filters.description"
            ng-model-options='{ debounce: 300 }'
            ng-change="changeFilters()"
            placeholder="{{ 'placeholder.description' | translate }}"
            >
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>category</label>
        <ui-select ng-model="filters.category" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_category' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_category' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="category in categories | customWSFilter: {objPath: 'name.text', 'query': $select.search} | orderBy:'name.text'">
            <div ng-bind-html="category.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>status</label>
        <ui-select ng-model="filters.status" theme="bootstrap" on-select="changeFilters()" title="{{ 'title.choose_status' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'placeholder.all_statuses' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="status in statuses | customWSFilter: {objPath: 'name.text', 'query': $select.search} | orderBy:'name.text'">
            <div ng-bind-html="status.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>supplier</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            ng-model="filters.supplier"
            ng-change="changeFilters()"
            title="{{'title.choose_supplier' | translate}}"
            placeholder="{{ 'placeholder.supplier' | translate }}"
            >
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>requested_item_id</label>
        <input
          type="text"
          class="form-control"
          ng-model="filters.id"
          ng-change="changeFilters()"
        >
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>th_manufacturer</label>
        <input
          type="text"
          class="form-control"
          ng-model="filters.manufacturer"
          ng-change="changeFilters()"
        >
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>th_model</label>
        <input
          type="text"
          class="form-control"
          ng-model="filters.model"
          ng-change="changeFilters()"
        >
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group addForm">
        <label class="control-label" translate>th_size</label>
        <input
          type="text"
          class="form-control"
          ng-model="filters.size"
          ng-change="changeFilters()"
        >
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3 col-sm-6">
      <div class="material-switch-label form-group addForm">
        <label for="swElectricity" class="control-label" translate>electricity_needed</label>
        <div class="material-switch">
          <input id="swElectricity" type="checkbox" ng-change="changeFilters()" ng-model="filters.electricity">
          <label for="swElectricity" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="material-switch-label form-group addForm">
        <label for="swAir" class="control-label" translate>air_needed</label>
        <div class="material-switch">
          <input id="swAir" type="checkbox" ng-change="changeFilters()" ng-model="filters.air">
          <label for="swAir" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="material-switch-label form-group addForm">
        <label for="swWater" class="control-label" translate>water_needed</label>
        <div class="material-switch">
          <input id="swWater" type="checkbox" ng-change="changeFilters()" ng-model="filters.water">
          <label for="swWater" class="label-success"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="pull-right mt-2">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
        Columns <span class="caret"></span>
      </button>
      <ul id="myDropdown" class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href ng-click="toggleColumn('id')"><i ng-style="{'visibility' : columns.id ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_id</span></a></li>
        <li><a href ng-click="toggleColumn('sector')"><i ng-style="{'visibility' : columns.sector ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_skill_sector</span></a></li>
        <li><a href ng-click="toggleColumn('list')"><i ng-style="{'visibility' : columns.list ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_list</span></a></li>
        <li><a href ng-click="toggleColumn('category')"><i ng-style="{'visibility' : columns.category ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_category</span></a></li>
        <li><a href ng-click="toggleColumn('quantity')"><i ng-style="{'visibility' : columns.quantity ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_quantity</span></a></li>
        <li><a href ng-click="toggleColumn('calculated_quantity')"><i ng-style="{'visibility' : columns.calculated_quantity ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_quantity_calculated</span></a></li>
        <li><a href ng-click="toggleColumn('unit')"><i ng-style="{'visibility' : columns.unit ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_unit</span></a></li>
        <li><a href ng-click="toggleColumn('area')"><i ng-style="{'visibility' : columns.area ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>skill_area</span></a></li>
        <li><a href ng-click="toggleColumn('supplied')"><i ng-style="{'visibility' : columns.supplied ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_product</span></a></li>
        <li><a href ng-click="toggleColumn('manufacturer')"><i ng-style="{'visibility' : columns.manufacturer ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_manufacturer</span></a></li>
        <li><a href ng-click="toggleColumn('model')"><i ng-style="{'visibility' : columns.model ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_model</span></a></li>
        <li><a href ng-click="toggleColumn('size')"><i ng-style="{'visibility' : columns.size ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_size</span></a></li>
        <li><a href ng-click="toggleColumn('part_number')"><i ng-style="{'visibility' : columns.part_number ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_part_num</span></a></li>
        <li><a href ng-click="toggleColumn('supplier')"><i ng-style="{'visibility' : columns.supplier ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_supplier</span></a></li>
        <li><a href ng-click="toggleColumn('electricity')"><i ng-style="{'visibility' : columns.electricity ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_electricity</span></a></li>
        <li><a href ng-click="toggleColumn('water_supply')"><i ng-style="{'visibility' : columns.water_supply ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_water_supply</span></a></li>
        <li><a href ng-click="toggleColumn('compressed_air')"><i ng-style="{'visibility' : columns.compressed_air ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_compressed_air</span></a></li>
        <li><a href ng-click="toggleColumn('price')"><i ng-style="{'visibility' : columns.price ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>estimated_price</span></a></li>
        <li><a href ng-click="toggleColumn('tier')"><i ng-style="{'visibility' : columns.tier ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>tier</span></a></li>
        <li><a href ng-click="toggleColumn('extra_details')"><i ng-style="{'visibility' : columns.extra_details ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_extra_details</span></a></li>
        <li><a href ng-click="toggleColumn('files')"><i ng-style="{'visibility' : columns.files ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_files</span></a></li>
        <li><a href ng-click="toggleColumn('status')"><i ng-style="{'visibility' : columns.status ? 'visible' : 'hidden'}" class="fa fa-check"></i> <span translate>th_status</span></a></li>
      </ul>
    </div>
    <button class="btn btn-sm btn-default" ng-click="clear()" translate>clear</button>
    <button class="btn btn-sm btn-primary" ng-click="downloadCsv()"><span class="glyphicon glyphicon-save"></span>&nbsp;<span translate>extract_results</span></button>
  </div>

  <div class="mt-2">
    <button class="btn btn-sm btn-primary" ng-disabled="selectedItemsCount() < 1 || event.locked" ng-click="openMultipleItemEditor()">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate>multiple_edition</span>
    </button>
    <button class="btn btn-sm btn-danger" ng-disabled="selectedItemsCount() < 1 || event.locked" ng-click="deleteMultipleItem()">
      <span translate>multiple_delete</span>
    </button>
  </div>

  <div class="clearfix"></div>
</div>


<div class="table-responsive mt-3">
  <table class="table table-condensed table-hover vmiddle">
    <thead>
      <tr>
        <th class="select">
          <input type="checkbox" ng-model="allSelected" ng-click="selectAll()">
        </th>
        <th ng-if="columns.id" translate>th_id</th>
        <th ng-if="columns.sector" translate>th_skill_sector</th>
        <th ng-if="columns.list" translate>th_list</th>
        <th ng-if="columns.category" translate>th_category</th>
        <th ng-if="columns.quantity" translate>th_quantity</th>
        <th ng-if="columns.calculated_quantity" translate>th_quantity_calculated</th>
        <th ng-if="columns.unit" translate>th_unit</th>
        <th ng-if="columns.description" translate>th_description</th>
        <th ng-if="columns.area" translate>skill_area</th>
        <th ng-if="columns.supplied" translate>th_product</th>
        <th ng-if="columns.manufacturer" translate>th_manufacturer</th>
        <th ng-if="columns.model" translate>th_model</th>
        <th ng-if="columns.size" translate>th_size</th>
        <th ng-if="columns.part_number" translate>th_part_num</th>
        <th ng-if="columns.supplier" translate>th_supplier</th>
        <th ng-if="columns.electricity" translate>th_electricity</th>
        <th ng-if="columns.water_supply" translate>th_water_supply</th>
        <th ng-if="columns.compressed_air" translate>th_compressed_air</th>
        <th ng-if="columns.price" translate>estimated_price</th>
        <th ng-if="columns.tier" translate>tier</th>
        <th ng-if="columns.extra_details" translate>th_extra_details</th>
        <th ng-if="columns.files" translate>th_files</th>
        <th ng-if="columns.status" translate>th_status</th>
      </tr>
    </thead>
    <tbody ng-show="items.length && !loading.items">
      <tr ng-repeat="item in items"  ng-class="{'warning': item.selected}" ng-click="toggleItem(item)">
        <td class="select">
          <input type="checkbox" ng-checked="item.selected"/>
        </td>
        <td ng-if="columns.id">{{item.id}}</td>
        <td ng-if="columns.sector"><span ng-if="item.list.skill.sector">{{item.list.skill.sector.name.text}}</span></td>
        <td ng-if="columns.list">{{item.list.name.text}}</td>
        <td ng-if="columns.category">
            {{ item.category.name.text }}
        </td>
        <td ng-if="columns.quantity">
            <span ng-if="item.multiplier">{{'item_readable_quantity_' + item.multiplier.toLowerCase() | translate: {quantity: item.supplied_item.unit ? item.quantity + ' ' + item.supplied_item.unit : item.quantity, factor: item.multiply_factor} }}</span>
            <span ng-if="item.additional_quantity > 0"><br> + {{item.additional_quantity}} {{ item.supplied_item.unit }} <span translate>additional</span></span>
        </td>
        <td ng-if="columns.calculated_quantity">{{item.calculated_quantity}}</td>
        <td ng-if="columns.unit">{{UNITS[item.supplied_item.unit] | translate}}</td>
        <td ng-if="columns.description">{{ item.description.text }}</td>
        <td ng-if="columns.area">{{item.area.name}}</td>
        <td ng-if="columns.supplied">{{item.supplied_item.description.text}}</td>
        <td ng-if="columns.manufacturer">{{item.supplied_item.manufacturer}}</td>
        <td ng-if="columns.model">{{item.supplied_item.model}}</td>
        <td ng-if="columns.size">{{item.supplied_item.size}}</td>
        <td ng-if="columns.part_number">{{item.supplied_item.part_number}}</td>
        <td ng-if="columns.supplier">{{item.supplied_item.supplier.name}}</td>
        <td ng-if="columns.electricity">{{item.supplied_item.electricity}}</td>
        <td ng-if="columns.water_supply">{{item.supplied_item.water_supply}}</td>
        <td ng-if="columns.compressed_air">{{item.supplied_item.compressed_air}}</td>
        <td ng-if="columns.price">{{item.price}}</td>
        <td ng-if="columns.tier">{{tiersIndexed[item.tier_id].name.text}}</td>
        <td ng-if="columns.extra_details">{{item.supplied_item.extra_details}}</td>
        <td ng-if="columns.files">
          <ul class="public-files">
            <li ng-repeat="file in item.supplied_item.files">
              <a target="_blank" href="{{UPLOADS_URL}}/{{file.file.download_path}}">{{file.file.filename_original}} ({{file.file.size | filesize}})</a>
            </li>
          </ul>
        </td>
        <td ng-if="columns.status">
            <span class='label' ng-style="{'background-color': item.status.color_code}" title="{{item.status.description.text}}">{{item.status.name.text}}</span>
        </td>
      </tr>
    </tbody>
    <tbody ng-show="!items.length || loading.items">
      <tr>
        <td ng-if="loading.items" colspan="{{columnLength}}"><ws-spinner></ws-spinner></td>
        <td ng-if="!loading.items" colspan="{{columnLength}}" class="text-center" translate>no_items</td>
      </tr>
    </tbody>
    <tfoot ng-if="items.length && !loading.items">
      <tr>
        <td colspan="{{columnLength}}" class="text-center">
          <uib-pagination
            total-items="items_total_count"
            ng-model="current_page"
            items-per-page='items_per_page'
            class="pagination-small"
            boundary-links="true"
            rotate="false"
            max-size="5"
            ng-change="changePage(current_page)"
            first-text="{{'pager.first' | translate}}"
            previous-text="{{'pager.previous' | translate}}"
            next-text="{{'pager.next' | translate}}"
            last-text="{{'pager.last' | translate}}"
            >
          </uib-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

</div>
