<div class="aside">
  <fieldset>
    <legend translate>requested_items_properties</legend>
    <form name="editForm">

      <div class="tab-content">
        <div class="tab-pane active" id="tabItems">
          <div class="well">
            <fieldset>
              <legend translate>general_information</legend>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" translate>status</label>
                    <ui-select
                      name="status"
                      ng-model="editedItem.status"
                      theme="bootstrap"
                      ng-disabled="!canEditItemStatus"
                      tooltip-enable="!canEditItemStatus"
                      uib-tooltip="{{'no_permission_edit_status' | translate}}"
                      >
                      <ui-select-match allow-clear="canEditItemStatus" placeholder="{{  multipleStatus ? 'multiple_values_detected' : 'placeholder.all_statuses' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                      <ui-select-choices repeat="status in statuses | orderBy:'name.text'">
                        <div ng-bind-html="status.name.text | highlight: $select.selected.name.text"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" translate>estimated_price</label>
                    <input type="number" name="price" class="form-control" ng-model="editedItem.price" placeholder="{{  multipleStatus ? 'multiple_values_detected' : 'estimated_price' | translate }}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="control-label" translate>category</label>
                  <ui-select name="category" ng-model="editedItem.category" theme="bootstrap" title="{{ 'title.choose_category' | translate }}">
                    <ui-select-match allow-clear="true" placeholder="{{  multipleStatus ? 'multiple_values_detected' : 'placeholder.all_category' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                    <ui-select-choices repeat="category in categories | orderBy:'name.text'">
                      <div ng-bind-html="category.name.text | highlight: $select.selected.name.text"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" translate>tier</label>
                    <ui-select name="tier" ng-model="editedItem.tier" theme="bootstrap">
                      <ui-select-match allow-clear="true" placeholder="{{  multipleTier ? 'multiple_values_detected' : 'placeholder.all_tiers' | translate }}">{{$select.selected.name.text}}</ui-select-match>
                      <ui-select-choices repeat="tier.id as tier in tiers track by tier.id">
                        <div ng-bind-html="tier.name.text | highlight: $select.selected.name.text"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <button ng-disabled="!editForm.$dirty || !isFormValid() || isSubmitting" class="btn btn-sm btn-success" ng-click="saveItems()" translate>update_requested_items</button>
      <button class="btn btn-sm btn-warning" ng-click="cancel()" translate>cancel</button>
    </form>
  </fieldset>
</div>
