<h2 ng-show="!hideFooter" class="ng-binding ng-scope" aria-hidden="false" translate>REQUESTED_ITEMS</h2>
<hr class="cb">
<div class="alert alert-info text-center" ng-if="loading.download">
  <span translate>DOWNLOADING_FILE</span>
  <ws-spinner></ws-spinner>
</div>
<div class="well">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class='control-label' translate>SKILL</label>
        <ui-select ui-disable-choice="value.status == 'inactive'" ng-model="filters.skill" theme="bootstrap" on-select="changeFilters()" title="{{ 'TITLE.CHOOSE_SKILL' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'PLACEHOLDER.ALL_SKILL' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices group-by="groupBySector" repeat="skill in skills">
            <div ng-bind-html="skill.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>ITEM_CATEGORY</label>
        <ui-select ng-model="filters.item_category" theme="bootstrap" on-select="changeFilters()" title="{{ 'TITLE.CHOOSE_SKILL' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'PLACEHOLDER.ALL_ITEM_CATEGORY' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="category in itemCategories | orderBy:'name.text'">
            <div ng-bind-html="category.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>ITEM_SUB_CATEGORY</label>
        <ui-select ng-model="filters.item_subcategory" theme="bootstrap" on-select="changeFilters()" title="{{ 'TITLE.CHOOSE_SKILL' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'PLACEHOLDER.ALL_ITEM_SUBCATEGORY' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="subcategory in subcategories | orderBy:'name.text'">
            <div ng-bind-html="subcategory.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>NAME</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filters.description"  ng-model-options='{ debounce: 300 }' ng-change="changeFilters()" placeholder="{{ 'PLACEHOLDER.NAME_OF_THE_ITEM' | translate }}">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>CATEGORY</label>
        <ui-select ng-model="filters.category" theme="bootstrap" on-select="changeFilters()" title="{{ 'TITLE.CHOOSE_SKILL' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'PLACEHOLDER.ALL_CATEGORY' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="category in categories | orderBy:'name.text'">
            <div ng-bind-html="category.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>STATUS</label>
        <ui-select ng-model="filters.status" theme="bootstrap" on-select="changeFilters()" title="{{ 'TITLE.CHOOSE_SKILL' | translate }}">
          <ui-select-match allow-clear="true" placeholder="{{ 'PLACEHOLDER.ALL_STATUSES' | translate }}">{{$select.selected.name.text}}</ui-select-match>
          <ui-select-choices repeat="status in statuses | orderBy:'name.text'">
            <div ng-bind-html="status.name.text"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group addForm">
        <label class="control-label" translate>SUPPLIER</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filters.supplier" ng-change="changeFilters()" placeholder="{{ 'PLACEHOLDER.SUPPLIER' | translate }}">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3">
      <div class="material-switch-label form-group addForm">
        <label for="swEnergy" class="control-label" translate>ENERGY_NEEDED</label>
        <div class="material-switch">
          <input id="swEnergy" type="checkbox" ng-change="changeFilters()" ng-model="filters.energy">
          <label for="swEnergy" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="material-switch-label form-group addForm">
        <label for="swAir" class="control-label" translate>AIR_NEEDED</label>
        <div class="material-switch">
          <input id="swAir" type="checkbox" ng-change="changeFilters()" ng-model="filters.air">
          <label for="swAir" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="material-switch-label form-group addForm">
        <label for="swWater" class="control-label" translate>WATER_NEEDED</label>
        <div class="material-switch">
          <input id="swWater" type="checkbox" ng-change="changeFilters()" ng-model="filters.water">
          <label for="swWater" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="material-switch-label form-group addForm">
        <label for="swElectricity" class="control-label" translate>ELECTRICITY_NEEDED</label>
        <div class="material-switch">
          <input id="swElectricity" type="checkbox" ng-change="changeFilters()" ng-model="filters.electricity">
          <label for="swElectricity" class="label-success"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-2">
    <button class="btn btn-sm btn-default" ng-click="clear()" translate>CLEAR</button>
    <button class="btn btn-sm btn-primary" ng-disabled="numberItemSelected < 1" ng-click="openMultipleItemEditor()">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate>MULTIPLE_EDITION</span>
    </button>
    <button class="btn btn-sm btn-primary" ng-click="downloadCsv()"><span class="glyphicon glyphicon-save"></span>&nbsp;<span translate>EXTRACT_RESULTS</span></button>
  </div>

  <div class="clearfix"></div>
</div>

<div class="table-responsive mt-3">
  <table class="table table-striped vmiddle">
    <thead>
      <tr>
        <th class="select"><input type="checkbox" ng-model="allSelected" ng-click="selectAll()"></th>
        <th translate>TH_SKILL_SECTOR</th>
        <th translate>TH_SKILL</th>
        <th translate>TH_NAME</th>
        <th translate>TH_QUANTITY</th>
        <th translate>TH_PART_NUM</th>
        <th translate>TH_STATUS</th>
        <th translate>TH_SUPPLIER</th>
        <th translate>TH_EXTRA_DETAILS</th>
        <th translate>TH_UNIT_COST</th>
        <th translate>TH_TOTAL_PRICE</th>
      </tr>
    </thead>
    <tbody ng-show="items.length && !loading.items">
      <tr ng-repeat="item in items"  ng-class="{'warning': item.selected}">
        <td class="select">
          <label for=""><input type="checkbox" ng-model="item.selected" ng-click="selectItem(item)"></label>
        </td>
        <td>{{item.category.list.skill.sector.name.text}}</td>
        <td>{{item.category.list.skill.name.text}}</td>
        <td>{{item.description.text}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.supplied_item.part_number}}</td>
        <td>
          <span class="label" ng-class="{'label-danger': item.status.id == ITEM_STATUS.RED,
          'label-warning': item.status.id == ITEM_STATUS.YELLOW,
          'label-info': item.status.id == ITEM_STATUS.BLACK,
          'label-success': item.status.id == ITEM_STATUS.GREEN}"
          >
            {{item.status.name.text}}
          </span>
        </td>
        <td>{{item.supplier}}</td>
        <td>{{item.supplied_item.extra_details}}</td>
        <td>{{item.supplied_item.unit_cost}}</td>
        <td>{{item.price}}</td>
      </tr>
    </tbody>
    <tbody ng-show="!items.length || loading.items">
      <tr>
        <td ng-if="loading.items" colspan="11"><ws-spinner></ws-spinner></td>
        <td ng-if="!loading.items" colspan="11" class="text-center" translate>NO_ITEMS</td>
      </tr>
    </tbody>
    <tfoot ng-if="items.length && !loading.items">
      <tr>
        <td colspan="11" class="text-center">
          <uib-pagination total-items="items_total_count" ng-model="current_page"
            items-per-page='items_per_page' class="pagination-small"
            boundary-links="true" rotate="false" max-size="5"
            ng-change="changePage(current_page)"></uib-pagination>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
