<fieldset>
  <ws-spinner class='bigSpinner' ng-if='loading.init'></ws-spinner>
  <div ng-hide="loading.init">

    <span class='pull-right'>
    <!-- 	<button ng-class="{'btn-warning': sortable === true, 'btn-info': sortable === false}" ng-click="sortable = !sortable" class='btn btn-sm'>
        <span ng-show='sortable'>Sort mode ON</span>
        <span ng-hide='sortable'>Sort mode OFF</span>
      </button> -->

      <button type="button" ng-click="addItem();" class="pull-right btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> <span translate>ADD_ITEM</span>
      </button>

      <div class='searchContainer pull-right'>
        <input ng-model-options="{ debounce: 500 }" type="text" class="form-control searchControl" placeholder="{{ 'PLACEHOLDER.SEARCH' | translate }}" ng-model="filterValue" ng-change="filter()">
        <span class='searchIcon glyphicon glyphicon-search' aria-hidden='true'></span>
      </div>
    </span>

    <p><br class='cb'></p>

    <br />

    <ws-spinner class='bigSpinner' ng-if='loading.addItem'></ws-spinner>

    <!-- standard sets -->
    <ws-spinner ng-show='loading.addSet'></ws-spinner>
    <div ng-show='standardSetSelector' class='well'>
      <h5 translate>ADD_STANDARD_SET</h5>
      <angucomplete-alt id="id"
        placeholder="{{ 'PLACEHOLDER.SEARCH_FROM_STANDARD' | translate }}"
        pause="400"
        selected-object="addSelectedSet"
        remote-url="{{searchSetAPI}}"
        remote-url-request-with-credentials="true"
        remote-url-data-field="sets"
        title-field="name"
        description-field="description"
        minlength="2"
        search-fields="name"
        disable-input="disableInput"
        focus-first="true"
        override-suggestions="true"
        field-required="true"
        text-searching="{{ 'TEXT_SEARCHING.SEARCH_FOR_STANDARD' | translate }}"
        text-no-results="{{ 'TEXT_NO_RESULTS.NO_SETS' | translate }}"
        input-class="form-control form-control-small has-feedback"
      />
    </div>
    <!-- /standard sets -->

    <!-- notifications for no items -->
    <div class="row" ng-hide="loading.addItem">
      <div class="col-sm-12" ng-show="items.length == 0 && !loading.init">
        <div class='alert alert-warning'>
          <p ng-if="filterValue.length > 0">
            <span class='glyphicon glyphicon-info-sign'></span> <span translate>SEARCH_NO_RESULTS</span><br />
            <a ng-click="clearSearchTerms();"><span translate>CLEAR_SEARCH_TERMS</span></a>
          </p>
          <p ng-if="!filterValue || filterValue.length == 0"><span class='glyphicon glyphicon-info-sign'></span> <span translate>CATEGORY_NO_ITEMS</span></p>
        </div>
      </div>

      <!-- tree of items -->
      <div class="col-sm-12" ng-show="items.length > 0">
        <div class="table-responsive">
          <table class="table table-striped">
            <colgroup>
              <col width="20%" />
              <col width="30%" />
              <col width="30%" />
              <col width="10%" />
              <col width="10%" />
            </colgroup>
            <tr>
              <th class="text-right" ng-class="{dropup: reverse}">
                <span ng-click="sortBy('readable_quantity');" translate>QUANTITY</span>
                <span class="caret" ng-show="orderProperty === 'readable_quantity'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('description.text');" translate>DESCRIPTION</span>
                <span class="caret" ng-show="orderProperty === 'description.text'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('area.name');" translate>SKILL_AREA</span>
                <span class="caret" ng-show="orderProperty === 'area.name'"></span>
              </th>
              <th ng-class="{dropup: reverse}">
                <span ng-click="sortBy('status.id');" translate>STATUS</span>
                <span class="caret" ng-show="orderProperty === 'status.id'"></span>
              </th>
              <th>
                <span translate>ACTIONS</small>
              </th>
            </tr>
            <tr ng-repeat="item in items | orderBy:orderProperty:reverse track by $id(item)" ng-include="'views/item_render.html'"></tr>
          </table>
        </div>
      </div>
      <div style="top: 30px;" class="col-sm-12" ng-if="additionRecommendationsCount > 0">
        <span class="fa fa-plus icon-circled"></span>
        <span style="color: #7c9eb2;">{{'X_ADDITIONS_FOR_CATEGORY' | translate:{ count: additionRecommendationsCount } }}</span>
      </div>
      <div style="top: 60px;" class="col-sm-12" ng-if="canRecommend()">
        <a ui-sref="recommendations({eventId: selectedSkill.event.id})" translate>HANDLE_RECOMMENDATIONS</a>
      </div>
    </div>
  </div>
</fieldset>
