<ws-spinner class="bigSpinner" ng-if="loading.init"></ws-spinner>
<fieldset ng-show="!loading.init"><legend translate>OVERVIEW</legend>

<p translate>TO_EDIT_ITEMS</p>
<p>&nbsp;</p>
<div class='row'>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>SKILL_MANAGEMENT</div>
			<div class='panel-body'>
				<table class='table table-striped'>
					<thead>
						<tr>
							<th translate>POSITION</th>
							<th translate>NAME</th>
							<!--<th>Email</th>-->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pp in skillManagement track by $index">
							<td>{{pp.position.name.text}}</td>
							<td>{{pp.person.first_name}} {{pp.person.last_name}}</td>
							<!--<td>person_{{n}}@example.com</td>-->
						</tr>
					</tbody>
				</table>
        <p class="small"><span translate>VIEW_ALL_LIST</span> <a target="_blank" href="https://www.worldskills.org/internal/wiw/?name=&member=&event={{selectedEvent.id}}&position=&skill={{selectedSkill.id}}">who-is-who</a></p>
			</div>
		</div>
	</div>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>PROGRESS</div>
			<div class='panel-body'>
				<div class="progress">
				  <div
            ng-repeat="status in statusSummary"
            ng-class="{
            'progress-bar-success': status.status.id == ITEM_STATUS.GREEN,
            'progress-bar-warning': status.status.id == ITEM_STATUS.YELLOW,
            'progress-bar-danger': status.status.id == ITEM_STATUS.RED
            }"
            class="progress-bar" style="width: {{status.count / totalItems * 100}}%">
				    <span uib-tooltip="{{status.status.name.text}}" tooltip-placement="top" tooltip-trigger="mouseenter" class="">{{status.count}}</span>
				  </div>
				</div>
			</div>
		</div>

		<div class='panel panel-default'>
			<div class='panel-heading' translate>REPORTS</div>
			<div class='panel-body'>
				<button type="button" ui-sref="publicItems({eventId: event_id, skillId: skill_id})" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-download-alt"></i> <span translate>REPORT_PRINT_VIEW</span></button>
				<button type="button" ng-click="exportSkill();" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-download-alt"></i> <span translate>REPORT_REQUESTED_ITEMS</span></button>
			</div>
		</div>
	</div>
</div>

</fieldset>
