<div id='userActions'>
<p class="pull-right">
    <!-- <button class="btn btn-info" ui-sref="home"><span ng-cloak translate>Action button if needed?</span></button> -->
</p>
</div>

<h1>{{selectedSkill.name.text}}</h1>
<hr class='cb' />
<div class='row'>
	<div class="col-sm-3 col-md-2 sidebar-right">        
         <div ng-hide="myProfile" class="list-group">                                          
            <a ui-sref-active='active' class="list-group-item" ui-sref='skill.overview({skillId: skill_id})'><small ng-cloak translate>OVERVIEW</small></a>
            <a ng-repeat="category in categories" ui-sref-active='active' class="list-group-item" ui-sref='skill.category({skillId: skill_id, categoryId:category.id})'><small ng-cloak translate>{{category.category.name.text}}</small></a>                                            
         </div>
     </div>

    <!-- <ws-spinner ng-show='loading.initial'></ws-spinner> -->
    <div class="col-sm-9 col-md-10" id="content" ui-view=""></div>            
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>