<ws-spinner class="bigSpinner" ng-if="loading.init"></ws-spinner>
<fieldset ng-show="!loading.init"><legend translate>OVERVIEW</legend>

<p translate>TO_EDIT_ITEMS</p>
<p>&nbsp;</p>
<div class='row'>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>SKILL_MANAGEMENT</div>
			<div class='panel-body'>
				<table class='table table-striped'>
					<thead>
						<tr>
							<th translate>TH_POSITION</th>
							<th translate>TH_NAME</th>
							<!--<th>Email</th>-->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pp in skillManagement track by $index">
							<td>{{pp.position.name.text}}</td>
							<td>{{pp.person.first_name}} {{pp.person.last_name}}</td>
							<!--<td>person_{{n}}@example.com</td>-->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class='col col-xs-12 col-sm-6'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>PROGRESS</div>
			<div class='panel-body'>
				<div class="progress">
				  <div
            ng-repeat="status in statusSummary"
						ng-style="{'background-color': status.status.color_code}"
            class="progress-bar" style="width: {{status.count / totalItems * 100}}%">
				    <span uib-tooltip="{{status.status.name.text}}" tooltip-placement="top" tooltip-trigger="mouseenter" class="">{{status.count}}</span>
				  </div>
				</div>
			</div>
		</div>

		<div class='panel panel-default'>
			<div class='panel-heading' translate>REPORTS</div>
			<div class='panel-body'>
				<button type="button" ui-sref="publicItems({eventId: event_id, skillId: skill_id})" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-download-alt"></i> <span translate>BUTTON_REPORT_PRINT_VIEW</span></button>
				<button type="button" ng-click="exportSkill();" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-download-alt"></i> <span translate>BUTTON_REPORT_REQUESTED_ITEMS</span></button>
			</div>
		</div>
	</div>
</div>

</fieldset>
