<ol class="breadcrumb">
    <li><a ui-sref="eventList" translate>EVENTS</a></li>
    <li><a ui-sref="event({eventId: selectedSkill.event.id})">{{selectedSkill.event.name.text}}</a></li>
    <li class="active">{{selectedSkill.name.text}}</li>
</ol>

<h1 class="h2">{{ selectedSkill.skill_number }} {{ selectedSkill.name.text }} <small>{{ selectedSkill.event.name.text }}</small></h1>

<hr class='cb' />
<div class='row'>
	<div class="col-sm-3 col-md-2 sidebar-right">
         <div ng-hide="myProfile" class="list-group">
            <a ui-sref-active='active' class="list-group-item" ui-sref='eventBase.skill.overview({eventId: event_id, skillId: skill_id})'><small ng-cloak translate>OVERVIEW</small></a>
            <a ng-repeat="category in categories" ui-sref-active='active' class="list-group-item" ui-sref='eventBase.skill.category({eventId: event_id, skillId: skill_id, categoryId:category.id})'><small ng-cloak translate>{{category.name.text}}</small></a>
         </div>

        <div class="list-group" ng-if="selectedSkill.event.userCanEdit">
          <a class="list-group-item" ui-sref='eventBase.catalogue({eventId: event_id})'><small ng-cloak translate>CATALOGUE_VIEW</small></a>
        </div>
     </div>

    <div class="col-sm-9 col-md-10" id="content" ui-view=""></div>
</div>


<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
