<div class="modal-header">
  <h3 class="modal-title" translate>suggest_delete</h3>
</div>
<div class="modal-body">
  <div style="margin-bottom: 32px;" translate>confirm_deletion_suggestion</div>
  <textarea ng-model="comment" rows="10" name="extra_details" class="form-control" placeholder="{{ 'approver_information' | translate }}"></textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" ng-click="cancel()" translate>button_cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()" translate>button_submit</button>
</div>
