<div class="aside">
  <fieldset>
    <legend translate>find_product</legend>
    <alerts></alerts>
    <form name="form" ng-submit="search()">
      <div class="input-group">
        <input type="text" class="input-sm form-control" name="term" ng-model="searchTerm" autofocus autocomplete="off">
          <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="button" ng-click="search()" translate>button_search</button>
          </span>
      </div>
    </form>
    <br>
    <table class="table smallText">
      <thead>
        <tr>
          <th translate>th_description</th>
          <th translate>th_manufacturer</th>
          <th translate>th_model</th>
          <th translate>th_size</th>
          <th translate>th_supplier</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="suppliedItem in searchResults.supplied_items">
          <td><a href ng-click="selectSuppliedItem(suppliedItem)">{{suppliedItem.description.text}}</a></td>
          <td>{{suppliedItem.manufacturer}}</td>
          <td>{{suppliedItem.model}}</td>
          <td>{{suppliedItem.size}}</td>
          <td>{{suppliedItem.supplier.name}}</td>
        </tr>
        <tr ng-show="!searchResults">
          <td colspan="5" translate>please_type_search_term</td>
        </tr>
        <tr ng-show="searchResults.supplied_items.length == 0">
          <td colspan="5" translate>no_items_found_please_retype</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <button ng-disabled="!searchResults" ng-show="!item.id" ng-click="createNewSuppliedItem(item)" class="btn btn-sm btn-primary" ng-if="event.userCanCreate" translate>create_new_product</button>
    <button ng-click="cancel()" class="btn btn-sm btn-warning" translate>button_cancel</button>
  </fieldset>
</div>
