<div class="modal-header"><h3 class="modal-title">{{data.title}}</h3></div>
<div class="modal-body">
  <p translate>are_you_sure_you_want_to_unlink</p>
  <p>
    &nbsp;
  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th translate>th_id</th>
      <th translate>th_requested</th>
      <th translate>th_status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{data.item.id}}</td>
      <td>{{data.item.description.text}} <span class="label label-info">{{data.item.description.lang_code}}</span></td>
      <td>{{data.item.status.name.text}}</td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ok()">{{data.ok}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>
